<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>Libvol - US Jobs</title>
   <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.dark.css" rel="stylesheet">
  <link href="/css/notification.css" rel="stylesheet">
</head>
<style>
.jqx-danger-dark {
    text-shadow: none !important;
    color: #fbd9d9 !important;
    font-weight: bold;
    background: #ff4b5552 !important;
    border-color: #d9534f !important;
}
 
.factorBold{
    font-weight:bold;
    color: white!important;
}
.edit {
    margin: 0.5rem;
    color: white;
    background-color: #719DF0!important;
    border-color: var(--jqx-border);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.1rem 28%;
}
.update{
    margin: .5rem;
    color: white;
    background-color: #009a4e!important;
    border-color: var(--jqx-border);
    border-radius: 4px;
    border: 1px solid transparent;
        padding: 1px 3px;
}
.cancel{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
    color: white;
    background-color:#506B8B!important;
    border-color: var(--jqx-border);
    border-radius: 4px;
    border: 1px solid transparent;
        padding: 1px 3px;
}
:checked {
font-weight:bold;
}
.fontTitle{
    font-size: .8rem;
}
.checkboxesTitle{
font-size: 0.8rem;
}
.jqx-widget-dark .jqx-grid-column-header-dark {
    font-size: .67rem;
    text-align: center;
}
.jqx-tree-dark .jqx-checkbox-dark .jqx-checkbox-default-dark, .jqx-checkbox-dark[checked] .jqx-checkbox-default-dark, .jqx-tree-grid-checkbox[checked].jqx-checkbox-default-dark, .jqx-radiobutton-dark[checked] .jqx-radiobutton-default-dark {
    border: #b7b9cc solid 0px;
    background-color: #304256;
    border-color: #5A627D;
}
.jqx-checkbox-default.jqx-checkbox-default-dark.jqx-fill-state-normal.jqx-fill-state-normal-dark.jqx-rc-all.jqx-rc-all-dark.ripple {
    display: none;
}
.jqx-checkbox-dark .ripple, .jqx-radiobutton-dark .ripple {
    overflow: visible;
    display: none;
}
[aria-checked="true"] {
    font-weight: bold;
    color: #e2e2e2!important;
   text-shadow: 1px 1px 0px #060605;
}
.jqx-checkbox-dark {
    text-align: center;
}
.card-body .filter{
 text-align: center;
}
.card-img-top {
    width: 112%;
    }
button#deleteByDate {
    position: absolute;
    margin-top: -0.3rem;
}
/* .jqx-grid-cell-left-align {
    text-align: center;
} */
.container, .container-fluid, .container-login {
    padding-left: 1rem;
    padding-right: 1rem;
}
.fs-7{
font-size: .7rem;
width: 25%;
padding-right:.2rem;
}
.w-105 {
      width: 105px;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }

 .green {
      background: #24a764 !important;
      border: 0px;
    }

    .green>img {
      position: relative !important;
      top: 0px !important;
      left: 0px !important;
    }

    .red {
      background: #f23a3a !important;
      border: 0px;
    }

    .red>img {
      position: relative !important;
      top: 0px !important;
      left: 0px !important;
    }
</style>
<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
       
         <div id="fixedMenu">
               <!-- TopBar -->
		     	<div th:include="${mainmenu}"></div>
		        <!-- Topbar -->

        <!-- Container Fluid-->
             <div th:include="${maindatainputnav}"></div>
            <div id="overlay" class="col-12">
		     			<img src="/css/images/loader.gif" alt="Loading" width="46px" />
		   </div>
		   </div>
		   <div id="content">
     
          <div class="container-fluid" id="container-wrapper" style="display:none;">
           <div class="col-lg-12">
              <!-- Form Basic -->
             <div class="col mt-4 ml-4">
              <div class="btn-group" role="group" aria-label="First group">
			    <button type="button" class="btn btn-secondary mw-100" id="UsJobsOpening-btn"  th:onclick="'javascript:toggleDivVisibility(1)'"> JOLTS</button>
			    <button type="button" class="btn btn-secondary mw-100" id="UsADPChange-btn"  th:onclick="'javascript:toggleDivVisibility(2)'">ADP</button>
			    <button type="button" class="btn btn-secondary mw-100" id="UsNFP-btn"  th:onclick="'javascript:toggleDivVisibility(3)'">NON-FARM</button>
			    <button type="button" class="btn btn-secondary mw-100" id="UsUnempRate-btn"  th:onclick="'javascript:toggleDivVisibility(4)'">UNEMP. Rate</button>
			   	<button type="button" class="btn btn-secondary mw-100" id="UsHouseHoldSurv-btn"  th:onclick="'javascript:toggleDivVisibility(5)'">HOUSEHOLD SURVEY of JOBS</button>
			   </div>
			</div>
            <div class="collapse show" id="collapseExample">
  			 <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between padding-botton-0">
                 <div  th:classappend="${usjobs == 1} ? 'col-6' : 'col-5'" class=" d-flex justify-content-between">
                  <h6 class="m-0 font-weight-bold" style="color: #9ab4e0;">Data Input</h6>
                  <div id='dateInput'></div>
                   </div>
                   <div th:if="${usjobs != 1}" class="col-1"></div>
                   <div class="col-6">
                   <div id='dateInputAudit'></div>
                   </div>
                </div>
                <div class="card-body" style="  padding-top: 0;
											    padding-right: 1.25rem;
											    padding-bottom: 0;
											    padding-left: 1.25rem;">
                 <div class="row">
                 <div th:classappend="${usjobs == 1} ? 'col-6' : 'col-5'" class=" d-flex justify-content-between">
                 	<div id="usjobsValue" th:text="${usjobs}" style="display:none;"></div>
                 	<input id="usjobsSubGroup1" style="display:none;" value="th:text='${usjobs}'"/>
                    <div th:if="${usjobs == 1}" class="col-12 pr-0" id="UsJobsOpening-input">
	          
		                <div class="col-6   p-0 " style="min-width: 660px;">
                          <div class="col-12 d-flex">
                             
                            <div class="pl-0 " id="1">
                             
                              <div class="col d-flex p-0">
							  
                                <div class="" id="1-17">
                                  <div class="col  ">
                                    <form id="dataformInput77final">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="1-usjobs">FINAL <input type="text" class="form-control" id="data-input-77final" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid77final" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons77final" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load77final" value="" />
                                        <input id="cancel77final" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                              </div>
                            </div>
                           <div class="  pr-0 " id="2">
                               
                              <div class="col d-flex p-0">
							  
                                <div class="" id="3-17">
                                  <div class="col  ">
                                    <form id="dataformInput77initial">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="3-usjobs"> INITIAL <input type="text" class="form-control" id="data-input-77initial" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid77initial" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons77initial" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load77initial" value="" />
                                        <input id="cancel77initial" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          
                              </div>
                            </div>
							   <div class="  pr-0 " id="3">
							  
                              <div class="col d-flex p-0">
							     
                                <div class="" id="3-17">
                                  <div class="col  ">
                                    <form id="dataformInput77surv">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="3-usjobs"> SURV <input type="text" class="form-control" id="data-input-77surv" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid77surv" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons77surv" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load77surv" value="" />
                                        <input id="cancel77surv" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                          
                              </div>
                            </div>
                          </div>
                         
                        </div>
	                 </div>
					  <div th:if="${usjobs == 2}" class="col-12 pr-0" id="UsADPChange-input">
	          
		                <div class="col-6   p-0 " style="min-width: 660px;">
                          <div class="col-12 d-flex">
                             
                            <div class="pl-0 " id="1">
                             
                              <div class="col d-flex p-0">
							  
                                <div class="" id="1-17">
                                  <div class="col  ">
                                    <form id="dataformInput78final">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="1-usjobs">FINAL <input type="text" class="form-control" id="data-input-78final" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid78final" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons78final" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load78final" value="" />
                                        <input id="cancel78final" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                              </div>
                            </div>
                           <div class="  pr-0 " id="2">
                               
                              <div class="col d-flex p-0">
							  
                                <div class="" id="3-17">
                                  <div class="col  ">
                                    <form id="dataformInput78initial">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="3-usjobs"> INITIAL <input type="text" class="form-control" id="data-input-78initial" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid78initial" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons78initial" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load78initial" value="" />
                                        <input id="cancel78initial" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          
                              </div>
                            </div>
							   <div class="  pr-0 " id="3">
							  
                              <div class="col d-flex p-0">
							     
                                <div class="" id="3-17">
                                  <div class="col  ">
                                    <form id="dataformInput78surv">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="3-usjobs"> SURV <input type="text" class="form-control" id="data-input-78surv" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid78surv" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons78surv" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load78surv" value="" />
                                        <input id="cancel78surv" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                          
                              </div>
                            </div>
                          </div>
                         
                        </div>
	                 </div>
					  <div th:if="${usjobs == 3}" class="col-12 pr-0" id="UsNFP-input">
	          
		                <div class="col-6   p-0 " style="min-width: 660px;">
                          <div class="col-12 d-flex">
                             
                            <div class="pl-0 " id="1">
                             
                              <div class="col d-flex p-0">
							  
                                <div class="" id="1-17">
                                  <div class="col  ">
                                    <form id="dataformInput79final">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="1-usjobs">FINAL <input type="text" class="form-control" id="data-input-79final" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid79final" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons79final" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load79final" value="" />
                                        <input id="cancel79final" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                              </div>
                            </div>
							 <div class="  pr-0 " id="2">
                               
                              <div class="col d-flex p-0">
							  
                                <div class="" id="2-17">
                                  <div class="col  ">
                                    <form id="dataformInput79rev1">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="3-usjobs"> REV1 <input type="text" class="form-control" id="data-input-79rev1" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid79rev1" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons79rev1" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load79rev1" value="" />
                                        <input id="cancel79rev1" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          
                              </div>
                            </div>
                           <div class="  pr-0 " id="3">
                               
                              <div class="col d-flex p-0">
							  
                                <div class="" id="3-17">
                                  <div class="col  ">
                                    <form id="dataformInput79initial">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="3-usjobs"> INITIAL <input type="text" class="form-control" id="data-input-79initial" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid79initial" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons79initial" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load79initial" value="" />
                                        <input id="cancel79initial" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          
                              </div>
                            </div>
							   <div class="  pr-0 " id="4">
							  
                              <div class="col d-flex p-0">
							     
                                <div class="" id="4-17">
                                  <div class="col  ">
                                    <form id="dataformInput79surv">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="4-usjobs"> SURV <input type="text" class="form-control" id="data-input-79surv" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid79surv" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons79surv" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load79surv" value="" />
                                        <input id="cancel79surv" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                          
                              </div>
                            </div>
                          </div>
                         
                        </div>
	                 </div>
	                    <div th:if="${usjobs == 4}" class="col-12 pr-0" id="UsUnempRate-input">
	          
		                <div class="col-6   p-0 " style="min-width: 660px;">
                          <div class="col-12 d-flex">
                             
                            <div class="pl-0 " id="1">
                             
                              <div class="col d-flex p-0">
							  
                                <div class="" id="1-17">
                                  <div class="col  ">
                                    <form id="dataformInput80index">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="1-usjobs">INDEX <input type="text" class="form-control" id="data-input-80index" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid80index" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons80index" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load80index" value="" />
                                        <input id="cancel80index" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                              </div>
                            </div>
						
							   <div class="  pr-0 " id="2">
							  
                              <div class="col d-flex p-0">
							     
                                <div class="" id="2-17">
                                  <div class="col  ">
                                    <form id="dataformInput80surv">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="2-usjobs"> SURV <input type="text" class="form-control" id="data-input-80surv" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid80surv" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons80surv" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load80surv" value="" />
                                        <input id="cancel80surv" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                          
                              </div>
                            </div>
                          </div>
                         
                        </div>
	                 </div>
	                  <div th:if="${usjobs == 5}" class="col-12 pr-0" id="UsHouseHoldSurv-input">
	          
		                <div class="col-6   p-0 " style="min-width: 660px;">
                          <div class="col-12 d-flex">
                             
                            <div class="pl-0 " id="1">
                             
                              <div class="col d-flex p-0">
							  
                                <div class="" id="1-17">
                                  <div class="col  ">
                                    <form id="dataformInput81civilianLabForce">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="1-usjobs">CIVILIAN Labor Force<input type="text" class="form-control" id="data-input-81civilianLabForce" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid81civilianLabForce" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons81civilianLabForce" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load81civilianLabForce" value="" />
                                        <input id="cancel81civilianLabForce" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                              </div>
                            </div>
						
							   <div class="  pr-0 " id="2">
							  
                              <div class="col d-flex p-0">
							     
                                <div class="" id="2-17">
                                  <div class="col  ">
                                    <form id="dataformInput81employedLabForce">
                                      <div class="form-group" style="margin-top: 0">
                                        <div class="pt-2 d-flex">
                                          <div class="" id="2-usjobs"> EMPLOYED Labor Force <input type="text" class="form-control" id="data-input-81employedLabForce" autocomplete="off">
                                          </div>
                                        </div>
                                      </div>
                                      <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                                    </form>
                                    <div id="dataInputGrid81employedLabForce" style="margin-top: 0rem;"></div>
                                    <div class="row" id="dataInputButtons81employedLabForce" style="display: none;">
                                      <div class='col-12 d-flex justify-content-end mt-2'>
                                        <input class="btn btn-primary mr-1 mb-1 green" style="margin-right: 1rem !important; color: white;" type="button" id="load81employedLabForce" value="" />
                                        <input id="cancel81employedLabForce" type="button" style="margin: 0 !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                          
                              </div>
                            </div>
                          </div>
                         
                        </div>
	                 </div>
               </div>
               <div th:if="${usjobs != 1}" class="col-1"></div>
               <div class="col-6 d-flex justify-content-between">
                  <div th:if="${usjobs == 1}" class="col-12 p-0" id="UsJobsOpening-audit">
                       <div class="d-flex justify-content-between pb-1">
		
		                    <div class="col-9 p-0"> 
		                    	
							</div>
							<div class="col-3 p-0">
							 <button id="deleteUsJobsOpening" style="font-size: .8rem; float: right;">Delete</button> 
		                   </div>
                       </div>
					  <div id="UsJobsOpeningAuditGrid"></div>
					</div>
                   <div th:if="${usjobs == 2}" class="col-12 p-0" id="UsADPChange-audit">
					   <div class="d-flex justify-content-between pb-1">
				
							<div class="col-9 p-0"> 
								
							</div>
							<div class="col-3 p-0">
							 <button id="deleteUsADPChange" style="font-size: .8rem; float: right;">Delete</button> 
						   </div>
					   </div>
					  <div id="UsADPChangeAuditGrid"></div>
					</div>
					<div th:if="${usjobs == 3}" class="col-12 p-0" id="UsNFP-audit">
						   <div class="d-flex justify-content-between pb-1">
								<div class="col-9 p-0"> 
									
								</div>
								<div class="col-3 p-0">
								 <button id="deleteUsNFP" style="font-size: .8rem; float: right;">Delete</button> 
							   </div>
						   </div>
						  <div id="UsNFPAuditGrid"></div>
						</div>
						<div th:if="${usjobs == 4}" class="col-12 p-0" id="UsUnempRate-audit">
	                       <div class="d-flex justify-content-between pb-1">
			                    <div class="col-9 p-0"> 
			                    	
								</div>
								<div class="col-3 p-0">
								 <button id="deleteUsUnempRate" style="font-size: .8rem; float: right; ">Delete</button> 
			                   </div>
	                       </div>
						  <div id="UsUnempRateAuditGrid"></div>
						</div>
						<div th:if="${usjobs == 5}" class="col-12 p-0" id="UsHouseHoldSurv-audit">
						   <div class="d-flex justify-content-between pb-1">
								<div class="col-9 p-0"> 
									
								</div>
								<div class="col-3 p-0">
								 <button id="deleteUsHouseHoldSurv" style="font-size: .8rem; float: right; ">Delete</button> 
							   </div>
						   </div>
						  <div id="UsHouseHoldSurvAuditGrid"></div>
						</div>
                 </div>
              </div>
          </div>
     </div>
</div>
</div>

<div class="">

<div class="card-header accordion md-accordion" id="accordionFilter" style="padding:.2rem 2.5rem .2rem 2.5rem;">
<p>
  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
   Collapse Data Entry Section
  </a>
</p>
  <div class="card">
      <h6 class="mb-0">
        <button class="collapsed m-0 font-weight-bold text-primary" style="    padding: .375rem .75rem;" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
        Filters  <i class="fas fa-angle-down rotate-icon"></i>
        </button>
      </h6>
     <div id="collapseFilter" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFilter">
  	 <div class="card-body">
		<div class="row">
		 <div class="btn-group mr-2 col-12 mb-2" role="group" aria-label="Second group">
			<label style="margin-right: 1.5rem;">From</label>
				<div id='dateInputFrom' style='border-radius: 0.2rem;'>
				</div>
			<label style="margin-right: 1.5rem;    margin-left: 1.5rem;">To</label>
				<div id='dateInputTo'  style='border-radius: 0.2rem;'>
				</div>
       </div> 
       </div>
   
    <div class="row mt-2">
     <div class="col border ml-2 p-1 rounded">
        <div class="row">
          <div th:if="${usjobs == 1}" class="col-sm-9" id="UsJobsOpening-filter">
             <h6 class="col font-weight-bold">JOLTS</h6>
             <div class="d-flex justify-content-between col">
             	
             	<div class="col-4">
             			
             		<div class="row align-middle">
             			<div id='jqxCheckBoxfinal-77' style='float: left;'><span class="checkboxesTitle">FINAL</span></div> 
             		</div>
             	</div>
             	<div class="col-4">
             		
             		<div class="row align-middle">
             			<div id='jqxCheckBoxinitial-77' style='float: left;'><span class="checkboxesTitle">INITIAL</span></div> 
             		</div>
             	</div>
             	<div class="col-4">
             		<div class="row align-middle">
             			<div id='jqxCheckBoxsurv-77' style='float: left;'><span class="checkboxesTitle">SURV</span></div> 
             		</div>
             	</div>
         	 </div>
           </div>
               <div th:if="${usjobs == 2}" class="col-sm-9" id="UsADPChange-filter">
             <h6 class="col font-weight-bold">ADP</h6>
             <div class="d-flex justify-content-between col">
             	
             	<div class="col-4">
             			
             		<div class="row align-middle">
             			<div id='jqxCheckBoxfinal-78' style='float: left;'><span class="checkboxesTitle">FINAL</span></div> 
             		</div>
             	</div>
             	<div class="col-4">
             		
             		<div class="row align-middle">
             			<div id='jqxCheckBoxinitial-78' style='float: left;'><span class="checkboxesTitle">INITIAL</span></div> 
             		</div>
             	</div>
             	<div class="col-4">
             		<div class="row align-middle">
             			<div id='jqxCheckBoxsurv-78' style='float: left;'><span class="checkboxesTitle">SURV</span></div> 
             		</div>
             	</div>
         	 </div>
           </div>
           <div th:if="${usjobs == 3}" class="col-sm-9" id="UsNFPItem-filter">
             <h6 class="col font-weight-bold">NON-FARM PAYROLLS</h6>
             <div class="d-flex justify-content-between col">
             	
             	<div class="col-3">
             			
             		<div class="row align-middle">
             			<div id='jqxCheckBoxfinal-79' style='float: left;'><span class="checkboxesTitle">FINAL</span></div> 
             		</div>
             	</div>
				<div class="col-3">
             		
             		<div class="row align-middle">
             			<div id='jqxCheckBoxrev1-79' style='float: left;'><span class="checkboxesTitle">REV1</span></div> 
             		</div>
             	</div>
             	<div class="col-3">
             		
             		<div class="row align-middle">
             			<div id='jqxCheckBoxinitial-79' style='float: left;'><span class="checkboxesTitle">INITIAL</span></div> 
             		</div>
             	</div>
             	<div class="col-3">
             		<div class="row align-middle">
             			<div id='jqxCheckBoxsurv-79' style='float: left;'><span class="checkboxesTitle">SURV</span></div> 
             		</div>
             	</div>
         	 </div>
           </div>
             <div th:if="${usjobs == 4}" class="col-sm-9" id="UsUnempRate-filter">
             <h6 class="col font-weight-bold">UNEMP. Rate</h6>
             <div class="d-flex justify-content-between col">
             	
             	<div class="col-4">
             			
             		<div class="row align-middle">
             			<div id='jqxCheckBoxindex-80' style='float: left;'><span class="checkboxesTitle">INDEX</span></div> 
             		</div>
             	</div>
             	<div class="col-3">
             		<div class="row align-middle">
             			<div id='jqxCheckBoxsurv-80' style='float: left;'><span class="checkboxesTitle">SURV</span></div> 
             		</div>
             	</div>
         	 </div>
           </div>
              <div th:if="${usjobs == 5}" class="col-sm-9" id="UsHouseHoldSurv-filter">
             <h6 class="col font-weight-bold">HOUSEHOLD SURVEY of JOBS</h6>
             <div class="d-flex justify-content-between col">
             	
             	<div class="col-2">
             			
             		<div class="row align-middle">
             			<div id='jqxCheckBoxcivilian_Lab_Force-81' style='float: left;'><span class="checkboxesTitle">CIVILIAN Labor Force</span></div> 
             		</div>
             	</div>
             	<div class="col-2">
             		<div class="row align-middle">
             			<div id='jqxCheckBoxcivilian_Lab_Force_Chg-81' style='float: left;'><span class="checkboxesTitle">CIVILIAN Labor Force Chg</span></div> 
             		</div>
             	</div>
					<div class="col-2">
             		<div class="row align-middle">
             			<div id='jqxCheckBoxemployed_Lab_Force-81' style='float: left;'><span class="checkboxesTitle">EMPLOYED Labor Force</span></div> 
             		</div>
             	</div>
					<div class="col-2">
             		<div class="row align-middle">
             			<div id='jqxCheckBoxemployed_Lab_Force_Chg-81' style='float: left;'><span class="checkboxesTitle">EMPLOYED Labor Force Chg</span></div> 
             		</div>
             	</div>
					<div class="col-2">
             		<div class="row align-middle">
             			<div id='jqxCheckBoxunemployed-81' style='float: left;'><span class="checkboxesTitle">UN-EMPLOYED</span></div> 
             		</div>
             	</div>
         	 </div>
           </div>
    	</div>
    </div>
   </div>
    <div class="row mt-2 mb-2">
			<div class='col-12 d-flex justify-content-end'>
			<input  data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter" class="btn btn-primary mr-1 mb-1" style="margin-right: 1rem!important; color:white;" type="button" id="filter" value="Search" />
			<input id="Clearfilter" type="button" style="margin-right: 1rem!important;" class="btn btn-light-secondary mr-1 mb-1" value="Clear" />
			</div>
	</div>
	</div> 
	</div>
	</div>
		<div id="alertDate-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        Please Select a date smaller then Today's date.
		      </div>
		    </div>
		  </div>
	 </div>

<div id="alertDeleteDataByDate-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-danger">
		        <h4 class="modal-title white" id="myLargeModalLabel">Are you sure?</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body" id="alertTextDeleteDataByDate">

		      </div>
		       <div class="modal-footer justify-content-between">
		         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		        <button type="button" class="btn btn-primary" onclick="deleteDataByDate()">Delete Record</button>
		      </div>
		    </div>
		  </div>
	 </div>

	 <div id="alertDeleteEnergyDataByDate-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-danger">
		        <h4 class="modal-title white" id="myLargeModalLabel">Are you sure?</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body" id="alertEnergyTextDeleteDataByDate">
 			  </div>
		       <div class="modal-footer justify-content-between">
		         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		        <button type="button" class="btn btn-primary" onclick="deleteEnergyDataByDate()">Delete Record</button>
		      </div>
		    </div>
		  </div>
	 </div>
	 <div id="alertInfoDeleteDataByDate-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-success">
		        <h4 class="modal-title white" id="myLargeModalLabel">Sucess</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body" id="successDelete">
             
		      </div>
		       
		    </div>
		  </div>
	 </div>
	<div id="alert-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      The date you are trying to insert has already data in the database please choose a valid date
		      </div>
		    </div>
		  </div>
	 </div>
	 	<div id="alert-modal-robot" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">
		         Please wait, robot are under execution.
		      </div>
		    </div>
		  </div>
	 </div>
	 <div id="alert-modal-weekend" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      It is not allowed to enter data on weekend days
		      </div>
		    </div>
		  </div>
	 </div>
	 	<div id="alertFiltter-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        You must select at least one record.
		      </div>
		    </div>
		  </div>
	 </div>
	  	<div id="alertFiltterMax-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        You cannot select more than 15 criteria
		      </div>
		    </div>
		  </div>
	 	</div>
           <div id="grid">
           </div> 
           <div id="popupWindow" style="display:none;">
            <div>Edit</div>
            <div style="overflow: hidden;">
                <table>
                    <tr>
                  <td align="right">  <div id="subgroupdropDownSource" style="float: left; margin-left: .5rem;"> </div></td>
                    </tr>
                    <tr>
                        <td align="right" style="position: relative;padding-right: 15px;color: #8A99B5;background-color: #272E48;border-color: #464D5C!important;padding-left: 15px;direction: ltr; font-size: 1rem;font-weight: 400;line-height: 1.4;text-align: left;">30yr long :</td>
                        <td align="left"><input id="thirteeYrFactor" /></td>
                    </tr>
                     <tr>
                        <td align="right" style="position: relative;padding-right: 15px;color: #8A99B5;background-color: #272E48;border-color: #464D5C!important;padding-left: 15px;direction: ltr; font-size: 1rem;font-weight: 400;line-height: 1.4;text-align: left;">10yr bench :</td>
                        <td align="left"><input id=tenYrFactor /></td>
                    </tr>
                     <tr>
                        <td align="right" style="position: relative;padding-right: 15px;color: #8A99B5;background-color: #272E48;border-color: #464D5C!important;padding-left: 15px;direction: ltr; font-size: 1rem;font-weight: 400;line-height: 1.4;text-align: left;">5yr :</td>
                        <td align="left"><input id="fiveYrFactor" /></td>
                    </tr>
                     <tr>
                        <td align="right" style="position: relative;padding-right: 15px;color: #8A99B5;background-color: #272E48;border-color: #464D5C!important;padding-left: 15px;direction: ltr; font-size: 1rem;font-weight: 400;line-height: 1.4;text-align: left;">2yr :</td>
                        <td align="left"><input id="twoYrFactor" /></td>
                    </tr>
                     <tr>
                      <td align="right" style="position: relative;padding-right: 15px;color: #8A99B5;background-color: #272E48;border-color: #464D5C!important;padding-left: 15px;direction: ltr; font-size: 1rem;font-weight: 400;line-height: 1.4;text-align: left;">Recalculate :</td>
                     <td align="left">  <div id="recalculatedropDown" style="float: left;"> </div></td>
                    </tr>
                    <tr>
                        <td style="padding-top: 1.5rem;padding-bottom: 1.5rem;" align="left"></td>
                        <td style="padding-top: 1.5rem;padding-bottom: 1.5rem;" align="left"><input class="btn btn-primary mr-1 mb-1" style="margin-right: 5px;color:white;" type="button" id="Save" value="Save" /><input id="Cancel" type="button" class="btn btn-light-secondary mr-1 mb-1" value="Cancel" /></td>
                    </tr>
                </table>
            </div>
       </div>
        </div>
        <!---Container Fluid-->
      </div>
       <div class="NewsBack container" style="position: fixed; bottom: 0px; left: 0px; max-width: 100%;  border: 2px; border-color: black;">
      	<div class="simple-marquee-container">
				<div class="marquee-sibling-date">
					<p id="todayDate"></p>
				</div>
				<div class="marquee-sibling">
					NEWS
				</div>
				<div class="marquee">
					<ul id="Newslist" class="marquee-content-items">
					</ul>
				</div>
				<div class="marquee-sibling-viewAll">
					 <input type="button" value="VIEW ALL" id='viewall' style="display:none;"/>
				</div>
			</div>
		</div>
		
      <!-- Footer -->
     
      <!-- Footer -->
    </div>
  </div>
</div>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/marquee.js"></script>
  
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/jqwidgets/jqxscrollbar.js"></script> 
  <script src="/js/jqwidgets/jqxcheckbox.js"></script>
  <script src="/js/jqwidgets/jqxmenu.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.selection.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.columnsresize.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.edit.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.pager.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.filter.js"></script> 
  <script src="/js/jqwidgets/jqxdropdownlist.js"></script> 
  <script src="/js/jqwidgets/jqxbuttongroup.js"></script> 
  <script src="/js/jqwidgets/jqxlistbox.js"></script> 
  <script src="/js/jqwidgets/jqxdata.js"></script> 
  <script src="/js/jqwidgets/jqxwindow.js"></script>
  <script src="/js/jqwidgets/jqxinput.js"></script>
  <script src="/js/jqwidgets/jqxdatetimeinput.js"></script>
  <script src="/js/jqwidgets/jqxcalendar.js"></script>
  <script src="/js/bourse/usjobs/usjobsDataInput.js"></script> 
  <script src="/js/bourse/scrollBarNews.js"></script> 
  <script src="/js/common.js"></script>
  <script src="/js/notification/sockjs.js"></script>
  <script src="/js/notification/stomp.js"></script>
  <script src="/js/notification/config.js"></script>
  <script th:inline="javascript">
	  const authorities = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.authorities}]]*/ "";
	  const hasPendingApprovalGrid= authorities.filter(item => {
	  	   return item.authority === "PENDING_APPROVAL_GRID"
	  })[0]!== undefined;
	 
  </script>
</body>

</html>