RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_URI} !^/[0-9]+\_.+\.cpaneldcv$

RewriteCond %{REQUEST_URI} !^/\well-known/pkl-validation/[A-F0-9]{32}\.txt(?:\Comodo\ DCV)?$

RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}[R=301,L]