
<div class="row">
		               <div class="col-7 pr-5">
                		<div  style=" display: flex;">
								   <div class="col pl-0 text-center">
										<div class="align-middle">
											<img height="48"  width="48" src="/img/gold.png" class="img-icon"
												data-toggle="tooltip" title="Gold">
										</div>
										<h8 class="font-weight-bold">Gold</h8>
										<div id='jqxCheckBoxGold'  class="align-middle"></div>
									</div>
								    <div class="col pl-0 text-center">
										<div class="align-middle">
											<img  height="48"  width="48" src="/img/platinum.png" class="img-icon" data-toggle="tooltip" title="Platinum" >
										</div>
										<h8 class="font-weight-bold">Platinum</h8>
										<div id='jqxCheckBoxPlatinum' class="align-middle"></div>
									</div>
								     <div class="col pl-0 text-center">
										<div class="align-middle">
											<img height="48"  width="48" src="/img/silver.png" class="img-icon" data-toggle="tooltip" title="Silver" >
										</div>
										<h8 class="font-weight-bold">Silver</h8>
									    <div id='jqxCheckBoxSilver' class="align-middle"></div>
									</div>
									 <div class="col pl-0 text-center">
										<div class="align-middle">
											<img class="br-3" height="48"  width="48" src="/img/plat-gold.png" data-toggle="tooltip" title="PLAT-GOLD sprd" >
										</div>
										<h8 class="font-weight-bold">PLAT-GOLD sprd</h8>
								        <div id='jqxCheckBoxPlatGold' class="align-middle"></div>
								    </div>
									 <div class="col pl-0 text-center">
										<div class="align-middle">
											<img class="br-3" height="48"  width="48"src="/img/gold-silver.png" data-toggle="tooltip" title="GOLD/SILV ratio" >
										</div>
										<h8 class="font-weight-bold">GOLD/SILV ratio</h8>
									    <div id='jqxCheckBoxGoldSilv'  class="align-middle"></div>
								    </div>
								 </div>
		                  
                 		        </div>
		                 		
		                 		<div class="col-5">
				                       <div  style=" display: flex;">
								   
									<div class="col pl-0 text-center">
								   		 <div class="align-middle">
								   		 	<img height="48"  width="48" src="/img/copper.png" class="img-icon" data-toggle="tooltip" title="Copper">
										 </div>
								    	 <h8 class="font-weight-bold">Copper</h8>
								    	 <div id='jqxCheckBoxCopper' class="align-middle"></div>
										 
								    </div>
								      <div class="col pl-0 text-center">
										    <div class="align-middle">
												<img  height="48"  width="48" src="/img/aluminum.png" class="img-icon" data-toggle="tooltip" title="Aluminum">
											</div>
											<h8 class="font-weight-bold">Aluminum</h8>
											<div id='jqxCheckBoxAluminum'  class="align-middle"></div>
									</div>
								      <div class="col pl-0 text-center">
										<div class="align-middle">
											<img height="48"  width="48" src="/img/steel.png" class="img-icon" data-toggle="tooltip" title="Steel">
										 </div>
										 <h8 class="font-weight-bold">Steel</h8>
										 <div id='jqxCheckBoxSteel'  class="align-middle"></div>
									</div>
								     <div class="col pl-0 text-center">
										<div class="align-middle">
											<img height="48"  width="48" src="/img/lumber.png" class="img-icon" data-toggle="tooltip" title="Lumber">
											</div>
											<h8 class="font-weight-bold">Lumber</h8>
											<div id='jqxCheckBoxLumber'  class="align-middle"></div>
									</div>
								 </div>
				                 </div>
				                 </div>
				                <div class="row mt-5">
				                 	<div class="col-4">
					                   <div  style=" display: flex;">
				  					 <div class="col pl-0 text-center">
										<div class="align-middle">
											<img height="48"  width="48"  src="/img/corn.png" class="img-icon" data-toggle="tooltip" title="Corn">
								        </div>
										<h8 class="font-weight-bold">Corn</h8>
									    <div id='jqxCheckBoxCorn'  class="align-middle"></div>
								    </div>
				 					 <div class="col pl-0 text-center">
										<div class="align-middle">
											<img  height="48"  width="48"  src="/img/sugar.png" class="img-icon" data-toggle="tooltip" title="Sugar">
								        </div>
										<h8 class="font-weight-bold">Sugar</h8>
									    <div id='jqxCheckBoxSugar'  class="align-middle"></div>
								    </div>
				 					<div class="col pl-0 text-center">
										<div class="align-middle">
											<img height="48"  width="48"  src="/img/wheat.png" class="img-icon" data-toggle="tooltip" title="Wheat">
								        </div>
										<h8 class="font-weight-bold">Wheat</h8>
									    <div id='jqxCheckBoxWheat'  class="align-middle"></div>
								    </div>
								    
								 </div>
		              		    </div>
		              		    <div class="col-8 pl-4">
										<div class="row">
								    <div class="col text-center">
								   		 <div class="align-middle">
								   		 	<img height="48"  width="48" src="/img/oil.png" class="img-icon" data-toggle="tooltip" title="CRUDE OIL ">
								    	 </div>
								    	 <h8 class="font-weight-bold">CRUDE OIL</h8>
								    	 <div id='jqxCheckBoxOil' class="align-middle"></div>
										 
								    </div>
								    <div sec:authorize="hasAuthority('nothing')"  class="col-2 text-center">
								    	<div class="align-middle">
								   	 		<img  height="48"  width="48" src="/img/gazoline.png" class="img-icon" data-toggle="tooltip" title="US GAL/GASOLINE">
								   		</div>
								   		<div id='jqxCheckBoxGASOLINE_GALL' class="align-middle"></div>
								    </div>
								     <div class="col text-center">
								      	<div class="align-middle">	
								     		<img  height="48"  width="48" src="/img/gazoline_20.png" class="img-icon" data-toggle="tooltip" title="US GAS-20L">
								    	</div>
								        <h8 class="font-weight-bold">US GAS-20L</h8>
								        <div id='jqxCheckBoxGASOLINE_LITRE' class="align-middle"></div>
								    </div>
								    <div sec:authorize="hasAuthority('nothing')"  class="col-2">
								    	<div class="align-middle">	
								    		<img height="48"  width="48" src="/img/diezel.png" class="img-icon" data-toggle="tooltip" title="US GAL/DIESEL">
								   		</div>
								    	<div id='jqxCheckBoxDIESEL_GALL' class="align-middle"></div>
								    </div>
								     <div class="col text-center">
								     	<div class="align-middle">
								     		<img height="48"  width="48" src="/img/diezel_ton.png" class="img-icon" data-toggle="tooltip" title="DIESEL/Ton">
								    	</div>
								    	<h8 class="font-weight-bold">DIESEL/Ton</h8>
								    	<div id='jqxCheckBoxDIESEL_TON' class="align-middle"></div>
								    </div>
								     <div class="col text-center">
									     <div class="align-middle">
									     	<img height="48"  width="48" src="/img/natgasUs.png" class="img-icon" data-toggle="tooltip" title="US NATGAS">
										 </div>
										 <h8 class="font-weight-bold">US NATGAS</h8>
										  <div id='jqxCheckBoxNATGAS_USD' class="align-middle"></div>
									 </div>
								     <div class="col text-center">
								     	<div class="align-middle">
								     		<img height="48"  width="48" src="/img/natgasEur.png" class="img-icon" data-toggle="tooltip" title="EUROZONE NATGAS">
								    	 </div>
								    	 <h8 class="font-weight-bold">EUROZONE NATGAS</h8>
								    	 <div id='jqxCheckBoxNATGAS_EUR' class="align-middle"></div>
								    </div>
							 </div>
                 		</div>
	              		</div>
	              		<div class="row mt-5">
							<div class="col-3">
											<div  style=" display: flex;">
											    <div class="col pl-0 text-center">
													<div class="align-middle">
														<img height="48"  width="48" src="/img/baltic.png" class="img-icon" data-toggle="tooltip" title="BALTIC DRY INDEX">
													</div>
													<h8 class="font-weight-bold">BALTIC DRY INDEX</h8>
												    <div id='jqxCheckBoxBaltic'  class="align-middle"></div>
											    </div>
											      <div class="col pl-0 text-center">
													<div class="align-middle">
														<img  height="48"  width="48" src="/img/container.png" class="img-icon" data-toggle="tooltip" title="40ft Container">
													</div>
													<h8 class="font-weight-bold">40ft Container</h8>
												    <div id='jqxCheckBoxContainer'  class="align-middle"></div>
											    </div>
											 </div>
			                 		</div>
			                 		<div class="col-4"></div>
			                 		<div class="col-5">
					                 </div>
			                     </div>