				<div class="col-sm-12 p-0" id="Fx-filter">
									<div class="d-flex justify-content-between col">
										<div class="d-grid ">
										    <h6 class="col font-weight-bold mt-2">Fx</h6>
									
											<img height="48" width="48" id="usd-flag"
												class="mt-auto" src="/img/flag/united-states.png">
										</div>
										<div class="d-grid ">
											<div style="height: 48px"></div>
											<h8 class="font-weight-bold align-middle">USDEUR</h8>
											<div id='jqxCheckBoxusdeur' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/united-kingdom.png">
											<h8 class="font-weight-bold align-middle">GBPUSD</h8>
											<div id='jqxCheckBoxgbpusd' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/switzerland.png">
											<h8 class="font-weight-bold align-middle">USDCHF</h8>
											<div id='jqxCheckBoxusdchf' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/japan.png">
											<h8 class="font-weight-bold align-middle">USDJPY</h8>
											<div id='jqxCheckBoxusdjpy' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/canada.png">
											<h8 class="font-weight-bold align-middle">USDCAD</h8>
											<div id='jqxCheckBoxusdcad' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/china.png">
											<h8 class="font-weight-bold  align-middle">USDCNY</h8>
											<div id='jqxCheckBoxusdcny' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/sweden.png">
											<h8 class="font-weight-bold align-middle">USDSEK</h8>
											<div id='jqxCheckBoxusdsek' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/australia.png">
											<h8 class="font-weight-bold align-middle">USDAUD</h8>
											<div id='jqxCheckBoxusdaud' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/russia.png">
											<h8 class="font-weight-bold align-middle">USDRUB</h8>
											<div id='jqxCheckBoxusdrub' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/turkey.png">
											<h8 class="font-weight-bold align-middle">USDTRY</h8>
											<div id='jqxCheckBoxusdtry' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/india.png">
											<h8 class="font-weight-bold align-middle">USDINR</h8>
											<div id='jqxCheckBoxusdinr' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/hong-kong.png">
											<h8 class="font-weight-bold align-middle">USDHKD</h8>
											<div id='jqxCheckBoxusdhkd' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/south-korea.png">
											<h8 class="font-weight-bold align-middle">USDKRW</h8>
											<div id='jqxCheckBoxusdkrw' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/brazil.png">
											<h8 class="font-weight-bold align-middle">USDBRL</h8>
											<div id='jqxCheckBoxusdbrl' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/mexico.png">
											<h8 class="font-weight-bold  align-middle">USDMXN</h8>
											<div id='jqxCheckBoxusdmxn' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/saudi-arabia.png">
											<h8 class="font-weight-bold align-middle">USDSAR</h8>
											<div id='jqxCheckBoxusdsar' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/south-africa.png">
											<h8 class="font-weight-bold align-middle">USDZAR</h8>
											<div id='jqxCheckBoxusdzar' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid ">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/egypt.png">
											<h8 class="font-weight-bold align-middle">USDEGP</h8>
											<div id='jqxCheckBoxusdegp' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
									</div>
									<div class="d-flex justify-content-between col">
										<div class="d-grid ">
											<img height="48" width="48" id="usd-flag"
												class="mt-auto" src="/img/flag/eu.png">
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURUSD</h8>
											<div id='jqxCheckBoxeurusd' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">GBPEUR</h8>
											<div id='jqxCheckBoxgbpeur' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class "font-weight-boldalign-middle">EURCHF</h8>
											<div id='jqxCheckBoxeurchf' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURJPY</h8>
											<div id='jqxCheckBoxeurjpy' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURCAD</h8>
											<div id='jqxCheckBoxeurcad' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURCNY</h8>
											<div id='jqxCheckBoxeurcny' class="align-middle"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURSEK</h8>
											<div id='jqxCheckBoxeursek' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURAUD</h8>
											<div id='jqxCheckBoxeuraud' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURRUB</h8>
											<div id='jqxCheckBoxeurrub' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURTRY</h8>
											<div id='jqxCheckBoxeurtry' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURINR</h8>
											<div id='jqxCheckBoxeurinr' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURHKD</h8>
											<div id='jqxCheckBoxeurhkd' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURKRW</h8>
											<div id='jqxCheckBoxeurkrw' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURBRL</h8>
											<div id='jqxCheckBoxeurbrl' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURMXN</h8>
											<div id='jqxCheckBoxeurmxn' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURSAR</h8>
											<div id='jqxCheckBoxeursar' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EURZAR</h8>
											<div id='jqxCheckBoxeurzar' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
										<div class="d-grid">
											<div style="height: 10px"></div>
											<h8 class="font-weight-bold align-middle">EUREGP</h8>
											<div id='jqxCheckBoxeuregp' class="align-middle jqx-checkbox-items"
												style='float: left;'></div>
										</div>
									</div>

								</div>
								<div class="col-sm-12 p-0">
									<h6 class="col font-weight-bold">CDS</h6>
									<div class="d-flex justify-content-between col">
										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/germany.png">
											<h8 class="font-weight-bold align-middle">GERMANY</h8>
											<div id="jqxCheckBoxgermany" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/france.png">
											<h8 class="font-weight-bold align-middle">FRANCE</h8>
											<div id="jqxCheckBoxfrance" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/italy.png">
											<h8 class="font-weight-bold align-middle">ITALY</h8>
											<div id="jqxCheckBoxitaly" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/spain.png">
											<h8 class="font-weight-bold align-middle">SPAIN</h8>
											<div id="jqxCheckBoxspain" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>
										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/united-kingdom.png">
											<h8 class="font-weight-bold align-middle">U. K.</h8>
											<div id="jqxCheckBoxuk" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/switzerland.png">
											<h8 class="font-weight-bold align-middle">SWISS</h8>
											<div id="jqxCheckBoxswiss" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/sweden.png">
											<h8 class="font-weight-bold align-middle">SWEDEN</h8>
											<div id="jqxCheckBoxsweden" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/united-states.png">
											<h8 class="font-weight-bold align-middle">U. S. A.</h8>
											<div id="jqxCheckBoxusa" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/canada.png">
											<h8 class="font-weight-bold align-middle">CANADA</h8>
											<div id="jqxCheckBoxcanada" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/australia.png">
											<h8 class="font-weight-bold align-middle">AUSTRALIA</h8>
											<div id="jqxCheckBoxaustralia" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/japan.png">
											<h8 class="font-weight-bold align-middle">JAPAN</h8>
											<div id="jqxCheckBoxjapan" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/china.png">
											<h8 class="font-weight-bold align-middle">CHINA</h8>
											<div id="jqxCheckBoxchina" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>
										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/hong-kong.png">
											<h8 class="font-weight-bold align-middle">HONG
											KONG</h8>
											<div id="jqxCheckBoxhongkong" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/south-korea.png">
											<h8 class="font-weight-bold align-middle">Sth-KOREA</h8>
											<div id="jqxCheckBoxsouthkorea" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/india.png">
											<h8 class="font-weight-bold align-middle">INDIA</h8>
											<div id="jqxCheckBoxindia" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/brazil.png">
											<h8 class="font-weight-bold align-middle">BRAZIL</h8>
											<div id="jqxCheckBoxbrazil" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/mexico.png">
											<h8 class="font-weight-bold align-middle">MEXICO</h8>
											<div id="jqxCheckBoxmexico" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/saudi-arabia.png">
											<h8 class="font-weight-bold align-middle">
											S-ARABIA</h8>
											<div id="jqxCheckBoxsaudi" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>
										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/turkey.png">
											<h8 class="font-weight-bold align-middle">TURKEY</h8>
											<div id="jqxCheckBoxturkey" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>

										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/south-africa.png">
											<h8 class="font-weight-bold align-middle">Sth-AFRICA</h8>
											<div id="jqxCheckBoxsouthafrica" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>
										
										<div class="d-grid">
											<img height="48" width="48" class="align-middle"
												src="/img/flag/egypt.png">
											<h8 class="font-weight-bold align-middle">Egypt</h8>
											<div id="jqxCheckBoxegypt" class="align-middle jqx-checkbox-items"
												style="float: left;"></div>
										</div>
									</div>
								</div>