 <div class="row mt-4">
						        <div class="col-12 d-flex">
						           <div class="col">
						               <div class="col-3">
						               	<img alt="usa-flag" src="/img/flag/us.png" height="100px">
						               </div>
							           <div class="col-6">
							            <div class="pt-2">
							               <div class="pt-1">
							                	<div id='jqxCheckBoxavgUsatoaaaUsa' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">US  BLUECHIP /TSYS</span></div>
							              </div>
							             </div>
							             <div class="">
							                <div class="pt-1">
							               		<div id='jqxCheckBoxavgUsbtobbbUsatoaaa' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">US  HIGHYIELD  / BLUECHIP</span></div>
							             </div>
							            </div>
							             <div class="">
							                <div class="pt-1">
							              	<div id='jqxCheckBoxavgUsctocccUsbtobbb' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">US JUNKBONDS / HIGHYIELD</span></div>
							                 </div>
							            </div>
							           </div>
						            </div>
						             <div class="col">
						               <div class="col-3">
						               	<img alt="usa-flag" src="/img/flag/eu.png" height="100px">
						               </div>
							           <div class="col-6">
							            <div class="pt-2">
							               <div class="pt-1">
							                  <div id='jqxCheckBoxavgEurozoneatoaaaGermany' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">EZ BLUECHIP / 10Y GERMANY</span></div>
							              </div>
							             </div>
							             <div class="">
							                <div class="pt-1">
							               	   <div id='jqxCheckBoxavgEurozonebtobbbEurozoneatoaaa' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">EZ HIGHYIELD / BLUECHIP</span></div>
							            </div>
							            </div>
							           </div>
						            </div>
						          <div class="col">
						               <div class="col-3">
						               	<img alt="usa-flag" src="/img/flag/ecb.png" height="100px">
						               </div>
							           <div class="col-6">
							            <div class="pt-2">
							               <div class="pt-1">
							                	<div id='jqxCheckBoxExcess1' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">Overnight Deposits at the ECB</span></div>
							              </div>
							             </div>
							             <div class="">
							                <div class="pt-1">
							               		<div id='jqxCheckBoxExcess2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Current Account Holdings</span></div>
							              </div>
							            </div>
							             <div class="">
							                <div class="pt-1">
							              		<div id='jqxCheckBoxExcess3' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Reserve Requirements</span></div>
							                 </div>
							            </div>
							            <div class="">
							                <div class="pt-1">
							              	    <div id='jqxCheckBoxExcess4' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">Emergency Lending</span></div>
							              </div>
							            </div>
							            <div class="">
							                <div class="pt-1">
							              	      <div id='jqxCheckBoxExcess1Excess2Excess3Excess4' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">Excess Liquidity</span></div>
							            	</div>
							            </div>
							           </div>
						            </div>
						               <div class="col">
						               <div class="col-3">
						               	<img alt="usa-flag" src="/img/flag/ecbqe.png" height="100px">
						               </div>
							           <div class="col-6">
							            <div class="pt-2">
							               <div class="pt-1">
							                 	<div id='jqxCheckBoxQe1' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">ECB MONTHLY sovering bond QE </span></div>
							              </div>
							             </div>
							             <div class="">
							                <div class="pt-1">
							               		<div id='jqxCheckBoxQe2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">ECB MONTHLY corporate bond QE</span></div>
							               </div>
							            </div>
							             <div class="">
							                <div class="pt-1">
							              		<div id='jqxCheckBoxQe1Qe2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">ECB MONTHLY QE</span></div>
							                </div>
							            </div>
							            <div class="">
							                <div class="pt-1">
							              	    <div id='jqxCheckBoxCumQe1' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">ECB CUMULATIVE sovereign bond QE</span></div>
							              </div>
							            </div>
							            <div class="">
							                <div class="pt-1">
							              	       <div id='jqxCheckBoxCumQe2' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">ECB CUMULATIVE corporate bonds QE</span></div>
							            </div>
							            </div>
							            <div class="">
							                <div class="pt-1">
							              	     <div id='jqxCheckBoxCumQe1Qe2' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">ECB CUMULATIVE QE</span></div>
							            </div>
							            </div>
							           </div>
						            </div>
						            <div class="col">
						               <div class="col-3">
						               	<img alt="usa-flag" src="/img/flag/ezmm.png" height="100px">
						               </div>
							           <div class="col-6">
							            <div class="pt-2">
							               <div class="pt-1">
							                  	<div id='jqxCheckBoxM0' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">M0</span></div>
							            </div>
							             </div>
							             <div class="">
							                <div class="pt-1">
							               		<div id='jqxCheckBoxM1' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">M1</span></div>
							                </div>
							            </div>
							             <div class="">
							                <div class="pt-1">
							              		<div id='jqxCheckBoxM2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">M2</span></div>
							                </div>
							            </div>
							            <div class="">
							                <div class="pt-1">
							              	   <div id='jqxCheckBoxM3' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">M3</span></div>
							              </div>
							            </div>
							           </div>
						            </div>
							    </div>
							  </div>