<nav class="navbar navbar-expand navbar-light bg-navbar topbar static-top" th:with="
        auth=${#authentication},
        loggedIn=${auth != null and auth.authenticated and auth.name != 'anonymousUser'},
        firstName=${loggedIn and auth.principal != null and auth.principal.firstName != null ? auth.principal.firstName : ''},
        lastName=${loggedIn and auth.principal != null and auth.principal.lastName != null ? auth.principal.lastName : ''}
     ">
	<img id="imglogo"  onclick="toggleFullscreen()" src="../../img/logo.png" align="absmiddle" style="height:70px;margin-left: 3%;">
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">	
		<div class="navbar-nav mr-auto">
		   <div style=" background: url(../../img/WebResource.png) top left repeat-x;     display: flex; border-radius: 0.2rem; padding: 0.2rem;">
		    <th:block th:if="${loggedIn}">

                    <a sec:authorize="hasAuthority('HOME_SCREEN')"
                       href="/"
                       th:classappend="${menuId == 1} ? ' active' : ''"
                       class="nav-item nav-link">
                        <img src="../../img/ico-home.png" class="MainMenuIcon" alt="home-icon">
                        HOME
                    </a>

                    <span sec:authorize="hasAuthority('ADMIN_SCREEN')" class="rtbSeparator">
                        <span class="rtbText"></span>
                    </span>
                    <a sec:authorize="hasAuthority('ADMIN_SCREEN')"
                       href="/bourse/users"
                       th:classappend="${menuId == 3} ? ' active' : ''"
                       class="nav-item nav-link">
                        <img src="../../img/ico-admin.png" class="MainMenuIcon" alt="admin-icon">
                        <span id="notification" class="notification"></span>
                        ADMIN
                    </a>

                    <span sec:authorize="hasAuthority('NEWS_MANAGEMENT_SCREEN')" class="rtbSeparator">
                        <span class="rtbText"></span>
                    </span>
                    <a sec:authorize="hasAuthority('NEWS_MANAGEMENT_SCREEN')"
                       href="/bourse/newsmanagement"
                       th:classappend="${menuId == 16} ? ' active' : ''"
                       class="nav-item nav-link">
                        <img src="../../img/ico-news.png" class="MainMenuIcon" alt="news-icon">
                        NEWS
                    </a>

                    <span sec:authorize="hasAuthority('DATABASE_INPUT_SCREEN')" class="rtbSeparator">
                        <span class="rtbText"></span>
                    </span>
                    <a sec:authorize="hasAuthority('DATABASE_INPUT_SCREEN')"
                       href="/bourse/sovereignyields?yield=1"
                       th:classappend="${menuId == 25} ? ' active' : ''"
                       class="nav-item nav-link">
                        <img src="../../img/ico-database.png" class="MainMenuIcon" alt="database-icon">
                        DATABASE
                    </a>

                    <span sec:authorize="hasAuthority('SETTINGS_SCREEN')" class="rtbSeparator">
                        <span class="rtbText"></span>
                    </span>
                    <a sec:authorize="hasAuthority('SETTINGS_SCREEN')"
                       href="/bourse/settings"
                       th:classappend="${menuId == 26} ? ' active' : ''"
                       class="nav-item nav-link">
                        <img src="../../img/ico-admin.png" class="MainMenuIcon" alt="settings-icon">
                        SETTINGS
                    </a>

                </th:block>

                <!-- Public menu -->
                <th:block th:unless="${loggedIn}">
                    <a href="/"
                       class="nav-item nav-link active">
                        <img src="../../img/ico-home.png" class="MainMenuIcon" alt="home-icon">
                        Home
                    </a>
                </th:block>
		    </div>
		</div>
	
        <!-- Demo video button -->
        <div class="mr-2">
            <button class="blinking-button" id="video-button" type="button">
                <svg xmlns="http://www.w3.org/2000/svg"
                     data-name="Layer 1"
                     viewBox="0 0 100 125"
                     height="20"
                     class="pr-2"
                     aria-hidden="true">
                    <defs>
                        <style>.cls-1{fill-rule:evenodd;}</style>
                    </defs>
                    <path class="cls-1"
                          d="M66.687,36.789H5.134A5.155,5.155,0,0,0,0,41.923V85.13a5.155,5.155,0,0,0,5.134,5.134H66.687a5.155,5.155,0,0,0,5.135-5.134V41.923a5.155,5.155,0,0,0-5.135-5.134Zm9.2,14.922V75.342L96.909,85.853A2.124,2.124,0,0,0,100,83.938V43.116A2.124,2.124,0,0,0,96.909,41.2L75.887,51.711ZM52.055,68.35,29.411,79.672A5.4,5.4,0,0,1,21.6,74.848V52.205a5.4,5.4,0,0,1,7.813-4.824L52.055,58.7a5.388,5.388,0,0,1,0,9.647ZM27.6,76.052a1.332,1.332,0,0,1-1.938-1.2V52.205A1.331,1.331,0,0,1,27.6,51L50.244,62.323a1.345,1.345,0,0,1,0,2.407L27.6,76.052ZM56.609,21.37a7.915,7.915,0,1,0,0,11.193,7.914,7.914,0,0,0,0-11.193Zm-21.969-7.9a12.739,12.739,0,1,0,0,18.015A12.738,12.738,0,0,0,34.64,13.467Z"
                          fill="#ef4452"/>
                </svg>
                Demo Video
            </button>
        </div>
		<div class="d-flex align-items-center justify-content-between" style=" width: 270px;">
        <!-- Right side: authenticated -->
        <th:block th:if="${loggedIn}">
            <div class="nav-item dropdown user-menu">
                <a href="#"
                   data-toggle="dropdown"
                   class="w-100 nav-item nav-link dropdown-toggle user-action">
                    <i class="fas fa-user"></i>
                    <span class="ml-2 d-none d-lg-inline" th:text="${firstName}"></span>
                    <span class="ml-1 d-none d-lg-inline" th:text="${lastName}"></span>
                    <b class="caret"></b>
                </a>

                <div class="dropdown-menu logout">
                    <a href="/logout" class="dropdown-item">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Logout
                    </a>
                </div>
            </div>

            <a href="#" id="termsConditions">T &amp; C</a>
        </th:block>

        <!-- Right side: guest -->
        <th:block th:unless="${loggedIn}">
            <div class="right-actions">
                <button id="clientLogin"
                        type="button"
                        onclick="window.location.href='/login'"
                        class="w-100 jqx-rc-all jqx-rc-all-dark jqx-button jqx-button-dark jqx-widget jqx-widget-dark buttonRipple jqx-fill-state-normal jqx-fill-state-normal-dark jqx-primary jqx-primary-dark">
                    SIGN IN
                    <i class="fa-solid fa-right-to-bracket"></i>
                </button>
                <br>
                <a class="sign-up-style" href="/register">Not a member? Register</a>
            </div>
        </th:block>
	</div>
	</div>
 </nav>