<div class="col-12 d-flex">
		<div class="row col">
			<div class="col-sm-3" id="CentralBanksMetals-filter">
				<h6 class="col font-weight-bold">CENTRAL BANKS</h6>
				<div class="col p-0">

					<div class="col">
						<div class="row col m-0 p-0">
							<img height="64" src="/img/flag/ecb.png"
								class="img-icon" title="fed">
							<div class="d-flex align-items-center pl-2">
								<label>ECB</label>
							</div>
						</div>
						<div class="d-grid">
							<div class="col p-0"><div id='jqxCheckBoxEcb-17' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">RATES</span>
							</div></div>
							<div class="col p-0"><div id='jqxCheckBoxEcb-18' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">MOVES</span>
							</div></div>
						</div>
					</div>
					<div class="col pt-4">
						<div class="row col m-0 p-0">
							<img height="64" src="/img/fed.png" class="img-icon"
								title="fed">
							<div class="d-flex align-items-center pl-2">
								<label>FED</label>
							</div>
						</div>
						<div class="d-grid">
							<div class="col p-0"><div id='jqxCheckBoxFed-17' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">RATES</span>
							</div></div>
							<div class="col p-0"><div id='jqxCheckBoxFed-18' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">MOVES</span>
							</div></div>
						</div>
					</div>
					<div class="col pt-4">
						<div class="row col m-0 p-0">
							<img height="64" src="/img/boe.png" class="img-icon"
								title="fed">
							<div class="d-flex align-items-center pl-2">
								<label>BOE</label>
							</div>
						</div>
						<div class="d-grid">
							<div class="col p-0"><div id='jqxCheckBoxBoe-17' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">RATES</span>
							</div></div>
							<div class="col p-0"><div id='jqxCheckBoxBoe-18' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">MOVES</span>
							</div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<h6 class="col font-weight-bold">INFLATION SWAP
					RATES</h6>
				<div class=" col">
					<div class="col-4 p-0">
						<div class=" col">
							<div id='jqxCheckBoxEU5' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">5Y5Y EU</span>
							</div>
						</div>
					</div>
					<div class="col-4 p-0">
						<div class=" col">
							<div id='jqxCheckBoxUS5' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">5Y5Y USA</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<h6 class="col font-weight-bold">MORTGAGE RATES</h6>
				<div class=" col">
					<div id='jqxCheckBoxUsa30' class="jqx-checkbox-items" style='float: left;'>
						<span class="checkboxesTitle">30yr USA Mortgage</span>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<h6 class="col font-weight-bold">FIXINGS</h6>
				<div class=" col p-0">
					<div class="col-4">
						<div class="align-middle">
							<img src="/img/flag/eu.png" width="70px">
						</div>
						<div class="row col m-0 p-0">
							<div id='jqxCheckBoxEuribor_1' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">EURIBOR 1 MONTH</span>
							</div>
							<div id='jqxCheckBoxEuribor_3' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">EURIBOR 3
									MONTHS</span>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="align-middle">
							<img src="/img/flag/united-kingdom.png" width="70px">
						</div>
						<div class="row col m-0 p-0">
							<div id='jqxCheckBoxSonia_1' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">SONIA 1 MONTH</span>
							</div>
							<div id='jqxCheckBoxSonia_3' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">SONIA 3 MONTHS</span>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="align-middle">
							<img src="/img/flag/united-states.png" width="70px">
						</div>
						<div class="row col m-0 p-0">
							<div id='jqxCheckBoxLibor_1' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">$LIBOR 1 MONTH</span>
							</div>
							<div id='jqxCheckBoxLibor_3' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">$LIBOR 3 MONTHS</span>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>