<div class="col-10 pl-0 d-flex">
		<div class="row ">
			<div class="col-sm-3 pl-0" id="CentralBanksMetals-filter">
				<h6 class="col font-weight-bold">CENTRAL BANKS</h6>
					<div class="col p-0">
					
						<!-- ECB -->
						<div class="col">
							<div class="row col m-0 p-0">
								<img height="64" src="/img/flag/ecb.png"
									class="img-icon" title="ecb">
					
								<div class="d-flex align-items-center pl-2">
									<label>ECB</label>
								</div>
							</div>
					
							<div class="d-grid">
								<div class="col p-0">
									<div id="jqxCheckBoxecb_depo_move"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">DEPO MOVE</span>
									</div>
								</div>
					
								<div class="col p-0">
									<div id="jqxCheckBoxecb_refi_move"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">REFI MOVE</span>
									</div>
								</div>
					
								<div class="col p-0">
									<div id="jqxCheckBoxecb_lending_move"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">LENDING MOVE</span>
									</div>
								</div>
					
								<div class="col p-0">
									<div id="jqxCheckBoxecb_depo_rate"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">DEPO RATE</span>
									</div>
								</div>
					
								<div class="col p-0">
									<div id="jqxCheckBoxecb_refi_rate"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">REFI RATE</span>
									</div>
								</div>
					
								<div class="col p-0">
									<div id="jqxCheckBoxecb_lending_rate"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">LENDING RATE</span>
									</div>
								</div>
							</div>
						</div>
					
						<!-- FED -->
						<div class="col pt-4">
							<div class="row col m-0 p-0">
								<img height="64" src="/img/fed.png"
									class="img-icon" title="fed">
					
								<div class="d-flex align-items-center pl-2">
									<label>FED</label>
								</div>
							</div>
					
							<div class="d-grid">
								<div class="col p-0">
									<div id="jqxCheckBoxfed_lower_move"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">LOWER MOVE</span>
									</div>
								</div>
					
								<div class="col p-0">
									<div id="jqxCheckBoxfed_upper_move"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">UPPER MOVE</span>
									</div>
								</div>
					
								<div class="col p-0">
									<div id="jqxCheckBoxfed_lower_rate"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">LOWER RATE</span>
									</div>
								</div>
					
								<div class="col p-0">
									<div id="jqxCheckBoxfed_upper_rate"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">UPPER RATE</span>
									</div>
								</div>
							</div>
						</div>
					
						<!-- BOE -->
						<div class="col pt-4">
							<div class="row col m-0 p-0">
								<img height="64" src="/img/boe.png"
									class="img-icon" title="boe">
					
								<div class="d-flex align-items-center pl-2">
									<label>BOE</label>
								</div>
							</div>
					
							<div class="d-grid">
								<div class="col p-0">
									<div id="jqxCheckBoxboe_refi_move"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">REFI MOVE</span>
									</div>
								</div>
					
								<div class="col p-0">
									<div id="jqxCheckBoxboe_monthly_base_rate"
										class="jqx-checkbox-items">
										<span class="checkboxesTitle">BASE RATE</span>
									</div>
								</div>
							</div>
						</div>
					
					</div>			</div>
			<div class="col-sm-3">
				<h6 class="col font-weight-bold">INFLATION SWAP
					RATES</h6>
				<div class=" col">
					<div class="col-4 p-0">
						<div class=" col">
							<div id='jqxCheckBoxEU5' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">5Y5Y EU</span>
							</div>
						</div>
					</div>
					<div class="col-4 p-0">
						<div class=" col">
							<div id='jqxCheckBoxUS5' class="jqx-checkbox-items" style='float: left;'>
								<span class="checkboxesTitle">5Y5Y USA</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<h6 class="col font-weight-bold">MORTGAGE RATES</h6>
				<div class=" col">
					<div id='jqxCheckBoxUsa30' class="jqx-checkbox-items" style='float: left;'>
						<span class="checkboxesTitle">30yr USA Mortgage</span>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<h6 class="col font-weight-bold">FIXINGS</h6>
				<div class=" col p-0">
					<div class="col-4">
						<div class="align-middle">
							<img src="/img/flag/eu.png" width="70px">
						</div>
						<div class="row col m-0 p-0">
							<div id='jqxCheckBoxEuribor_1' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">EURIBOR 1 MONTH</span>
							</div>
							<div id='jqxCheckBoxEuribor_3' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">EURIBOR 3
									MONTHS</span>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="align-middle">
							<img src="/img/flag/united-kingdom.png" width="70px">
						</div>
						<div class="row col m-0 p-0">
							<div id='jqxCheckBoxSonia_1' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">SONIA 1 MONTH</span>
							</div>
							<div id='jqxCheckBoxSonia_3' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">SONIA 3 MONTHS</span>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="align-middle">
							<img src="/img/flag/united-states.png" width="70px">
						</div>
						<div class="row col m-0 p-0">
							<div id='jqxCheckBoxLibor_1' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">$LIBOR 1 MONTH</span>
							</div>
							<div id='jqxCheckBoxLibor_3' style='float: left;'
								class="col p-0 jqx-checkbox-items">
								<span class="checkboxesTitle">$LIBOR 3 MONTHS</span>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>