		 <div class="col-12">
							 <div class="row">
						       <div class="col-12">
						        <div class="d-flex no-gutters pt-2">
							        <div class="col-4"></div>
							        <div class="col-8 d-flex">
										<div class="col fs-7">15%d P <br>vs ATM</div>
										<div class="col fs-7">25%d P <br>vs ATM</div>
										<div class="col fs-7">25%d CALL <br>vs ATM</div>
										<div class="col fs-7">15%d CALL <br>vs ATM</div>
										<div class="col fs-7">50% <br>COMBO</div>
										<div class="col fs-7">30% <br>COMBO</div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						            <div class="col-4"><h7>BUND 2nd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-25-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						            <div class="col-4"><h7>BUND 2nd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-25-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"> <div id='jqxCheckBox-25-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col">  <div id='jqxCheckBox-25-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						         	<div class="col-4"><h7>BUND 3nd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-26-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						         	<div class="col-4"><h7>BUND 3nd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-26-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						         	<div class="col-4"><h7>BOBL 2nd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
											<div class="col"><div id='jqxCheckBox-27-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						         	<div class="col-4"><h7>BOBL 2nd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-27-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						         	<div class="col-4"><h7>BOBL 3rd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-28-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						         	<div class="col-4"><h7>BOBL 3rd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
											<div class="col"><div id='jqxCheckBox-28-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						         	<div class="col-4"><h7>BUXL 2nd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-29-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						         	<div class="col-4"><h7>BUXL 2nd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-29-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						          <div class="d-flex no-gutters pt-4">
					            <div class="col-4"><h7>EURIBOR 4th Mtty YIELD VOL (B&S in %)</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-30-DP15_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC25_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC15_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_DC25-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP15_DC15-12' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					         <div class="d-flex no-gutters row-style">
					            <div class="col-4"><h7>EURIBOR 4th Mtty PRICE VOL (B&S in %)</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-30-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					         <div class="d-flex no-gutters pt-1">
					         	<div class="col-4"><h7>EURIBOR 4th Mtty BPDV Vol</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-30-DP15_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC25_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC15_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_DC25-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP15_DC15-13' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					          <div class="d-flex no-gutters row-style">
					            <div class="col-4"><h7>EURIBOR 7th Mtty YIELD VOL (B&S in %)</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-31-DP15_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC25_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC15_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_DC25-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP15_DC15-12' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					         <div class="d-flex no-gutters pt-1">
					            <div class="col-4"><h7>EURIBOR 7th Mtty PRICE VOL (B&S in %)</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-31-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					         <div class="d-flex no-gutters row-style">
					         	<div class="col-4"><h7>EURIBOR 7th Mtty BPDV Vol</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-31-DP15_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC25_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC15_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_DC25-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP15_DC15-13' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
						    </div>
						  
						    </div>
 
						</div>