 <div class="col-12 d-flex">
							<div class="col">
								<h7 class="m-0 font-weight-bold">ASIA</h7>
									<div class=" no-gutters">
									  <div class="col-custom">
									 	<div id='jqxCheckBoxNikkei' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Nikkei</span></div> 
             							<div id='jqxCheckBoxNikkei_usdjpy'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Nikkei/Usdjpy</span></div> 
									   	<div id='jqxCheckBoxCsi'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Csi</span></div>
             							<div id='jqxCheckBoxCsi_usdcny'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Csi/Usdcny</span></div>
             							<div id='jqxCheckBoxNifty'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Nifty</span></div>
             							<div id='jqxCheckBoxNifty_usdinr' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Nifty/Usdinr</span></div>
             							<div id='jqxCheckBoxKospi' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Kospi</span></div>
             							<div id='jqxCheckBoxKospi_usdkrw' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Kospi/Usdkrw</span></div>
					         			<div id='jqxCheckBoxHangseng' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Hang Seng</span></div> 
					             		<div id='jqxCheckBoxHangseng_usdhkd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Hangseng/Usdhkd</span></div> 
					             		<div id='jqxCheckBoxHismbi' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Hismbi</span></div>
					             		<div id='jqxCheckBoxHismbi_usdhkd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Hismbi/Usdhkd</span></div>
					             		<div id='jqxCheckBoxHismpi' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Hismpi</span></div>
					             		<div id='jqxCheckBoxHismpi_usdhkd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Hismpi/Usdhkd</span></div>
					            	 </div>
								</div>
							</div>
							 <div class="col">
							  <h7 class="m-0 font-weight-bold">WALL STREET</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
									<div id='jqxCheckBoxDowjones' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Dow Jones</span></div> 
					             	<div id='jqxCheckBoxSandp' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">S&p</span></div>
					             	<div id='jqxCheckBoxNasdaq' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Nasdaq</span></div>
					             	<div id='jqxCheckBoxRussell' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Russell </span></div>
					             	<div id='jqxCheckBoxFang' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Fang+</span></div>
					             	<div id='jqxCheckBoxDjmajorbanks' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Dj Major Banks</span></div>
					         		<div id='jqxCheckBoxDjregionalbanks' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Dj Regional Banks</span></div>
									</div>
								</div>
							</div>
							<div class="col">
							  <h7 class="m-0 font-weight-bold">EUROPE</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
								 
						             	<div id='jqxCheckBoxDax' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">Dax</span></div> 
						             	<div id='jqxCheckBoxDax_Eurusd'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Dax * Eurusd</span></div> 
						          
						             	<div id='jqxCheckBoxCac'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Cac</span></div>
						             	<div id='jqxCheckBoxCac_Eurusd'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Cac * Eurusd</span></div>
						           
						             	<div id='jqxCheckBoxMib'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Mib</span></div>
						             	<div id='jqxCheckBoxMib_Eurusd'  class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">Mib * Eurusd</span></div>
						            
						             	<div id='jqxCheckBoxFtse'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Ftse</span></div>
						             	<div id='jqxCheckBoxFtse_Gbpusd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Ftse * Gbpusd</span></div>
						            	
						             	<div id='jqxCheckBoxStoxx50'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Stoxx-50</span></div>
						             	<div id='jqxCheckBoxStoxx50_Eurusd'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Stoxx50 * Eurusd</span></div>
						            
						             	<div id='jqxCheckBoxStoxx600' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Stoxx-600</span></div>
						             	<div id='jqxCheckBoxStoxx600_Eurusd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Stoxx600 * Eurusd</span></div>
						             
						             	<div id='jqxCheckBoxEubanks' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Eu Banking Index</span></div>
						             	<div id='jqxCheckBoxEubanks_eurusd' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">Eu Banking Index * Eurusd</span></div>
						         
								  </div>
								</div>
							</div>
							<div class="col">
							  <h7 class="m-0 font-weight-bold">EMERGING</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
													  
					               		<div id='jqxCheckBoxTadawul' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">Tadawul</span></div> 
						             	<div id='jqxCheckBoxTadawul_usdsar' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">Tadawul / Usdsar</span></div> 
						             
						             	<div id='jqxCheckBoxEgx' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">Egx</span></div>
						             	<div id='jqxCheckBoxEgx_usdegp' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">Egx / Usdegp</span></div>
						             
						             	<div id='jqxCheckBoxBist' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">Bist</span></div>
						             	<div id='jqxCheckBoxBist_usdtry' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">Bist / Usdtry</span></div>
						             
						             	<div id='jqxCheckBoxMoex' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Moex</span></div>
						             	<div id='jqxCheckBoxMoex_usdrub' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Moex / Usdrub</span></div>
						            
						             	<div id='jqxCheckBoxJsttop' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Jsttop</span></div>
						             	<div id='jqxCheckBoxJsttop_usdzar' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Jsttop / Usdzar</span></div>
						             
						             	<div id='jqxCheckBoxBovespa' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Bovespa</span></div>
						             	<div id='jqxCheckBoxBovespa_usdbrl' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Bovespa / Usdbrl</span></div>
						            
						             	<div id='jqxCheckBoxMexbol' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Mexbol</span></div>
						             	<div id='jqxCheckBoxMexbol_usdmxn' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">Mexbol/ Usdmxn</span></div>
					            	
								 </div>
								</div>
							</div>
						  <div class="col">
							  <h7 class="m-0 font-weight-bold">CRYPTOS</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
									<div id='jqxCheckBoxBitcoin' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">BITCOIN</span></div> 
					             	<div id='jqxCheckBoxEtherium' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">ETHERIUM</span></div>
					             	<div id='jqxCheckBoxSolana' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">SOLANA</span></div> 
					             	<div id='jqxCheckBoxCardano' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">CARDANO</span></div>
					             	<div id='jqxCheckBoxShiba' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">SHIBA</span></div> 
				             	 </div>
								</div>
							</div>
						</div>