 <div class="col-12 d-flex">
							
							 <div class="col">
							  <h7 class="m-0 font-weight-bold">EUROPE</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
								 
						             	<div id='jqxCheckBoxDax' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">DAX</span></div> 
						             	<div id='jqxCheckBoxDax_Eurusd'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-DAX</span></div> 
						          
						             	<div id='jqxCheckBoxCac'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">CAC</span></div>
						             	<div id='jqxCheckBoxCac_Eurusd'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-CAC</span></div>
						           
						             	<div id='jqxCheckBoxMib'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">MIB</span></div>
						             	<div id='jqxCheckBoxMib_Eurusd'  class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">$-MIB</span></div>
						            
						             	<div id='jqxCheckBoxFtse'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">FTSE</span></div>
						             	<div id='jqxCheckBoxFtse_Gbpusd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-FTSE</span></div>
						            	
						             	<div id='jqxCheckBoxStoxx50'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">STOXX-50</span></div>
						             	<div id='jqxCheckBoxStoxx50_Eurusd'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-STOXX50</span></div>
						            
						             	<div id='jqxCheckBoxStoxx600' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">STOXX-600</span></div>
						             	<div id='jqxCheckBoxStoxx600_Eurusd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-STOXX600</span></div>
						             
						             	<div id='jqxCheckBoxEubanks' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">EUBANKS</span></div>
						             	<div id='jqxCheckBoxEubanks_eurusd' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">$-EUBANKS</span></div>
						         
								  </div>
								</div>
							</div>
							<div class="col">
							  <h7 class="m-0 font-weight-bold">WALL STREET</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
									<div id='jqxCheckBoxDowjones' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">DOW JONES</span></div> 
					             	<div id='jqxCheckBoxSandp' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">S&P</span></div>
					             	<div id='jqxCheckBoxNasdaq' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">NASDAQ</span></div>
					             	<div id='jqxCheckBoxRussell' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">RUSSELL</span></div>
					             	<div id='jqxCheckBoxFang' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">FANG+</span></div>
					             	<div id='jqxCheckBoxDjmajorbanks' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">DJ MAJOR BANKS</span></div>
					         		<div id='jqxCheckBoxDjregionalbanks' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">DJ REGIONAL BANKS</span></div>
									</div>
								</div>
							</div>
							<div class="col">
								<h7 class="m-0 font-weight-bold">ASIA</h7>
									<div class=" no-gutters">
									  <div class="col-custom">
									 	<div id='jqxCheckBoxNikkei' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">NIKKEI</span></div> 
             							<div id='jqxCheckBoxNikkei_usdjpy'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-NIKKEI</span></div> 
									   	<div id='jqxCheckBoxCsi'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">CSI</span></div>
             							<div id='jqxCheckBoxCsi_usdcny'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-CSI</span></div>
             							<div id='jqxCheckBoxNifty'  class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">NIFTY</span></div>
             							<div id='jqxCheckBoxNifty_usdinr' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-NIFTY</span></div>
             							<div id='jqxCheckBoxKospi' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">KOSPI</span></div>
             							<div id='jqxCheckBoxKospi_usdkrw' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-KOSPI</span></div>
					         			<div id='jqxCheckBoxHangseng' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">HANGSENG</span></div> 
					             		<div id='jqxCheckBoxHangseng_usdhkd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-HANGSENG</span></div> 
					             		<div id='jqxCheckBoxHismbi' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">HSI^ BANKING</span></div>
					             		<div id='jqxCheckBoxHismbi_usdhkd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-HSI BANKING</span></div>
					             		<div id='jqxCheckBoxHismpi' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">HSI^ PROPERTY</span></div>
					             		<div id='jqxCheckBoxHismpi_usdhkd' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-HSI PROPERTY</span></div>
					            	 </div>
								</div>
							</div>
							<div class="col">
							  <h7 class="m-0 font-weight-bold">EMERGING</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
													  
					               		<div id='jqxCheckBoxTadawul' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">TADAWUL</span></div> 
						             	<div id='jqxCheckBoxTadawul_usdsar' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">$-TADAWUL</span></div> 
						             
						             	<div id='jqxCheckBoxEgx' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">EGX</span></div>
						             	<div id='jqxCheckBoxEgx_usdegp' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">$-EGX</span></div>
						             
						             	<div id='jqxCheckBoxBist' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">BIST</span></div>
						             	<div id='jqxCheckBoxBist_usdtry' class="jqx-checkbox-items"  style='float: left;'><span class="checkboxesTitle">$-BIST</span></div>
						             
						             	<div id='jqxCheckBoxMoex' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">MOEX</span></div>
						             	<div id='jqxCheckBoxMoex_usdrub' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-MOEX</span></div>
						            
						             	<div id='jqxCheckBoxJsttop' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">JSTTOP</span></div>
						             	<div id='jqxCheckBoxJsttop_usdzar' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-JSTTOP</span></div>
						             
						             	<div id='jqxCheckBoxBovespa' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">BOVESPA</span></div>
						             	<div id='jqxCheckBoxBovespa_usdbrl' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-BOVESPA</span></div>
						            
						             	<div id='jqxCheckBoxMexbol' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">MEXBOL</span></div>
						             	<div id='jqxCheckBoxMexbol_usdmxn' class="jqx-checkbox-items" style='float: left;'><span class="checkboxesTitle">$-MEXBOL</span></div>
					            	
								 </div>
								</div>
							</div>
						 
						</div>