  <div class="d-sm-flex align-items-center">
            <h1 class="ml-6 text-darkorange">two SERIE</h1>
            	 <nav style="margin-left: 3rem;
    						 height: 35px;
    						 margin-top: 0.5rem;">
				  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				    <a th:classappend="${serie == 1} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-yields-tab" data-bs-target="#nav-yields" role="tab" aria-controls="nav-yields" aria-selected="false">SOVEREIGN YIELDS (0)</a>
				    <a  th:classappend="${serie == 9} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-rates-tab"  role="tab"  data-bs-target="#nav-rates"  aria-controls="nav-rates" aria-selected="false">RATES (0)</a>
				  	<a  th:classappend="${serie == 5} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-fxcds-tab"  role="tab"  data-bs-target="#nav-fxcds"  aria-controls="nav-fxcds" aria-selected="false">FX & CDS (0)</a>
				    <a th:classappend="${serie == 2} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-commodities-tab" data-bs-target="#nav-commodities"   role="tab" aria-controls="nav-commodities" aria-selected="false">COMMODITIES (0)</a>
				 	<a th:classappend="${serie == 3} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-liquidity-tab"  role="tab"  data-bs-target="#nav-liquidity" aria-controls="nav-liquidity" aria-selected="false">LIQUIDITY (0)</a>
				  	<a  th:classappend="${serie == 4} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-volume-tab"  role="tab"  data-bs-target="#nav-volume"  aria-controls="nav-volume" aria-selected="false">VOLUME (0)</a>
				  	<a  th:classappend="${serie == 6} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-skews-tab"  role="tab"  data-bs-target="#nav-skews"  aria-controls="nav-skews" aria-selected="false">SKEWS (0)</a>
				  	<a  th:classappend="${serie == 7} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-sti-tab"  role="tab"  data-bs-target="#nav-sti"  aria-controls="nav-sti" aria-selected="false">STOCKS & INDICES (0)</a>
				  	<a  th:classappend="${serie == 8} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-macro-tab"  role="tab"  data-bs-target="#nav-macro"  aria-controls="nav-macro" aria-selected="false">MACRO (0)</a>
				 	<a  th:classappend="${serie == 10} ? 'active' : ''" class="navigation nav-item nav-link" id="nav-longends-tab"  role="tab"  data-bs-target="#nav-longends"  aria-controls="nav-longends" aria-selected="false">LONG-END FUTURES (0)</a>
				 </div>
				</nav> 
				
          </div>