 <div class="col-12 d-flex">
							<div class="col">
								<h7 class="m-0 font-weight-bold">BUND OPTIONS</h7>
									<div class=" no-gutters">
									  <div class="col-custom">
										 <div id='jqxCheckBoxBund1' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">Call Volume</span></div>
									   </div>
										 <div class="col-custom">
												<div id='jqxCheckBoxBund2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Put Volume</span></div>
										 </div>
										 <div class="col-custom">
												<div id='jqxCheckBoxBund1_Bund2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Total Volume</span></div>
											</div>
										 <div class="col-custom">
												<div id='jqxCheckBoxBund1_Bund2_cp' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">5-day C/P ratio</span></div>
										 </div>
								</div>
							</div>
							 <div class="col">
							  <h7 class="m-0 font-weight-bold">BOBL OPTIONS</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
											<div id='jqxCheckBoxBobl1' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">Call Volume</span></div>
									  </div>
									 <div class="col-custom">
										<div id='jqxCheckBoxBobl2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Put Volume</span></div>
									  </div>
									 <div class="col-custom">
										<div id='jqxCheckBoxBobl1_Bobl2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Total Volume</span></div>
									 </div>
								</div>
							</div>
							<div class="col">
							  <h7 class="m-0 font-weight-bold">BUXL OPTIONS</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
											<div id='jqxCheckBoxBuxl1' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">Call Volume</span></div>
									 </div>
									 <div class="col-custom">
											<div id='jqxCheckBoxBuxl2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Put Volume</span></div>
									   </div>
									 <div class="col-custom">
											<div id='jqxCheckBoxBuxl1_Buxl2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Total Volume</span></div>
									   </div>
								</div>
							</div>
							<div class="col">
							  <h7 class="m-0 font-weight-bold">SHATZ OPTIONS</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
											<div id='jqxCheckBoxShatz1' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">Call Volume</span></div>
									  </div>
									 <div class="col-custom">
											<div id='jqxCheckBoxShatz2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Put Volume</span></div>
									   </div>
									 <div class="col-custom">
											<div id='jqxCheckBoxShatz1_Shatz2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">Total Volume</span></div>
									   </div>
								</div>
							</div>
						  <div class="col">
							  <h7 class="m-0 font-weight-bold">EURIBOR OPTIONS</h7>
								<div class=" no-gutters">
								  <div class="col-custom">
											<div id='jqxCheckBoxEuribor1' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">Regular ER</span></div>
									  </div>
									 <div class="col-custom">
											<div id='jqxCheckBoxEuribor2' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">1yr MID</span></div>
									 </div>
									 <div class="col-custom">
											<div id='jqxCheckBoxEuribor3' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">2yr GREEN</span></div>
									   </div>
									<div class="col-custom">
											<div id='jqxCheckBoxEuribor4' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">3yr BLUE</span></div>
									   </div>
									<div class="col-custom">
											<div id='jqxCheckBoxEuribor5' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">4yr GOLD</span></div>
									   </div>
									<div class="col-custom">
											<div id='jqxCheckBoxEuribor1_Euribor2_Euribor3_Euribor4_Euribor5' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">All EURIBOR</span></div>
									</div>
								</div>
							</div>
						</div>