<div class="row">
				<div class="col-5">
                  <form  id="dataformInput">
                  <div class="form-group" style=" margin-top: 0">
                      <div  style=" display: flex;">
                         <div class="col-1"></div>
						    <div class="col-2"><img height="48" width="48" src="/img/flag/united-states.png">
						    </div>
						   <div class="col-2"><img  height="48" width="48" src="/img/flag/germany.png">
						    </div>
						 <div class="col-2"><img height="48" width="48" src="/img/flag/france.png">
						    </div>
						   <div class="col-2"><img height="48" width="48" src="/img/flag/united-kingdom.png">
						    </div>
						    <div class="col-2"><img height="48" width="48" src="/img/flag/italy.png">
						    </div>
						    <div class="col-2"><img height="48" width="48" src="/img/flag/spain.png">
						    </div>
						</div>
		                   <div style=" display: flex;">
		                      <div class="col-2"  style=" max-width: 12% ;padding: 0 ;">
		                      	<div class="checkbox-title">30yr</div>
								<div class="checkbox-title">10yr</div>
								<div class="checkbox-title">5yr</div>
								<div class="checkbox-title">2yr</div>
								</div>
		                    <div class="col-2">
									<div id='jqxCheckBoxUSA-30' style='float: left;'></div>
									<div id='jqxCheckBoxUSA-10' style='float: left;'></div>
									<div id='jqxCheckBoxUSA-5' style='float: left;'></div>
									<div id='jqxCheckBoxUSA-2' style='float: left;'></div>
								</div>
								 <div class="col-2">
									<div id='jqxCheckBoxGermany-30' style='float: left;'></div>
									<div id='jqxCheckBoxGermany-10' style='float: left;'></div>
									<div id='jqxCheckBoxGermany-5' style='float: left;'></div>
									<div id='jqxCheckBoxGermany-2' style='float: left;'></div>
								</div>
								 <div class="col-2">
								    <div id='jqxCheckBoxFrance-30' style='float: left;'></div>
									<div id='jqxCheckBoxFrance-10' style='float: left;'></div>
									<div id='jqxCheckBoxFrance-5' style='float: left;'></div>
									<div id='jqxCheckBoxFrance-2' style='float: left;'></div>
								</div>
								 <div class="col-2">
								    <div id='jqxCheckBoxUk-30' style='float: left;'></div>
									<div id='jqxCheckBoxUk-10' style='float: left;'></div>
									<div id='jqxCheckBoxUk-5' style='float: left;'></div>
									<div id='jqxCheckBoxUk-2' style='float: left;'></div>
								</div>
								 <div class="col-2">
								    <div id='jqxCheckBoxItaly-30' style='float: left;'></div>
									<div id='jqxCheckBoxItaly-10' style='float: left;'></div>
									<div id='jqxCheckBoxItaly-5' style='float: left;'></div>
									<div id='jqxCheckBoxItaly-2' style='float: left;'></div>
								</div>
								 <div class="col-2">
								    <div id='jqxCheckBoxSpain-30' style='float: left;'></div>
									<div id='jqxCheckBoxSpain-10' style='float: left;'></div>
									<div id='jqxCheckBoxSpain-5' style='float: left;'></div>
									<div id='jqxCheckBoxSpain-2' style='float: left;'></div>
								</div>
		                    </div>
		                      <div style=" display: flex;     margin-top: 1rem;">
		                      <div class="col-2"  style=" max-width: 12% ;padding: 0 ;">
		                      	<div class="checkbox-title">10's/30's</div>
								<div class="checkbox-title">5's/30's</div>
								<div class="checkbox-title">5's/10's</div>
								<div class="checkbox-title">2's/10's</div>
								<div class="checkbox-title">2's/5's</div>
								</div>
		                    <div class="col-2">
									<div id='jqxCheckBoxUSA-10over30' style='float: left;'></div>
									<div id='jqxCheckBoxUSA-5over30' style='float: left;'></div>
									<div id='jqxCheckBoxUSA-5over10' style='float: left;'></div>
									<div id='jqxCheckBoxUSA-2over10' style='float: left;'></div>
									<div id='jqxCheckBoxUSA-2over5' style='float: left;'></div>
								</div>
								 <div class="col-2">
									<div id='jqxCheckBoxGermany-10over30' style='float: left;'></div>
									<div id='jqxCheckBoxGermany-5over30' style='float: left;'></div>
									<div id='jqxCheckBoxGermany-5over10' style='float: left;'></div>
									<div id='jqxCheckBoxGermany-2over10' style='float: left;'></div>
									<div id='jqxCheckBoxGermany-2over5' style='float: left;'></div>
								</div>
								 <div class="col-2">
								    <div id='jqxCheckBoxFrance-10over30' style='float: left;'></div>
									<div id='jqxCheckBoxFrance-5over30' style='float: left;'></div>
									<div id='jqxCheckBoxFrance-5over10' style='float: left;'></div>
									<div id='jqxCheckBoxFrance-2over10' style='float: left;'></div>
									<div id='jqxCheckBoxFrance-2over5' style='float: left;'></div>
								</div>
								 <div class="col-2">
								    <div id='jqxCheckBoxUk-10over30' style='float: left;'></div>
									<div id='jqxCheckBoxUk-5over30' style='float: left;'></div>
									<div id='jqxCheckBoxUk-5over10' style='float: left;'></div>
									<div id='jqxCheckBoxUk-2over10' style='float: left;'></div>
									<div id='jqxCheckBoxUk-2over5' style='float: left;'></div>
								</div>
								 <div class="col-2">
								    <div id='jqxCheckBoxItaly-10over30' style='float: left;'></div>
									<div id='jqxCheckBoxItaly-5over30' style='float: left;'></div>
									<div id='jqxCheckBoxItaly-5over10' style='float: left;'></div>
									<div id='jqxCheckBoxItaly-2over10' style='float: left;'></div>
									<div id='jqxCheckBoxItaly-2over5' style='float: left;'></div>
								</div>
								 <div class="col-2">
								    <div id='jqxCheckBoxSpain-10over30' style='float: left;'></div>
									<div id='jqxCheckBoxSpain-5over30' style='float: left;'></div>
									<div id='jqxCheckBoxSpain-5over10' style='float: left;'></div>
									<div id='jqxCheckBoxSpain-2over10' style='float: left;'></div>
									<div id='jqxCheckBoxSpain-2over5' style='float: left;'></div>
								</div>
		                    </div>
                     </div>
<!--                     <button type="submit" class="btn btn-primary">Save</button> -->
                    </form>
                   <div id="dataInputGrid" style="margin-top: 0rem;"> </div>
			       <div class="row" id="dataInputButtons" style="display:none;">
					<div class='col-12 d-flex justify-content-end mt-2'>
					<input class="btn btn-primary mr-1 mb-1" style="margin-right: 1rem!important; color:white;" type="button" id="loadData" value="Load " />
					<input id="CancelData" type="button" style="margin: 0!important;" class="btn btn-light-secondary mr-1 mb-1" value="Cancel" />
					</div>
				  </div>
                 </div>
                 		<div class="col-5" style="z-index: 1;">
		                  <form  id="dataformInput">
		                  <div class="form-group" style=" margin-top: 0">
		                      <div  style=" display: flex;">
		                         <div class="col-1"></div>
								    <div class="col-2"><img height="48" width="48" src="/img/flag/fra-ger.png">
								    </div>
								   <div class="col-2"><img  height="48" width="48" src="/img/flag/ita-ger.png">
								    </div>
								 <div class="col-2"><img height="48" width="48" src="/img/flag/spn-ger.png">
								    </div>
								   <div class="col-2"><img height="48" width="48" src="/img/flag/uk-ger.png">
								    </div>
								    <div class="col-2"><img height="48" width="48" src="/img/flag/usa-ger.png">
								    </div>
								    <div class="col-2"><img height="48" width="48" src="/img/flag/usa-uk.png">
								    </div>
								     <div class="col-2"><img height="48" width="48" src="/img/flag/ita-fra.png">
								    </div>
								     <div class="col-2"><img height="48" width="48" src="/img/flag/ita-spn.png">
								    </div>
								</div>
				                   <div style=" display: flex;">
				                      <div class="col-2"  style=" max-width: 10% ;padding: 0 ;">
				                      	<div class="checkbox-title">30yr</div>
										<div class="checkbox-title">10yr</div>
										<div class="checkbox-title">5yr</div>
										<div class="checkbox-title">2yr</div>
										</div>
				                    <div class="col-2">
											<div id='jqxCheckBoxfrc-ger-30' style='float: left;'></div>
											<div id='jqxCheckBoxfrc-ger-10' style='float: left;'></div>
											<div id='jqxCheckBoxfrc-ger-5' style='float: left;'></div>
											<div id='jqxCheckBoxfrc-ger-2' style='float: left;'></div>
										</div>
										 <div class="col-2">
											<div id='jqxCheckBoxita-ger-30' style='float: left;'></div>
											<div id='jqxCheckBoxita-ger-10' style='float: left;'></div>
											<div id='jqxCheckBoxita-ger-5' style='float: left;'></div>
											<div id='jqxCheckBoxita-ger-2' style='float: left;'></div>
										</div>
										 <div class="col-2">
										    <div id='jqxCheckBoxspn-ger-30' style='float: left;'></div>
											<div id='jqxCheckBoxspn-ger-10' style='float: left;'></div>
											<div id='jqxCheckBoxspn-ger-5' style='float: left;'></div>
											<div id='jqxCheckBoxspn-ger-2' style='float: left;'></div>
										</div>
										 <div class="col-2">
										    <div id='jqxCheckBoxuk-ger-30' style='float: left;'></div>
											<div id='jqxCheckBoxuk-ger-10' style='float: left;'></div>
											<div id='jqxCheckBoxuk-ger-5' style='float: left;'></div>
											<div id='jqxCheckBoxuk-ger-2' style='float: left;'></div>
										</div>
										 <div class="col-2">
										    <div id='jqxCheckBoxusa-ger-30' style='float: left;'></div>
											<div id='jqxCheckBoxusa-ger-10' style='float: left;'></div>
											<div id='jqxCheckBoxusa-ger-5' style='float: left;'></div>
											<div id='jqxCheckBoxusa-ger-2' style='float: left;'></div>
										</div>
										 <div class="col-2">
										    <div id='jqxCheckBoxusa-uk-30' style='float: left;'></div>
											<div id='jqxCheckBoxusa-uk-10' style='float: left;'></div>
											<div id='jqxCheckBoxusa-uk-5' style='float: left;'></div>
											<div id='jqxCheckBoxusa-uk-2' style='float: left;'></div>
										</div>
										 <div class="col-2">
										    <div id='jqxCheckBoxita-frc-30' style='float: left;'></div>
											<div id='jqxCheckBoxita-frc-10' style='float: left;'></div>
											<div id='jqxCheckBoxita-frc-5' style='float: left;'></div>
											<div id='jqxCheckBoxita-frc-2' style='float: left;'></div>
										</div>
										 <div class="col-2">
										    <div id='jqxCheckBoxita-spn-30' style='float: left;'></div>
											<div id='jqxCheckBoxita-spn-10' style='float: left;'></div>
											<div id='jqxCheckBoxita-spn-5' style='float: left;'></div>
											<div id='jqxCheckBoxita-spn-2' style='float: left;'></div>
										</div>
				                    </div>
		                     </div>
		<!--                     <button type="submit" class="btn btn-primary">Save</button> -->
		                    </form>
		                   <div id="dataInputGrid" style="margin-top: 0rem;"> </div>
					       <div class="row" id="dataInputButtons" style="display:none;">
							<div class='col-12 d-flex justify-content-end mt-2'>
							<input class="btn btn-primary mr-1 mb-1" style="margin-right: 1rem!important; color:white;" type="button" id="loadData" value="Load " />
							<input id="CancelData" type="button" style="margin: 0!important;" class="btn btn-light-secondary mr-1 mb-1" value="Cancel" />
							</div>
						  </div>
		                 </div>
                     </div>
                       <div class="row col-12">
		                  <div class="col-5">
				        <div class="row no-gutters">
				           <div class="col-6 d-flex">
				               <div class="">
				               	<img alt="usa-flag" src="/img/flag/us.png" height="100px">
				               </div>
					           <div class="col-6 d-grid">
					           	   <div></div>
					               <div id='jqxCheckBoxusatoaaa' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">US AtoAAA</span></div>
					           	   <div id='jqxCheckBoxusbtobbb' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">US BtoBBB</span></div>
					               <div id='jqxCheckBoxusctoccc' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">US CtoCCC</span></div>
					             </div>
				            </div>
				            <div class="col-6 d-flex">
				            <div class="">
				               	<img alt="usa-flag" src="/img/flag/eu.png" height="100px">
				               </div>
				               <div class="col-6  d-grid">
				                    <div></div>
				                    <div></div>
					               <div id='jqxCheckBoxeurozoneatoaaa' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">EZ AtoAAA</span></div>
					               <div id='jqxCheckBoxeurozonebtobbb' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">EZ BtoBBB</span></div>
					             <div></div>
					            </div>
				            </div>
				    </div>
			    </div>
						<div class="col-7">
				        <div class="row no-gutters">
				           <div class="col-6 d-flex">
				               <div class="">
				               	<img alt="usa-flag" src="/img/flag/us.png" height="100px">
				               </div>
					           <div class="col-6 d-grid">
					            <div></div>
					             <div id='jqxCheckBoxusatoaaaUsa' style='float: left;  font-size: .75rem;'><span class="checkboxesTitle">US AtoAAA vs 10Y TSYS</span></div>
					             <div id='jqxCheckBoxusbtobbbUsatoaaa' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">US BtoBBB vs US AtoAAA</span></div>
					             <div id='jqxCheckBoxusctocccUsbtobbb' style='float: left;     font-size: .75rem;'><span class="checkboxesTitle">US CtoCCC vs US BtoBBB</span></div>
					           </div>
				            </div>
				            <div class="col-6 d-flex">
				            <div class="">
				               	<img alt="usa-flag" src="/img/flag/eu.png" height="100px">
				               </div>
				               <div class="col-6  d-grid">
				                  <div></div>
				                  <div></div>
					             <div id='jqxCheckBoxeurozoneatoaaaGermany' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">EZ AtoAAA vs 10Y GERMANY</span></div>
					             <div id='jqxCheckBoxeurozonebtobbbEurozoneatoaaa' style='float: left;    font-size: .75rem;'><span class="checkboxesTitle">EZ BtoBBB vs US AtoAAA</span></div>
					              <div></div>
					           </div>
				            </div>
				    </div>
			    </div>
			     </div>