<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="img/logo/logo.png" rel="icon">
    <title>Libvol - Dashboard</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/ruang-admin.min.css" rel="stylesheet">
    <link href="/css/marquee.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
    <link href="/css/jqx.dark.css" rel="stylesheet">
    <link href="/css/notification.css" rel="stylesheet">
  </head>
  <style>
    .jqx-danger-dark {
      text-shadow: none !important;
      color: #fbd9d9 !important;
      font-weight: bold;
      background: #ff4b5552 !important;
      border-color: #d9534f !important;
    }

    .factorBold {
      font-weight: bold;
      color: white !important;
    }

    .edit {
      width: 90%;
      margin: 0.5rem;
      color: white;
      background-color: #719DF0 !important;
      border-color: var(- -jqx-border);
      border-radius: 4px;
      border: 1px solid transparent;
      padding: 0.1rem 28%;
    }

    .update {
      margin: .5rem;
      color: white;
      background-color: #009a4e !important;
      border-color: var(- -jqx-border);
      border-radius: 4px;
      border: 1px solid transparent;
      padding: 1px 3px;
      width: 45%;
    }

    .cancel {
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 0rem;
      color: white;
      background-color: #506B8B !important;
      border-color: var(- -jqx-border);
      border-radius: 4px;
      border: 1px solid transparent;
      padding: 1px 3px;
      width: 40%;
    }

    :checked {
      font-weight: bold;
    }

    .fontTitle {
      font-size: .8rem;
    }

    .checkboxesTitle {
      font-size: 0.8rem;
    }

    .jqx-widget-dark .jqx-grid-column-header-dark {
      font-size: .67rem;
      text-align: center;
    }

    .jqx-tree-dark .jqx-checkbox-dark .jqx-checkbox-default-dark,
    .jqx-checkbox-dark[checked] .jqx-checkbox-default-dark,
    .jqx-tree-grid-checkbox[checked].jqx-checkbox-default-dark,
    .jqx-radiobutton-dark[checked] .jqx-radiobutton-default-dark {
      border: #b7b9cc solid 0px;
      background-color: #304256;
      border-color: #5A627D;
    }

    .jqx-checkbox-default.jqx-checkbox-default-dark.jqx-fill-state-normal.jqx-fill-state-normal-dark.jqx-rc-all.jqx-rc-all-dark.ripple {
      display: none;
    }

    .jqx-checkbox-dark .ripple,
    .jqx-radiobutton-dark .ripple {
      overflow: visible;
      display: none;
    }

    [aria-checked="true"] {
      font-weight: bold;
      color: #e2e2e2 !important;
      text-shadow: 1px 1px 0px #060605;
    }

    .card-body .filter {
      text-align: center;
    }

    .card-img-top {
      width: 112%;
    }

    button#deleteByDate {
      position: absolute;
      margin-top: -0.3rem;
    }

    .jqx-grid-cell-left-align {
      text-align: center;
    }

    .container,
    .container-fluid,
    .container-login {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .fs-7 {
      font-size: .7rem;
      width: 25%;
      padding-right: .2rem;
    }

    div#container-wrapper {
      padding-bottom: 0;
    }

    .w-105 {
      width: 105px;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }

    .green {
      background: #24a764 !important;
      border: 0px;
    }

    .green>img {
      position: relative !important;
      top: 0px !important;
      left: 0px !important;
    }

    .red {
      background: #f23a3a !important;
      border: 0px;
    }

    .red>img {
      position: relative !important;
      top: 0px !important;
      left: 0px !important;
    }
    .mh-42{
    min-height: 42px;
    }
    .float-end{
     float:right;
    }
    .custom-bg-dark{
    border: 1px solid #48659e;
    padding: .5rem 1rem;
    border-radius: .2rem;
    background: #272e48;
}

  </style>
  <body id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="fixedMenu">
          <!-- TopBar -->
          <div th:include="${mainmenu}"></div>
          <!-- Topbar -->
          <!-- Container Fluid-->
          <div th:include="${maindatainputnav}"></div>
          <div id="overlay" class="col-12">
            <img src="/css/images/loader.gif" alt="Loading" width="46px" />
          </div>
        </div>
        <div id="content">
          <div class="container-fluid" id="container-wrapper" style="display: none;">
            <div class="col-lg-12">
            <div id="longEndsValue" th:text="${longend}" style="display:none;"></div>
            
              <!-- Form Basic -->
              <div class="col mt-4 ml-4 p-0">
                <div class="btn-group" role="group" aria-label="First group">
                  <button type="button" th:classappend="${longend == 1} ? 'active' : ''"  class="btn btn-secondary mw-100" id="bunds-btn" th:onclick="'javascript:toggleDivVisibility(1)'">Bunds</button>
                  <button type="button" th:classappend="${longend == 2} ? 'active' : ''"  class="btn btn-secondary mw-100" id="bobl-btn" th:onclick="'javascript:toggleDivVisibility(2)'">Bobls</button>
                  <button type="button" th:classappend="${longend == 3} ? 'active' : ''"  class="btn btn-secondary mw-100" id="shtaz-btn" th:onclick="'javascript:toggleDivVisibility(3)'">Shatz</button>
                  <button type="button" th:classappend="${longend == 4} ? 'active' : ''"  class="btn btn-secondary mw-100" id="buxl-btn" th:onclick="'javascript:toggleDivVisibility(4)'">Buxl</button>
                  <button type="button" th:classappend="${longend == 5} ? 'active' : ''"  class="btn btn-secondary mw-100" id="oat-btn" th:onclick="'javascript:toggleDivVisibility(5)'">Oat</button>
                  <button type="button" th:classappend="${longend == 6} ? 'active' : ''"  class="btn btn-secondary mw-100" id="btp-btn" th:onclick="'javascript:toggleDivVisibility(6)'">Btp</button>
                  <button type="button" th:classappend="${longend == 7} ? 'active' : ''"  class="btn btn-secondary mw-100" id="gilts-btn" th:onclick="'javascript:toggleDivVisibility(7)'">Gilts</button>
                  <button type="button" th:classappend="${longend == 8} ? 'active' : ''"  class="btn btn-secondary mw-100" id="tnotes-btn" th:onclick="'javascript:toggleDivVisibility(8)'">T-notes</button>
                  <button type="button" th:classappend="${longend == 9} ? 'active' : ''"  class="btn btn-secondary mw-100" id="tbonds-btn" th:onclick="'javascript:toggleDivVisibility(9)'">T-bonds</button>
                </div>
              </div>
              <div class="collapse show" id="collapseExample">
                <div class="card mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between padding-botton-0"></div>
                  <div class="card-body" style="  padding-top: 0;
											    padding-right: 1.25rem;
											    padding-bottom: 0;
											    padding-left: 1.25rem;">
                    <div class="row">
                      <div class="col-12">
						<div class="d-flex justify-content-between align-items-center">
							<div class="col-4 p-0">
								<h6 class="m-0 font-weight-bold" style="color: #9ab4e0;">Data
									Input</h6>
								<div id='dateInput'></div>
							</div>
							<div>
								<div class="ms-3">
								 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" onclick="toggleCollapse()">
								    Enter Spread Data
								  </button>
								</div>
							</div>
						</div>
						<div class="collapse collapse-horizontal float-end custom-bg-dark mb-1" id="horizontalExample">
						  <div style="width: 380px;">
						  <form>
							  <div class="row g-3 align-items-center">
								    <div class="col-4">
									    <label for="spreadValueInput" class="form-label">Value</label>
									</div>
									<div class="col-4">
									    <label for="spreadValueInputRange" class="form-label">Name</label>
									</div>
							 </div>
							  <div class="row g-3 align-items-center">
								
								  <div class="col-4">
									<input type="text" class="form-control" id="spreadValueInput" placeholder="">							 
								  </div>
								  <div class="col-5">
									<input type="text" class="form-control" id="spreadValueInputRange" placeholder="">							 
								  </div>
								  <div class="col-auto">
								    <button type="button" class="btn btn-primary">Submit</button>
								  </div>
								</div>
								</form>
							</div>
						</div>
						<div class="col-12 d-flex p-0" id="data-input">
                        <div class="col-1 pl-0">
                            <div id="lookBackMttyDataInputGriddata" style="margin-top: 0rem;"></div>
                          </div>
                          <div class="col-5 ">
                            <form id="dataformInputdata">
                              <div class="form-group" style=" margin-top: 0">
                                <div class="pt-2 mh-42 justify-content-between" style="display: flex;" id="input-titles">
                                </div>
                                <div style=" display: flex;">
                                  <input type="text" class="form-control" id="data-input-data" autocomplete="off">
                                </div>
                              </div>
                              <!--   <button type="submit" class="btn btn-primary">Save</button> -->
                            </form>
                            <div id="dataInputGriddata" style="margin-top: 0rem;"></div>
                            <div class="row" id="dataInputButtonsdata" style="display:none;">
                              <div class='col-12 d-flex justify-content-end mt-2'>
                                <input class="btn btn-primary mr-1 mb-1" style="margin-right: 1rem!important; color:white;" type="button" id="loaddata" value="Load " />
                                <input id="canceldata" type="button" style="margin: 0!important;" class="btn btn-light-secondary mr-1 mb-1" value="Cancel" />
                              </div>
                            </div>
                          </div>
                         <div class="col-6 pr-0">
                            <div id="lookBackDataInputGriddata" style="margin-top: 0rem;"></div>
						 </div>
                        </div>
                      
                      </div>
                      <div class="col-12 p-0">
                        <div class="col-12 d-flex justify-content-between">
                          <div id='dateInputAudit'></div>
                          <button id="deletedata" class="mb-1" style="font-size: .8rem; float: right;">Delete</button>
                        </div>
                        <div class="col-12 ">
                          <div class="col-12 p-0" id="data-audit">
                           <div class="nav nav-tabs" id="nav-tab" role="tablist">
								    <a class="nav-item nav-link active nav-small" id="nav-yields-tab" data-toggle="tab" href="#nav-initials" role="tab" aria-controls="nav-yields" aria-selected="true">INITIAL</a>
								    <a class="nav-item nav-link nav-small" id="nav-curves-tab" data-toggle="tab" href="#nav-rollings" role="tab" aria-controls="nav-curves" aria-selected="false">ROLLING</a>
							</div>
                            <div id="AuditGrid"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="card-header accordion md-accordion" id="accordionFilter" style="padding: .2rem 2.5rem 3.2rem 2.5rem;">
                <p>
                  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Collapse Data Entry Section </a>
                </p>
                <div class="card">
                  <h6 class="mb-0">
                    <button class="collapsed m-0 font-weight-bold text-primary" style="padding: .375rem .75rem;" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter"> Filters <i class="fas fa-angle-down rotate-icon"></i>
                    </button>
                  </h6>
                  <div id="collapseFilter" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFilter">
                    <div class="card-body">
                      <div class="row">
                        <div class="btn-group mr-2 col-12 mb-2" role="group" aria-label="Second group">
                          <label style="margin-right: 1.5rem;">From</label>
                          <div id='dateInputFrom' style='border-radius: 0.2rem;'></div>
                          <label style="margin-right: 1.5rem; margin-left: 1.5rem;">To</label>
                          <div id='dateInputTo' style='border-radius: 0.2rem;'></div>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-12 border ml-2 p-1 rounded">
                          <div class="row">
                            <div class="col-12 pt-2">
                              <div class="col-12">
                                <div class="col-12">
                                  <h2> LONGEND FUTURES</h2>
                                </div>
                              </div>
                            </div>
                            <div id="filter-container" class="d-flex col">
                            
                            <div class="col-3">
                            		<div id='jqxCheckBoxSpreadName' style='float: left;'><span class="checkboxesTitle">Spread Name</span></div> 
					             	<div id='jqxCheckBoxSpreadValue' style='float: left;'><span class="checkboxesTitle">Spread Value</span></div>
					         </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-2 mb-2">
                          <div class='col-12 d-flex justify-content-end'>
                            <input data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter" class="btn btn-primary mr-1 mb-1" style="margin-right: 1rem !important; color: white;" type="button" id="filter" value="Search" />
                            <input id="Clearfilter" type="button" style="margin-right: 1rem !important;" class="btn btn-light-secondary mr-1 mb-1 red" value="Clear" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="grid"></div>
                  <div id="alertDate-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header bg-warning">
                          <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">Please Select a date smaller then Today's date.</div>
                      </div>
                    </div>
                  </div>
                  <div id="alertDeleteDataByDate-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header bg-danger">
                          <h4 class="modal-title white" id="myLargeModalLabel">Are you sure?</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" id="alertTextDeleteDataByDate"></div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-primary" onclick="deleteDataByDate()">Delete Record</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="alertInfoDeleteDataByDate-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header bg-success">
                          <h4 class="modal-title white" id="myLargeModalLabel">Success</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" id="successDelete"></div>
                      </div>
                    </div>
                  </div>
                  <div id="alert-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header bg-warning">
                          <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">The date you are trying to insert has already data please choose a valid date</div>
                      </div>
                    </div>
                  </div>
                  <div id="alert-modal-fx" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header bg-warning">
                          <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">The date you are trying to insert has no data in the Fx and Cds Asset.</div>
                      </div>
                    </div>
                  </div>
                  <div id="alert-modal-robot" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header bg-warning">
                          <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">Please wait, robot are under execution.</div>
                      </div>
                    </div>
                  </div>
                  <div id="alert-modal-weekend" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header bg-warning">
                          <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">It is not allowed to enter data on weekend days</div>
                      </div>
                    </div>
                  </div>
                  <div id="alertFiltter-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header bg-warning">
                          <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">You must select at least one record.</div>
                      </div>
                    </div>
                  </div>
                  <div id="alertFiltterMax-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header bg-warning">
                          <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">You cannot select more than 15 criteria</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!---Container Fluid-->
              </div>
              <div class="NewsBack container" style="position: fixed; bottom: 0px; left: 0px; max-width: 100%; border: 2px; border-color: black;">
                <div class="simple-marquee-container">
                  <div class="marquee-sibling-date">
                    <p id="todayDate"></p>
                  </div>
                  <div class="marquee-sibling">NEWS</div>
                  <div class="marquee">
                    <ul id="Newslist" class="marquee-content-items"></ul>
                  </div>
                  <div class="marquee-sibling-viewAll">
                    <input type="button" value="VIEW ALL" id='viewall' style="display: none;" />
                  </div>
                </div>
              </div>
              <!-- Footer -->
              <!-- Footer -->
            </div>
          </div>
        </div>
        <!-- Scroll to top -->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/js/marquee.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/js/jqwidgets/jqxcore.js"></script>
        <script src="/js/jqwidgets/jqxbuttons.js"></script>
        <script src="/js/jqwidgets/jqxscrollbar.js"></script>
        <script src="/js/bourse/jsonCheckBoxArrayAll.js"></script>
        <script src="/js/jqwidgets/jqxcheckbox.js"></script>
        <script src="/js/jqwidgets/jqxmenu.js"></script>
        <script src="/js/jqwidgets/jqxgrid.js"></script>
        <script src="/js/jqwidgets/jqxgrid.selection.js"></script>
        <script src="/js/jqwidgets/jqxgrid.columnsresize.js"></script>
        <script src="/js/jqwidgets/jqxgrid.edit.js"></script>
        <script src="/js/jqwidgets/jqxgrid.pager.js"></script>
        <script src="/js/jqwidgets/jqxgrid.filter.js"></script>
        <script src="/js/jqwidgets/jqxdropdownlist.js"></script>
        <script src="/js/jqwidgets/jqxbuttongroup.js"></script>
        <script src="/js/jqwidgets/jqxlistbox.js"></script>
        <script src="/js/jqwidgets/jqxdata.js"></script>
        <script src="/js/jqwidgets/jqxwindow.js"></script>
        <script src="/js/jqwidgets/jqxinput.js"></script>
        <script src="/js/jqwidgets/jqxdatetimeinput.js"></script>
        <script src="/js/jqwidgets/jqxcalendar.js"></script>
        <script src="/js/bourse/longEnds/longEndsDataInput.js"></script>
        <script src="/js/bourse/scrollBarNews.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/notification/sockjs.js"></script>
        <script src="/js/notification/stomp.js"></script>
        <script src="/js/notification/config.js"></script>
        <script th:inline="javascript">
          const authorities = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.authorities}]]*/ "";
          const hasPendingApprovalGrid = authorities.filter(item => {
            return item.authority === "PENDING_APPROVAL_GRID"
          })[0] !== undefined;
        </script>
  </body>
</html>