<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>Libvol - Data Function</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <link href="/css/apexchart.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.dark.css" rel="stylesheet">
  <link href="/css/custom.grid.css" rel="stylesheet">
  <link href="/css/slider.min.css" rel="stylesheet">
  <link href="/css/notification.css" rel="stylesheet">
  
  <style>
  .jqx-grid-column-header > div > div > span[style] { /*Cause header text to wrap to new line rather than be truncated*/
     white-space: normal;
  }
  .jqx-grid-column-header > div > div  { 
       font-size: .75rem;
    line-height: 15px!important;
  }
  .jqx-widget-content-dark {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    }
   .align-items-top {
    vertical-align: top;
 }
 div#container-wrapper {
    padding-bottom: 2.8rem;
}
.jqx-listitem-state-hover-dark, .jqx-menu-item-hover-dark, .jqx-tree-item-hover-dark, .jqx-calendar-cell-hover-dark, .jqx-grid-cell-hover-dark,
.jqx-input-popup-dark .jqx-fill-state-hover-dark,
.jqx-input-popup-dark .jqx-fill-state-pressed-dark {
   font-size: 16px;
}
  .cb-1{
    border: 1px #a6c2ff7a solid;
    background: #5a8cec66;
    border-radius: 0.4rem;
    min-width: 16.6%;
  }
  .mt-3.btn-toolbar.justify-content-between {
    margin: 0 7rem;
}
	.checkbox-title {
	    font-size: .8rem;
	    padding-bottom: 0.45rem;
	    text-align: end;
	}
   .inputdate{
    width: 25%;
    margin: 0 .5rem;
    text-align: center;
        border: 1px solid rgba(0, 0, 0, .125);
    background-color: #272E48!important;
    border-color: #464D5C;
    color: #ffffff;
    padding:0;
  }
  .edit{
    text-transform: uppercase;
    margin: 0.5rem;
    color: white;
    background-color: #5a8dee!important;
    border-color: var(--jqx-border);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 1px 42px;
    font-weight: bold;
 
}
.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 13.66667%;
    flex: 0 0 13.66667%;
    max-width: 13.66667%;
}

.jqx-grid-cell-left-align {
    text-align: center;
}
.fs-7{
font-size: .7rem;
}  
.row-style{
    background-color: #272e48;
    padding-top: 0.1rem;
    }
  </style>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="fixedMenu">
        <!-- TopBar -->
     	<div th:include="${mainmenu}"></div>
        <!-- Topbar -->
  <div class="d-sm-flex align-items-center">
            <h1 class="ml-6 text-darkorange">DATA & FUNCTION DISPLAY</h1>
            	 <nav style="margin-left: 3rem;
    						 height: 35px;
    						 margin-top: 0.5rem;">
				  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				    <a sec:authorize="hasAuthority('DATA_FUNCTION_DISPLAY_SCREEN')" class="navigation nav-item nav-link " id="nav-datafunctiondisplay-tab"  href="/bourse/datafunctiondisplay" role="tab" aria-controls="nav-datafunctiondisplay" aria-selected="false">YIELDS & RATES</a>
				    <a sec:authorize="hasAuthority('FXCDS_DATA_FUNCTION_DISPLAY_SCREEN')"  class="navigation nav-item nav-link" id="nav-fxcdsdatafunctiondisplay-tab"  href="/bourse/fxcdsdatafunctiondisplay" role="tab" aria-controls="nav-datafxcdsdisplay" aria-selected="false">FX & CDS</a>
				    <a sec:authorize="hasAuthority('METAL_DATA_FUNCTION_DISPLAY_SCREEN')"  class="navigation nav-item nav-link " id="nav-datafunctiondisplay-tab"  href="/bourse/metaldatafunctiondisplay" role="tab" aria-controls="nav-datametalfunctiondisplay" aria-selected="false">COMMODITIES</a>
				 	<a sec:authorize="hasAuthority('LIQUIDITY_DATA_FUNCTION_DISPLAY_SCREEN')"  class="navigation nav-item nav-link" id="nav-datafunctiondisplay-tab"  href="/bourse/liquiditydatafunctiondisplay" role="tab" aria-controls="nav-datametalfunctiondisplay" aria-selected="false">LIQUIDITY</a>
				  	<a sec:authorize="hasAuthority('VOLUME_DATA_FUNCTION_DISPLAY_SCREEN')"  class="navigation nav-item nav-link" id="nav-datafunctiondisplay-tab"  href="/bourse/volumedatafunctiondisplay" role="tab" aria-controls="nav-datametalfunctiondisplay" aria-selected="false">VOLUME</a>
				  	<a sec:authorize="hasAuthority('SKEWS_DATA_FUNCTION_DISPLAY_SCREEN')"  class="navigation nav-item nav-link active" id="nav-datafunctiondisplay-tab-skews"  href="/bourse/skewsdatafunctiondisplay" role="tab" aria-controls="nav-datametalfunctiondisplay" aria-selected="false">SKEWS</a>
					<a sec:authorize="hasAuthority('STI_DATA_FUNCTION_DISPLAY_SCREEN')"  class="navigation nav-item nav-link" id="nav-datafunctiondisplay-tab-sti"  href="/bourse/stidatafunctiondisplay" role="tab" aria-controls="nav-datametalfunctiondisplay" aria-selected="false">STOCKS & INDICES</a>
				 	<a sec:authorize="hasAuthority('MACRO_DATA_FUNCTION_DISPLAY_SCREEN')"  class="navigation nav-item nav-link" id="nav-datafunctiondisplay-tab-macro"  href="/bourse/macrodatafunctiondisplay" role="tab" aria-controls="nav-datamacrofunctiondisplay" aria-selected="false">MACRO PMI</a>
				 </div>
				</nav>
           
          </div>
              </div>
               <div id="content">
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper" style="min-height: 500px;">

          <div class="row">
			 <div class="bd-example bd-example-tabs col-12">
				<div class="tab-content" id="nav-tabContent" style="display:none">
				  <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
				...
					 </div>
				  <div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
				  	<p class="mt-2" style=" margin-bottom: .5rem;">
					  <a class="btn select" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter" >Select Factors
				  	  <img style="width: 12px; margin-left: .6rem;" id="ContentPlaceHolder1_Image13" src="../../img/down.png" align="absmiddle"></a>
				  	  	</p>
					<div class="row">
					  <div class="col pl-0">
					    <div class="collapse multi-collapse show" id="collapseFilter">
				<div class="row">
		 <div class="btn-group mr-2 col-12 mb-2" role="group" aria-label="Second group">
			<label style="margin-right: 1.5rem;">From</label>
				<div id='dateInputFrom' style='border-radius: 0.2rem;'>
				</div>
			<label style="margin-right: 1.5rem;    margin-left: 1.5rem;">To</label>
				<div id='dateInputTo'  style='border-radius: 0.2rem;'>
				</div>
       </div> 
       </div>
				<div class="row">
				 <div class="col-9">
							 <div class="row">
						       <div class="col-12">
						        <div class="d-flex no-gutters pt-2">
							        <div class="col-4"></div>
							        <div class="col-8 d-flex">
										<div class="col fs-7">15%d P <br>vs ATM</div>
										<div class="col fs-7">25%d P <br>vs ATM</div>
										<div class="col fs-7">25%d CALL <br>vs ATM</div>
										<div class="col fs-7">15%d CALL <br>vs ATM</div>
										<div class="col fs-7">50% <br>COMBO</div>
										<div class="col fs-7">30% <br>COMBO</div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						            <div class="col-4"><h7>BUND 2nd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-25-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						            <div class="col-4"><h7>BUND 2nd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-25-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"> <div id='jqxCheckBox-25-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-25-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col">  <div id='jqxCheckBox-25-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						         	<div class="col-4"><h7>BUND 3nd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-26-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						         	<div class="col-4"><h7>BUND 3nd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-26-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-26-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						         	<div class="col-4"><h7>BOBL 2nd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
											<div class="col"><div id='jqxCheckBox-27-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						         	<div class="col-4"><h7>BOBL 2nd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-27-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-27-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						         	<div class="col-4"><h7>BOBL 3rd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-28-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						         	<div class="col-4"><h7>BOBL 3rd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
											<div class="col"><div id='jqxCheckBox-28-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-28-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters pt-1">
						         	<div class="col-4"><h7>BUXL 2nd MATURITY (B&S 365 in %)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-29-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						         <div class="d-flex no-gutters row-style">
						         	<div class="col-4"><h7>BUXL 2nd MATURITY (in TICKS)</h7></div>
							        <div class="col-8 d-flex">
										<div class="col"><div id='jqxCheckBox-29-DP15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DC25_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DC15_ATM-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP25_DC25-11' class="jqx-checkbox-items" style='float: left;'></div></div>
										<div class="col"><div id='jqxCheckBox-29-DP15_DC15-11' class="jqx-checkbox-items" style='float: left;'></div></div>
									</div>
						        </div>
						          <div class="d-flex no-gutters pt-4">
					            <div class="col-4"><h7>EURIBOR 4th Mtty YIELD VOL (B&S in %)</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-30-DP15_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC25_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC15_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_DC25-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP15_DC15-12' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					         <div class="d-flex no-gutters row-style">
					            <div class="col-4"><h7>EURIBOR 4th Mtty PRICE VOL (B&S in %)</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-30-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					         <div class="d-flex no-gutters pt-1">
					         	<div class="col-4"><h7>EURIBOR 4th Mtty BPDV Vol</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-30-DP15_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC25_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DC15_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP25_DC25-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-30-DP15_DC15-13' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					          <div class="d-flex no-gutters row-style">
					            <div class="col-4"><h7>EURIBOR 7th Mtty YIELD VOL (B&S in %)</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-31-DP15_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC25_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC15_ATM-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_DC25-12' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP15_DC15-12' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					         <div class="d-flex no-gutters pt-1">
					            <div class="col-4"><h7>EURIBOR 7th Mtty PRICE VOL (B&S in %)</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-31-DP15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC25_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC15_ATM-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_DC25-10' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP15_DC15-10' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
					         <div class="d-flex no-gutters row-style">
					         	<div class="col-4"><h7>EURIBOR 7th Mtty BPDV Vol</h7></div>
						        <div class="col-8 d-flex">
									<div class="col"><div id='jqxCheckBox-31-DP15_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC25_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DC15_ATM-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP25_DC25-13' class="jqx-checkbox-items" style='float: left;'></div></div>
									<div class="col"><div id='jqxCheckBox-31-DP15_DC15-13' class="jqx-checkbox-items" style='float: left;'></div></div>
								</div>
					        </div>
						    </div>
						  
						    </div>
 
						</div>
                 	    <div class='col-1'></div>
		                 <div class='col-2 pt-4 cb-1'>
		                   <div id='jqxDailyChangeInPercentage'>
                           Daily change in %</div>
                           <div id='jqxDailyChangeIncrement'>
                           Daily change increment</div>
                           <div id='jqx100dMovAvg'>
                           100d MovAvg</div>
                           <div id='jqx200dMovAvg'>
                           200d MovAvg</div>
                           <div id='jqxWeeklyChangeInPercentage'>
                           Weekly change in %</div>
                           <div id='jqxWeeklyChangeIncrement'>
                           Weekly change increment</div>
                           <div id='jqx10yrPercentile'>
                           10 YR Percentile</div>
                           <div id='jqx20yrPercentile'>
                           20 YR Percentile</div>
                           <div id='jqxCenturyPercentile'>
                           Century Percentile</div>
		                 </div>
                     </div>
                     	<div class="row mt-4">
							<div class='col-12 d-flex justify-content-end'>
							<input  aria-expanded="true" aria-controls="collapseFilter" class="btn btn-primary mr-1 mb-1" style="margin-right: 1rem!important; color:white;" type="button" id="show" value="Show" />
							<input id="Clearfilter" type="button" style="margin-right: 1rem!important;" class="btn btn-light-secondary mr-1 mb-1" value="Clear" />
							</div>
						</div>
					    </div>
				
					<div class="grid-container">
					
					  <main class="grid-item main">
					    <div class="items" id="grids-container">
					    </div>
					  </main>
					 
					</div>
					
					</div>
				  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
				</div>
			</div>
          </div>
         	<div id="overlay">
		     <img src="/css/images/loader.gif" alt="Loading" style=" width: 50%;"/>
		   </div>

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>
          
	 	<div id="alertFiltter-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        You must select at least one record.
		      </div>
		    </div>
		  </div>
	 </div>
	 	<div id="alertStartDate-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body" id="startdatetext">
		      </div>
		    </div>
		  </div>
	 </div>
        </div>
        <!---Container Fluid-->
      </div>
        <div class="NewsBack container" style="position: fixed; bottom: 0px; left: 0px; max-width: 100%;  border: 2px; border-color: black;">
      	<div class="simple-marquee-container">
				<div class="marquee-sibling-date">
					<p id="todayDate"></p>
				</div>
				<div class="marquee-sibling">
					NEWS
				</div>
				<div class="marquee">
					<ul id="Newslist" class="marquee-content-items">
					</ul>
				</div>
				<div class="marquee-sibling-viewAll">
					 <input type="button" value="VIEW ALL" id='viewall' style="display:none;"/>
				</div>
			</div>
		</div>
      <!-- Footer -->
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/vendor/jquery/jquery.min.js"></script>
 <script src="/js/jqwidgets/jqxcore.js"></script> 
 <script src="/js/jqwidgets/jqxcheckbox.js"></script>
  <script src="/js/marquee.js"></script>
   <script src="/js/slider.script.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/jqwidgets/jqxscrollbar.js"></script> 
  <script src="/js/jqwidgets/jqxmenu.js"></script> 
  <script src="/js/bourse/jsonCheckBoxArrayAll.js"></script>  
  <script src="/js/bourse/skews/skewsDataFunctionDisplay.js"></script>   
  <script src="/js/jqwidgets/jqxgrid.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.selection.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.columnsresize.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.edit.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.pager.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.filter.js"></script> 
  <script src="/js/jqwidgets/jqxdropdownlist.js"></script> 
  <script src="/js/jqwidgets/jqxlistbox.js"></script> 
  <script src="/js/jqwidgets/jqxdata.js"></script> 
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/bourse/scrollBarNews.js"></script> 
  <script src="/js/bourse/inGraphNews.js"></script> 
  <script src="/js/jqwidgets/jqxdatetimeinput.js"></script>
  <script src="/js/jqwidgets/jqxcalendar.js"></script>
  <script src="/js/bourse/checkedFunction.js"></script>   
  <script src="/js/common.js"></script>
  <script src="/js/notification/sockjs.js"></script>
  <script src="/js/notification/stomp.js"></script>
  <script src="/js/notification/config.js"></script>
  <script th:inline="javascript">
	  const authorities = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.authorities}]]*/ "";
	  const hasPendingApprovalGrid= authorities.filter(item => {
	  	   return item.authority === "PENDING_APPROVAL_GRID"
	  })[0]!== undefined;
	 
  </script>
</body>

</html>