/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');*/

* {
    font-family: Arial;
}

body {
    height: 100vh;
    background: #f9f9f9;
}
.buttons {
    margin: 100% 0;
}
.apexcharts-yaxis-label-2y {
    fill: #FFA500;
}
.apexcharts-yaxis-label-2y-gold {
    fill: #F0AB2E;
}

.glowFilter {animation:tronFilter 4s infinite linear; 
             stroke-width:2;
             stroke-linecap:round;
             stroke-linejoin:bevel;
             }
@keyframes tronFilter {
0%, 100% {
    -webkit-filter: drop-shadow(-.75px 0px 6px #ff0000);
    filter: drop-shadow(-.75px 0px 6px #ff0000);
    stroke: #ff0000;
  }

  50% {
    -webkit-filter: drop-shadow(-.75px 0px 6px #0000ff);
    filter: drop-shadow(-.75px 0px 6px #0000ff);
    stroke: #0000ff;
  }
}

#chart, .chart-box {
    padding-top: 10px;
    padding-left: 10px;
/*     background: #fff; */
/*     border: 1px solid #ddd; */
    box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.1);
}
foreignObject.gridbackground {
    background: linear-gradient(
180deg, rgb(76 106 166) 5%, rgba(6,16,28,1)55%)!important;
}
select.flat-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #008FFB url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'60px\' height=\'60px\'><polyline fill=\'white\' points=\'46.139,15.518 25.166,36.49 4.193,15.519\'/></svg>") no-repeat scroll right 2px top 9px / 16px 16px;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    font-family: arial,tahoma;
    font-size: 16px;
    font-weight: bold;
    outline: 0 none;
    height: 33px;
    padding: 5px 20px 5px 10px;
    text-align: center;
    text-indent: 0.01px;
    text-overflow: "";
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;
    width: auto;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  select.flat-select:focus, select.flat-select:hover {
    border: 0;
    outline: 0;
  }
  
.apexcharts-tooltip-title {
    padding: 5px!important;
    font-size: 15px;
    margin-bottom: 0px!important;
}
.apexcharts-tooltip-series-group.apexcharts-active, .apexcharts-tooltip-series-group:last-child {
    padding-bottom: 0px!important;
}
.apexcharts-xaxistooltip {
    padding: 5px 0px!important;
}
.apexcharts-tooltip-series-group {
    padding: 0 5px!important;
    display: none;
    text-align: left;
    justify-content: left;
    align-items: center;
}

.apexcharts-canvas {
    margin: 0 auto;
    background:#172568 !important;
    border-radius: 0.2rem;
}

#html {
    display: none;
}
text {
    fill: white;
}
.apexcharts-marker {
    transform-origin: center;
    transform-box: fill-box;
}
.overlayChart {
    position: absolute;
    margin: 15% 48%;
    z-index: 200;
}
.overlayChart-split {
    position: absolute;
    margin: 40% 47%;
    z-index: 200;
}
.apexcharts-tooltip {
    background: rgb(255 255 255 / 65%)!important;
    color:black;
  }
  .btn-style:hover {
 cursor:pointer;
}