<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>Liberty Options - View All News</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/css/light.bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.base.css" rel="stylesheet">
  <style>
  ::-webkit-scrollbar-track {
    background-color: #CACACA;
}
  .jqx-rc-all.jqx-fill-state-normal {
    top: 170px!important;
}
  .form-control {
    height: calc(1em + .75rem + 7px);
    }
    div#overlay {
    margin: 15% 40%;
}
   .jqx-widget-header:nth-child(16) {
  background-color: #6495ed;
  color:white;
} 
  .jqx-widget-header:nth-child(17) {
  background-color: #ffa500;
    color:white;
} 
.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 10.33333%;
}
.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 12.66667%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6f7f9c;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #6f7f9c;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #6f7f9c;
}
input[type="textarea"].jqx-widget-content-dark{
  padding-left:.5rem;
  color:#BDD1F8;
}
#columntablegrid > div:nth-child(1) > div > div:nth-child(1) > span {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Arial';
}
.red{
color:red;
}
.t-style{
font-size: .7rem;
    font-weight: bold;
    font-family: 'Arial';
}
.jqx-grid-cell-left-align {
  font-size: .7rem;
}
.jqx-widget-header {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Arial';
}
.jqx-grid-cell-alt {
    background: #eee8c7;
}
.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {
    border-color: #aaa;
    border: 0px;
}
  </style>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
        
        <div class="col-12 row mt-2">
                   
                    <div class="btn-group col-7 mb-2 pl-0 justify-content-end" >
	                    <div id='IsImportant' class="t-style" style='color: white;
	                  												 margin-top:0.5rem;
																	 position: absolute;
																   	 line-height: 25px;
																	 z-index: 100;'>
	                                    Show only important news</div>
	                                      <div id="grid"></div>
	                                    
                    </div>
                   <div class="col-5 mb-2 p-0" role="group" aria-label="Second group">
                      <div class="col-12 row p-0 m-0">
						 <div class="col-4 p-0">
						 <label class="t-style">Select Asset Class:&nbsp</label>
							<div id='FamilyDropDown' style='border-radius: 0.2rem;'>
							</div>
							</div>
							<div class="col-5 pr-0">
						<label class="t-style">&nbspSelect Group:&nbsp</label>
							<div id='groupDropDown'  style='border-radius: 0.2rem;'>
							</div>
							</div>
							<div class="col-3">
						<label class="t-style">&nbspSelect Sub Group:&nbsp</label>
							<div id='subGroupDropDown'  style='border-radius: 0.2rem;'>
							</div>
							</div>
						</div>
						 <div id="grid_filtered" style="margin-top:.5rem"></div> 
			      </div> 
				 </div>
          <div class="row mb-3">
	      <div class="col-12 row mt-2">
	        <div class="col-7">
		    
	        </div>
	          <div class="col-5 p-0">
		     
	        </div>
	       </div>   
      </div>
    </div>
  </div>
    </div>
  </div>
  <!-- Scroll to top -->

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/marquee.js"></script>
  
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/jqwidgets/jqxscrollbar.js"></script> 
  <script src="/js/jqwidgets/jqxtree.js"></script>
  <script src="/js/jqwidgets/jqxcheckbox.js"></script>
  <script src="/js/jqwidgets/jqxmenu.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.selection.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.columnsresize.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.edit.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.pager.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.filter.js"></script> 
  <script src="/js/jqwidgets/jqxdropdownlist.js"></script> 
  <script src="/js/jqwidgets/jqxlistbox.js"></script> 
  <script src="/js/jqwidgets/jqxdata.js"></script> 
  <script src="/js/jqwidgets/jqxwindow.js"></script>
  <script src="/js/jqwidgets/jqxinput.js"></script>
  <script src="/js/jqwidgets/jqxdatetimeinput.js"></script>
  <script src="/js/jqwidgets/jqxcalendar.js"></script>
  <script src="/js/jqwidgets/jqxgrid.grouping.js"></script>
  <script>
  var groupItem;
  var subgroupsource;
  var familyItem;
  var groupsource;
  var gridsource;
  $(window).on('load', function(){
	  $('#overlay').fadeOut();
	  $('#nav-column-master').show();
  });
  function addText(event) {
	    var targ = event.target || event.srcElement;
	    document.getElementById("TemplateText").value += targ.textContent || targ.innerText;
	}
  $(document).ready(function () {
		 
		var familysource =
	      {
	          datatype: "json",
	          datafields: [
	              { name: 'id' },
	              { name: 'description' }
	          ],
	          url: '/admin/getassetclass',
	          async: true
	      };
		   var dataAdapter = new $.jqx.dataAdapter(familysource);
		 	$("#FamilyDropDown").jqxDropDownList({ source: dataAdapter , displayMember: "description", valueMember: "id", theme: 'dark' , width: '100%', height: 30});
		 	$("#FamilyDropDown").on('select', function (event) {
	            if (event.args) {
	               familyItem = event.args.item;
	              // groupsource.url='/admin/getgroupsbyfamily/'+familyItem.value;
	              debugger;
	              $.get('/admin/getgroupsbyfamily/'+familyItem.value,  // url
	            	      function (data, textStatus, jqXHR) {  // success callback
	            	  data.push({id: 6, description: 'ALL', assetId: '1', groupCode: ''});
	            	  groupsource.localdata=data;
		               var dataAdapter = new $.jqx.dataAdapter(groupsource);
		               $("#groupDropDown").jqxDropDownList({source:dataAdapter, disabled: false }); 
	            	    });
	       		
	            }
	        });
		   groupsource =
		      {
		          datatype: "json",
		          datafields: [
		              { name: 'id' },
		              { name: 'description' }
		          ],
		          url: '',
		          async: true
		      };
			   var dataAdapter = new $.jqx.dataAdapter(groupsource);
			 
			$("#groupDropDown").jqxDropDownList({ source: dataAdapter,disabled: true,  displayMember: "description", valueMember: "id",theme: 'dark' , width: '100%', height: 30});
			$("#groupDropDown").on('select', function (event) {
	              if (event.args) {
	                 groupItem = event.args.item;
	                 if (groupItem.value==6)
	                	{
	                	 subgroupsource.url='/admin/getsubgroupsbygroup/1';
	                     var dataAdapter = new $.jqx.dataAdapter(subgroupsource);
	                     $("#subGroupDropDown").jqxDropDownList({source:dataAdapter, disabled: false }); 
	                	}
	                 else
	                 {
	                	 subgroupsource.url='/admin/getsubgroupsbygroup/'+groupItem.value;
	                     var dataAdapter = new $.jqx.dataAdapter(subgroupsource);
	                     $("#subGroupDropDown").jqxDropDownList({source:dataAdapter, disabled: false }); 
	                 }
	              
	         		
	              }
	          });
			 subgroupsource =
		      {
		          datatype: "json",
		          datafields: [
		              { name: 'idSubGroup' },
		              { name: 'description' }
		          ],
		          url: '',
		          async: true
		      };
			   var dataAdapter = new $.jqx.dataAdapter(subgroupsource);
			$("#subGroupDropDown").jqxDropDownList({ source: dataAdapter,disabled: true, displayMember: "description", valueMember: "idSubGroup", theme: 'dark' , width: '100%', height: 30});
			$("#subGroupDropDown").on('select', function (event) {
				
	            if (event.args) {
	               subGroupDropDown = event.args.item;
	               if (groupItem.value==6)
	            	{
	            	   filteredgridsource.url='/admin/findallnewsbygroupidandsubgroupid/'+subGroupDropDown.label;
		               var filteredDataAdapter = new $.jqx.dataAdapter(filteredgridsource);
		               $('#grid_filtered').jqxGrid({source:filteredDataAdapter,  groups: ['generationDateDate']});
	            	} 
	               else
	               { filteredgridsource.url='/admin/findnewsbygroupidandsubgroupid/'+groupItem.value+'/'+subGroupDropDown.value;
	               var filteredDataAdapter = new $.jqx.dataAdapter(filteredgridsource);
	               $('#grid_filtered').jqxGrid({source:filteredDataAdapter,  groups: ['generationDateDate']});
	               }
	            }
	        });
	  $("#IsImportant").jqxCheckBox({ width: 200, height: 25});  
      gridsource =
      {
          datatype: "json",
          datafields: [
        	  { name: 'template', type: 'string' },
        	  { name: 'isBold', type: 'string' },  
        	  { name: 'generationDateDate', type: 'date' },  
          ],
          async: true,
          url: '/admin/findnewsformateddate'
      };
      filteredgridsource =
      {
          datatype: "json",
          datafields: [
        	  { name: 'template', type: 'string' },
        	  { name: 'isBold', type: 'string' },  
        	  { name: 'generationDateDate', type: 'date' },  
          ],
          async: true,
          url: ''
      };
      var dataAdapter = new $.jqx.dataAdapter(gridsource, {
          downloadComplete: function (data, status, xhr) { },
          loadComplete: function (data) { },
          loadError: function (xhr, status, error) { }
      });
      var filteredDataAdapter = new $.jqx.dataAdapter(filteredgridsource, {
          downloadComplete: function (data, status, xhr) { },
          loadComplete: function (data) { },
          loadError: function (xhr, status, error) { }
      });
      var cellclassname = function (row, column, value, data) {
          var isBold = $('#grid').jqxGrid('getcellvalue', row, "isBold");
          if (isBold=="true") {
              return "red";
          }
      }
      $('#IsImportant').on('change', function (event) {
    	  $('#grid').jqxGrid('showloadelement');
          debugger;
    	  var checked = event.args.checked;
    	  if (checked)
    	    gridsource.url='/admin/getnewsbyimportance/'+checked;
    	  else
    	    gridsource.url='/admin/findnewsformateddate';
    	  
          var dataAdapter = new $.jqx.dataAdapter(gridsource);
          $('#grid').jqxGrid({source:dataAdapter,
        	  groups: ['generationDateDate']}
          );
          
      });
      // initialize jqxGrid
      $("#grid").jqxGrid(
      {
          width: '100%',
          source: dataAdapter,                
         columnsresize: false,
         pageable: false,
         selectionmode: 'none',
         pagesize: 20,
         autoheight: true,
          altrows: true,
          showgroupsheader: false,
          groupable: true,
          groupsexpandedbydefault: true,
          columns: [
           { text: 'Date', datafield: 'generationDateDate', hidden: true,  editable:false, cellsformat: 'dd-MMM-yyyy',filtertype: 'date' }, 
           { text: 'All News', datafield: 'template', width: '100%',   cellclassname: cellclassname,
        	   createfilterwidget: function (column, columnElement, widget) {
        	        widget.jqxInput({ width: '100%', height: 27, placeHolder: "Search" });
        	      }
           },
           { text: '', datafield: 'isBold', hidden: true  },
           ],
      groups: ['generationDateDate']
         
      });
      
      $("#grid_filtered").jqxGrid(
    	      {
    	          width: '100%',
    	          source: filteredDataAdapter,                
    	          columnsresize: true,
    	          pageable: false,
    	          selectionmode: 'none',
    	          columnsheight: 30,
    	          pagesize: 10,
    	          autoheight: true,
    	          altrows: true,
    	          autorowheight: true,
    	          showgroupsheader: false,
    	          groupable: true,
    	          groupsexpandedbydefault: true,
    	          columns: [
    	           { text: 'Date', datafield: 'generationDateDate', hidden: true,  editable:false, cellsformat: 'dd-MMM-yyyy',filtertype: 'date' }, 
    	           { text: 'All News', datafield: 'template', width: '100%',   cellclassname: cellclassname,
    	        	   createfilterwidget: function (column, columnElement, widget) {
    	        	        widget.jqxInput({ width: '99%', height: 27, placeHolder: "Search" });
    	        	      }
    	           },
    	           { text: '', datafield: 'isBold', hidden: true  },
    	           ],
    	      groups: ['generationDateDate']
    	         
    	      });
    	      
     
  });

	
		</script>
<!--   <script src="/js/demo/chart-area-demo.js"></script>   -->
</body>

</html>