<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>Libvol - Flow Search Engine</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.dark.css" rel="stylesheet">
  <link href="/css/notification.css" rel="stylesheet">
  <link id="dynamicStyle" rel="stylesheet">

</head>
<body id="page-top">
  <div id="wrapper">
  
    <div id="content-wrapper" class="d-flex flex-column">
    <div id="fixedMenu">
        <!-- TopBar -->
     	<div th:include="${mainmenu}"></div>
        <!-- Topbar -->
 </div>
 	<div th:utext="${template}" id="content-data" style="display:none;"></div>
    <div class="NewsBack container" style="position: fixed; bottom: 0px; left: 0px; max-width: 100%;  border: 2px; border-color: black;">
      	<div class="simple-marquee-container">
				<div class="marquee-sibling-date">
					<p id="todayDate"></p>
				</div>
				<div class="marquee-sibling">
					NEWS
				</div>
				<div class="marquee">
					<ul id="Newslist" class="marquee-content-items">
					</ul>
				</div>
				<div class="marquee-sibling-viewAll" sec:authorize="hasAuthority('VIEW_ALL_NEWS')" >
					 <input type="button" value="VIEW ALL" id='viewall' style="display:none;"/>
				</div>
			</div>
		</div>
      <!-- Footer -->
      <footer class="sticky-footer bg-dark">
        <div class=" my-auto">
          <div class="copyright text-center my-auto">
              <b><a href="" target="_blank"></a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/marquee.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/config/session_storage.js"></script>
  <script src="/js/bourse/scrollBarNews.js"></script> 
  <script src="/js/common.js"></script>
  <script src="/js/notification/sockjs.js"></script>
  <script src="/js/notification/stomp.js"></script>
  <script src="/js/notification/config.js"></script>
  
   <script src="/js/jqwidgets/jqxdata.js"></script> 
   <script src="/js/jqwidgets/jqxgrid.js"></script> 
   <script src="/js/jqwidgets/jqxgrid.edit.js"></script> 
   <script src="/js/jqwidgets/jqxscrollbar.js"></script> 
   <script src="/js/jqwidgets/jqxgrid.selection.js"></script> 
   <script src="/js/jqwidgets/jqxgrid.columnsresize.js"></script> 
   <script src="/js/jqwidgets/jqxnotification.js"></script>
   <script src="/js/jqwidgets/jqxlistbox.js"></script> 
   <script src="/js/jqwidgets/jqxdropdownlist.js"></script> 
   <script src="/js/jqwidgets/jqxdatetimeinput.js"></script>
   <script src="/js/jqwidgets/jqxcalendar.js"></script>
        
   <script id="dynamicScript"></script>
   <script id="pageScript"></script>
  <script th:inline="javascript">
  const apiLiveFlowUrl = /*[[${liveFlow.apiLiveFlowUrl}]]*/ '';
  const authorities = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.authorities}]]*/ "";
  var hasRoleSuperAdmin = /*[[${#authorization.expression('hasRole(''ROLE_SUPER_ADMIN'')')}]]*/ false;
  const hasLiveFlowOptionScreenPrivelege = authorities.filter(item => {
      return item.authority === "LIVE_FLOW_OPTION_SCREEN"
  })[0] !== undefined; 
  const hasLiveFlowSearchScreenPrivelege = authorities.filter(item => {
      return item.authority === "LIVE_FLOW_SEARCH_SCREEN"
  })[0] !== undefined; 
  const hashistoricalFlowOptionScreenPrivelege = authorities.filter(item => {
      return item.authority === "HISTORICAL_FLOW_OPTION_SCREEN"
  })[0] !== undefined; 
  const hasEditPrivelege = authorities.filter(item => {
      return item.authority === "LIVE_FLOW_SEARCH_EDIT"
  })[0] !== undefined;
  const hasDeletePrivelege = authorities.filter(item => {
      return item.authority === "LIVE_FLOW_SEARCH_DELETE"
  })[0] !== undefined;
 
  const hasPendingApprovalGrid= authorities.filter(item => {
	  	   return item.authority === "PENDING_APPROVAL_GRID"
	  })[0]!== undefined;
	 
  
  var dynamicScript = document.createElement('script');
  dynamicScript.src = apiLiveFlowUrl + '/js/flowSearchEngine.js';
  dynamicScript.defer = true;

  dynamicScript.onload = function() {
    var pageScript = document.createElement('script');
    pageScript.src = '/js/bourse/flowSearchEngine.js';
    pageScript.defer = true;
    document.body.appendChild(pageScript);
  };

  document.body.appendChild(dynamicScript);

	  document.getElementById('dynamicStyle').setAttribute('href', apiLiveFlowUrl+ '/css/style.css');
	 
  </script>
</body>
</html>