 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>libvol - Dashboard</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
</head>
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>

          <div class="row mb-3">
          <div class="card-columns col-12">
            <div class="card">
    <div class="card-body">
      <h5 class="card-title">Monitoring</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Fast Chart</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Any 2</li>
  <li><span class="fa-li"><i class="fas fa-bars"></i></span>Situation Room</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Euribor Curves</li>
</ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Analytics</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Return Function</li>
  <li><span class="fa-li"><i class="fas fa-chart-bar"></i></span>Implied Vs Realized (Hi/lo)</li>
  <li><span class="fa-li"><i class="fas fa-chart-bar"></i></span>Implied Vs Realized (Close)</li>
  <li><span class="fa-li"><i class="fas fa-table"></i></span>Gamma Rents</li>
</ul>
    </div>
  </div>
              <div class="card">
    <div class="card-body">
      <h5 class="card-title">Skews</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Global Skew View</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Skew Vs Implied</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Skew Vs Futures</li>
</ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Volumes</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Race Chart</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Week After Week </li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Moving Average</li>
</ul>
    </div>
  </div>
              <div class="card">
    <div class="card-body">
      <h5 class="card-title">Normalized Space</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Create Normalized Vols</li>
  <li><span class="fa-li"><i class="fas fa-table"></i></span>Durations And Dv01</li>
  <li><span class="fa-li"><i class="fas fa-bars"></i></span>List of CTDs </li>
</ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Inter-markets</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-bars"></i></span>Weightings</li>
  <li><span class="fa-li"><i class="fas fa-chart-bar"></i></span>Straddle Ratios</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Implied Vol Ratios</li>
 </ul>
    </div>
  </div>
              <div class="card">
    <div class="card-body">
      <h5 class="card-title">Paper-watch</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Call/put Warning Indicator</li>
</ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">The Math Box</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>One Serie</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Two Series</li>
</ul>
    </div>
  </div>
              <div class="card">
    <div class="card-body">
      <h5 class="card-title">At A Glance</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Futures</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Implied Vols</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Ranges And Realized</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Yields And Curves</li>
   <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Precious Metals</li>
    <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Excess Liquidity</li>
</ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Check An Option Strategy</h5>
      <ul class="fa-ul">
   <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Fly Your Futures</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Condors</li>
  <li><span class="fa-li"><i class="fas fa-chart-line"></i></span>Vertical Spreads</li>
</ul>
    </div>
  </div>
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Live Option Flows</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"></span>Flow Search Engine</li>
  <li><span class="fa-li"></span>Historical Flow</li>
</ul>
    </div>
  </div>
    <div class="card">
    <div class="card-body">
      <h5 class="card-title">Schedule Meetings</h5>
      <ul class="fa-ul">
  <li><span class="fa-li"></span>Host A Meeting</li>
  <li><span class="fa-li"></span>Join A Meeting</li>
</ul>
    </div>
  </div>
</div>
          </div>
         

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>
</html>