<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>Libvol - Dashboard</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.dark.css" rel="stylesheet">
  <link href="/css/notification.css" rel="stylesheet">
  <style>
div#content {
    position: absolute;
    top: 70px;
    color: #8A99B5;
    background-image: linear-gradient(#4c6aa6 -1%, #000306 21%);
    border: #464D5C;
    width: 100%;
    overflow-x: hidden;
    min-height: 841px;
}
 
</style>
</head>
<body id="page-top">
  <div id="wrapper">
  
    <div id="content-wrapper" class="d-flex flex-column">
    <div id="fixedMenu">
        <!-- TopBar -->
     	<div th:include="${mainmenu}"></div>
        <!-- Topbar -->
   </div>
   <div id="content">
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4" style="display: none !important;">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>

          <div class="row mb-3">
          <div class=" col-12 row">
            <!--   <div class="card">
		           <div class="card-body">
		      <h5 class="card-title card-title-color">News</h5>
		      <ul class="fa-ul">
		  <li><a href="/bourse/allnews"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i4.png" align="absmiddle">All news</a></li>
		  </ul>
		    </div>
		    </div> -->
		    <div class="col-4">
   <div  sec:authorize="hasAuthority('ANY2_GRAPH_SCREEN') OR hasAuthority('SOVEREIGN_YIELDS_GRAPH_SCREEN') OR hasAuthority('YIELD_CURVES_GRAPH_SCREEN') OR hasAuthority('YIELD_CROSSES_GRAPH_SCREEN') OR hasAuthority('SPREAD_MAKER_GRAPH_SCREEN')" class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">Yields</h5>
      <ul class="fa-ul">
		  <li sec:authorize="hasAuthority('ANY2_GRAPH_SCREEN')" ><a href="/bourse/any2"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Any 2</a></li>
		  <li sec:authorize="hasAuthority('SOVEREIGN_YIELDS_GRAPH_SCREEN')"><a href="/bourse/sovereignyieldsgraph"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Sovereign Yields</a></li>
		  <li sec:authorize="hasAuthority('YIELD_CURVES_GRAPH_SCREEN')"><a href="/bourse/sovereigncurvesgraph"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Yield Curves</a></li>
		  <li sec:authorize="hasAuthority('YIELD_CROSSES_GRAPH_SCREEN')"><a href="/bourse/sovereigncrossesgraph"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Yield Crosses</a></li>
		  <li sec:authorize="hasAuthority('YIELD_CORPORATE_GRAPH_SCREEN')"><a href="/bourse/sovereigncorporategraph"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Corporate Yields </a></li>
		  <li sec:authorize="hasAuthority('CREDIT_SPREAD_GRAPH_SCREEN')"><a href="/bourse/creditsspreadgraph"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Credit Spreads</a></li>
		  <li sec:authorize="hasAuthority('SPREAD_MAKER_GRAPH_SCREEN')"><a href="/bourse/spreadmakergraph"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Spread Maker</a></li>
		  <li sec:authorize="hasAuthority('DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/datafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
		</ul>
    </div>
  </div>
  
	<div sec:authorize="hasAuthority('RATES_CENTRAL_BANKS_GRAPH_SCREEN') 
				  OR hasAuthority('RATES_DATA_FUNCTION_DISPLAY_SCREEN')"
		class="card">
		<div class="card-body">
			<h5 class="card-title card-title-color">Rates</h5>
			<ul class="fa-ul">
				<li sec:authorize="hasAuthority('RATES_CENTRAL_BANKS_GRAPH_SCREEN')"><a
					href="/bourse/centralbanks"><img class="img-m-right"
						id="ContentPlaceHolder1_Image13" src="../../img/i2.png"
						align="absmiddle">Central Banks</a></li>
				<li sec:authorize="hasAuthority('RATES_FIXINGS_GRAPH_SCREEN')"><a
					href="/bourse/fixings"><img class="img-m-right"
						id="ContentPlaceHolder1_Image13" src="../../img/i2.png"
						align="absmiddle">Fixings</a></li>
				<li sec:authorize="hasAuthority('RATES_INFLATION_SWAP_GRAPH_SCREEN')"><a
					href="/bourse/inflation-swap"><img class="img-m-right"
						id="ContentPlaceHolder1_Image13" src="../../img/i2.png"
						align="absmiddle">INFLATION SWAP RATES</a></li>
				<li sec:authorize="hasAuthority('RATES_MORTGAGE_GRAPH_SCREEN')"><a
					href="/bourse/mortgage"><img class="img-m-right"
						id="ContentPlaceHolder1_Image13" src="../../img/i2.png"
						align="absmiddle">MORTGAGE RATES</a></li>
				<li
					sec:authorize="hasAuthority('RATES_DATA_FUNCTION_DISPLAY_SCREEN')"><a
					href="/bourse/ratesdatafunctiondisplay"><img
						class="img-m-right" id="ContentPlaceHolder1_Image13"
						src="../../img/i5.png" align="absmiddle">DATA &
						FUNCTION DISPLAY</a></li>
			</ul>
		</div>
	</div>
  <div sec:authorize="hasAuthority('ANY2_METALS_GRAPH_SCREEN') OR hasAuthority('SOVEREIGN_YIELDS_GRAPH_SCREEN') OR hasAuthority('YIELD_CURVES_GRAPH_SCREEN') OR hasAuthority('YIELD_CROSSES_GRAPH_SCREEN') OR hasAuthority('SPREAD_MAKER_GRAPH_SCREEN')" class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">Commos</h5>
      <ul class="fa-ul">
		  <li sec:authorize="hasAuthority('ANY2_METALS_GRAPH_SCREEN')" ><a href="/bourse/any2metals"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Any 2</a></li>
		  <li sec:authorize="hasAuthority('PRECIOUS_METALS_GRAPH_SCREEN')"><a href="/bourse/precious"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Precious Metals</a></li>
		  <li sec:authorize="hasAuthority('BASE_METALS_GRAPH_SCREEN')"><a href="/bourse/base"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Base Metals</a></li>
		  <li sec:authorize="hasAuthority('FOODSTUFF_COMMODITY_GRAPH_SCREEN')"><a href="/bourse/foodstuff"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Foodstuff</a></li>
		  <li sec:authorize="hasAuthority('ENERGY_COMMODITY_GRAPH_SCREEN')"><a href="/bourse/energy"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Energy</a></li>
		  <li sec:authorize="hasAuthority('TRANSPORTATION_COMMODITY_GRAPH_SCREEN')"><a href="/bourse/transportation"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Transportation</a></li>
		  <li sec:authorize="hasAuthority('METAL_DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/metaldatafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
		 </ul>
    </div>
  </div>
      <div sec:authorize="hasAuthority('ANY2_LIQUIDITY_GRAPH_SCREEN') OR hasAuthority('ECBEXCESS_LIQUIDITY_GRAPH_SCREEN') OR hasAuthority('ECBQE_LIQUIDITY_GRAPH_SCREEN') OR hasAuthority('EZMM_LIQUIDITY_GRAPH_SCREEN') OR hasAuthority('CORPORATE_LIQUIDITY_GRAPH_SCREEN')" class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">Liquidity</h5>
      <ul class="fa-ul">
		  <li sec:authorize="hasAuthority('ANY2_LIQUIDITY_GRAPH_SCREEN')" ><a href="/bourse/any2liquidity"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Any 2</a></li>
		  <li sec:authorize="hasAuthority('ECBEXCESS_LIQUIDITY_GRAPH_SCREEN')"><a href="/bourse/ecbexcessliquidity"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Ecb Excess Liquidity</a></li>
		  <li sec:authorize="hasAuthority('ECBQE_LIQUIDITY_GRAPH_SCREEN')"><a href="/bourse/ecbqeliquidity"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">ECB QE Operations</a></li>
		  <li sec:authorize="hasAuthority('ECB_IMPACT_LIQUIDITY_GRAPH_SCREEN')"><a href="/bourse/ecbimpactliquidity"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">ECB Impact</a></li>
		  <li sec:authorize="hasAuthority('EZMM_LIQUIDITY_GRAPH_SCREEN')"><a href="/bourse/ezmmliquidity"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Eurozone Monetary Mass</a></li>
		  <li sec:authorize="hasAuthority('CORPORATE_LIQUIDITY_GRAPH_SCREEN')"><a href="/bourse/corporateliquidity"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Corpoprate Liquidity</a></li>
		  <li sec:authorize="hasAuthority('LIQUIDITY_DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/liquiditydatafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
		 
		 </ul>
    </div>
  </div>
  </div>
  <div class="col-4">

   <div sec:authorize="hasAuthority('ONE_SERIE') OR hasAuthority('TWO_SERIES')"  class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">The Math Box</h5>
      <ul class="fa-ul">
	    <li sec:authorize="hasAuthority('ONE_SERIE')" ><a href="/bourse/oneserie?serie=1"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i1.png" align="absmiddle">One Serie</a></li>
  		<li sec:authorize="hasAuthority('TWO_SERIES')" ><a href="/bourse/twoserie?serie=1"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Two Series</a></li>
	</ul>
    </div>
  </div>
  <div class="card d-none">
    <div class="card-body">
      <h5 class="card-title card-title-color">Monitoring</h5>
      <ul class="fa-ul">
		  <li ><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i3.png" align="absmiddle">Fast Chart</li>
		  <li><a href="#"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Any 2</a></li>
		</ul>
    </div>
  </div>
    <div  sec:authorize="hasAuthority('MACRO_GRAPH_SCREEN') OR hasAuthority('MACRO_DATA_FUNCTION_DISPLAY_SCREEN')"  class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">PMIs</h5>
      <ul class="fa-ul">
	  	<li sec:authorize="hasAuthority('MACRO_GRAPH_SCREEN')" ><a href=" /bourse/macrograph"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">COUNTRY PMI</a></li>
	  	<li sec:authorize="hasAuthority('MACRO_BAR_SCREEN')" ><a href=" /bourse/countrypmibar"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">MONTHLY RANKING</a></li> 
	  	<li sec:authorize="hasAuthority('MACRO_PMI_VS_SURVEY')" ><a href=" /bourse/pmivssurvey"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">PMI vs SURVEY</a></li> 
	  	<li sec:authorize="hasAuthority('MACRO_DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/macrodatafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
	   </ul>
    </div>
  </div>
  <div  sec:authorize="hasAuthority('ANY2_STI_GRAPH_SCREEN') OR hasAuthority('STI_DATA_FUNCTION_DISPLAY_SCREEN')"  class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">Stocks</h5>
      <ul class="fa-ul">
		  <li sec:authorize="hasAuthority('ANY2_STI_GRAPH_SCREEN')" ><a href="/bourse/any2sti"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">Any 2</a></li>
 		  <li sec:authorize="hasAuthority('STI_EUROPE_GRAPH_SCREEN')"><a href="/bourse/europe"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">EUROPE</a></li>
	  	  <li sec:authorize="hasAuthority('STI_WALLSTREET_GRAPH_SCREEN')"><a href="/bourse/wallstreet"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">WALL STREET</a></li>
	  	  <li sec:authorize="hasAuthority('STI_ASIA_GRAPH_SCREEN')"><a href="/bourse/asia"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">ASIA</a></li>
	  	  <li sec:authorize="hasAuthority('STI_EMERGING_GRAPH_SCREEN')"><a href="/bourse/emerging"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">EMERGING</a></li>
   	  	  <li sec:authorize="hasAuthority('STI_PERFORMANCE_SCREEN')"><a href="/bourse/stiperformance"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i6.png" align="absmiddle">PERFORMANCE</a></li>
   	  	  <li sec:authorize="hasAuthority('STI_DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/stidatafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
	   
	   </ul>
    </div>
  </div>
 <div  sec:authorize="hasAuthority('ANY2_SKEWS_GRAPH_SCREEN') OR hasAuthority('SKEWS_DATA_FUNCTION_DISPLAY_SCREEN')" class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">Skews</h5>
      <ul class="fa-ul">
		  <li sec:authorize="hasAuthority('ANY2_SKEWS_GRAPH_SCREEN')" ><a href="/bourse/any2skews"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">Any 2</a></li>
	  	  <li sec:authorize="hasAuthority('SKEWS_DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/skewsdatafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
	   </ul>
    </div>
  </div>
   <div  sec:authorize="hasAuthority('CRY_BITCOIN_GRAPH_SCREEN') OR hasAuthority('CRY_ETHEREUM_GRAPH_SCREEN') OR hasAuthority('CRY_SOLANA_GRAPH_SCREEN') OR hasAuthority('CRY_SHIBA_GRAPH_SCREEN') OR hasAuthority('CRY_BINANCE_GRAPH_SCREEN') OR hasAuthority('CRY_XRP_GRAPH_SCREEN') OR hasAuthority('CRYPTOS_DATA_FUNCTION_DISPLAY_SCREEN')" class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">Cryptos</h5>
      <ul class="fa-ul">
		  <li sec:authorize="hasAuthority('ANY2_CRYPTOS_GRAPH_SCREEN')" ><a href="/bourse/any2cryptos"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">Any 2</a></li>
		  <li sec:authorize="hasAuthority('CRY_BITCOIN_GRAPH_SCREEN')"><a href="/bourse/bitcoin"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">BITCOIN</a></li>
	  	  <li sec:authorize="hasAuthority('CRY_ETHEREUM_GRAPH_SCREEN')"><a href="/bourse/ethereum"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">ETHEREUM</a></li>
	  	  <li sec:authorize="hasAuthority('CRY_SOLANA_GRAPH_SCREEN')"><a href="/bourse/solana"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">SOLANA</a></li>
	  	  <li sec:authorize="hasAuthority('CRY_SHIBA_GRAPH_SCREEN')"><a href="/bourse/shiba"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">SHIBA INU</a></li>
	  	  <li sec:authorize="hasAuthority('CRY_BINANCE_GRAPH_SCREEN')"><a href="/bourse/binance"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">BINANCE COIN</a></li>
	  	  <li sec:authorize="hasAuthority('CRY_XRP_GRAPH_SCREEN')"><a href="/bourse/xrp"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">XRP</a></li>
	  	  <li sec:authorize="hasAuthority('CRYPTOS_PERFORMANCE_SCREEN')"><a href="/bourse/cryptosperformance"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i6.png" align="absmiddle">PERFORMANCE</a></li>
	  	   <li sec:authorize="hasAuthority('CRYPTOS_DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/cryptosdatafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
	   </ul>
    </div>
  </div>
  </div>
  <div class="col-4">
    <div sec:authorize="hasAuthority('ANY2_FXCDS_GRAPH_SCREEN')  OR hasAuthority('FX_GRAPH_SCREEN') OR hasAuthority('CDS_GRAPH_SCREEN') OR hasAuthority('FXCDS_DATA_FUNCTION_DISPLAY_SCREEN')" class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">FX & CDS</h5>
      <ul class="fa-ul">
	   <li sec:authorize="hasAuthority('ANY2_FXCDS_GRAPH_SCREEN')" ><a href="/bourse/any2fxcds"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">Any 2</a></li>
	   <li sec:authorize="hasAuthority('FX_GRAPH_SCREEN')" ><a href="/bourse/fx"><img class="img-m-right" src="../../img/i1.png" align="absmiddle">FX</a></li>
	   <li sec:authorize="hasAuthority('CDS_GRAPH_SCREEN')" ><a href="/bourse/cds"><img class="img-m-right" src="../../img/i1.png" align="absmiddle">CDS</a></li>
	   <li sec:authorize="hasAuthority('FXCDS_DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/fxcdsdatafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
	  </ul>
    </div>
  </div>
  <div  sec:authorize="hasAuthority('ANY2_VOLUME_GRAPH_SCREEN') 
				  OR hasAuthority('DAILY_VOLUME_GRAPH_SCREEN') 
				  OR  hasAuthority('WMQY_VOLUME_GRAPH_SCREEN') 
				  OR hasAuthority('MARKET_SHARE_VOLUME_GRAPH_SCREEN')
				  OR hasAuthority('VOLUME_DATA_FUNCTION_DISPLAY_SCREEN')" class="card">
	    <div class="card-body">
	      <h5 class="card-title card-title-color">Volumes</h5>
	      <ul class="fa-ul">
		   <li sec:authorize="hasAuthority('ANY2_VOLUME_GRAPH_SCREEN')" ><a href="/bourse/any2volume"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Any 2</a></li>
		   <li sec:authorize="hasAuthority('DAILY_VOLUME_GRAPH_SCREEN')" ><a href="/bourse/dailyvolume"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i3.png" align="absmiddle">Daily Volume</a></li>
		   <li sec:authorize="hasAuthority('WMQY_VOLUME_GRAPH_SCREEN')" ><a href="/bourse/wmqyvolume"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i3.png" align="absmiddle">Weekly/Monthly/Quarterly/Yearly</a></li>
		   <li sec:authorize="hasAuthority('MARKET_SHARE_VOLUME_GRAPH_SCREEN')" ><a href="/bourse/marketshare"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i3.png" align="absmiddle">Market Share</a></li>
		   <li sec:authorize="hasAuthority('RACE_VOLUME_GRAPH_SCREEN')" ><a href="/bourse/racechart"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i3.png" align="absmiddle">Race Chart</a></li>
		   <li sec:authorize="hasAuthority('VOLUME_DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/volumedatafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
		  </ul>
	    </div>
  </div>
    <div  sec:authorize=" hasAuthority('LONGENDS_DATA_FUNCTION_DISPLAY_SCREEN')" class="card">
	    <div class="card-body">
	      <h5 class="card-title card-title-color">LONG-END FUTURES</h5>
	      <ul class="fa-ul">
	      	<li sec:authorize="hasAuthority('LONGENDS_BUNDS_GRAPH_SCREEN')" ><a href="/bourse/bunds"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Bunds</a></li>
	        <li sec:authorize="hasAuthority('LONGENDS_DATA_FUNCTION_DISPLAY_SCREEN')"><a href="/bourse/longendsdatafunctiondisplay"><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">DATA & FUNCTION DISPLAY</a></li>
		  </ul>
	    </div>
  </div>
<!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">Normalized Space</h5>
      <ul class="fa-ul">
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Create Normalized Vols</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">Durations And Dv01</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i4.png" align="absmiddle">List of CTDs </li>
</ul>
    </div>
  </div> -->
   <div class="card">
 <!--   <div class="card-body">
      <h5 class="card-title card-title-color">Inter-markets</h5>
      <ul class="fa-ul">
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i4.png" align="absmiddle">Weightings</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i1.png" align="absmiddle">Straddle Ratios</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Implied Vol Ratios</li>
 </ul>
    </div> -->
  </div>
    <div sec:authorize="hasAuthority('TRENDLINE_SCREEN')" class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">Technical Analysis</h5>
		 <ul class="fa-ul">
	  	  <li sec:authorize="hasAuthority('TRENDLINE_SCREEN')" ><a href="/bourse/trendline"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">Trendlines</a></li>
		  <li sec:authorize="hasAuthority('TRENDLINE_BUNDS_SCREEN')" ><a href="/bourse/bundsTech"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">Bunds Techs</a></li>
		  <li sec:authorize="hasAuthority('TRENDLINE_CRYPTOS_SCREEN')" ><a href="/bourse/cryptosTech"><img class="img-m-right" src="../../img/i2.png" align="absmiddle">Cryptos Techs</a></li>
		
		</ul>
    </div>
  </div>
   <div class="card">
<!--    <div class="card-body">
      <h5 class="card-title card-title-color">Analytics</h5>
      <ul class="fa-ul">
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i3.png" align="absmiddle">Return Function</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i1.png" align="absmiddle">Implied Vs Realized (Hi/lo)</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i1.png" align="absmiddle">Implied Vs Realized (Close)</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i5.png" align="absmiddle">Gamma Rents</li>
</ul>
    </div>-->
</div>

	<div class="card">
		<div class="card-body">
			<h5 class="card-title card-title-color">Paper-watch</h5>
			<ul class="fa-ul">
				<li><img class="img-m-right"
					id="ContentPlaceHolder1_Image13" src="../../img/i3.png"
					align="absmiddle">Call/put Warning Indicator</li>
			</ul>
		</div>
	</div>
							<div class="card">
   <!--  <div class="card-body">
      <h5 class="card-title card-title-color">At A Glance</h5>
      <ul class="fa-ul">
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Futures</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Implied Vols</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Ranges And Realized</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Yields And Curves</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Precious Metals</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Excess Liquidity</li>
</ul>
    </div>-->
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color">Check An Option Strategy</h5>
      <ul class="fa-ul">
   <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Fly Your Futures</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Condors</li>
  <li><img class="img-m-right" id="ContentPlaceHolder1_Image13" src="../../img/i2.png" align="absmiddle">Vertical Spreads</li>
</ul>
    </div>
  </div>
    <div  sec:authorize="hasAuthority('LIVE_FLOW_OPTION_SCREEN') OR hasAuthority('LIVE_FLOW_SEARCH_SCREEN') OR hasAuthority('HISTORICAL_FLOW_OPTION_SCREEN')" class="card">
    <div class="card-body">
      <h5 class="card-title card-title-color" ><div class="blink">Live Option Flows</div></h5>
      <ul class="fa-ul">
		   <li sec:authorize="hasAuthority('LIVE_FLOW_OPTION_SCREEN')" ><a href="/flow/liveoptionflow"><span class="fa-li"></span>Live Option Flows</a></li>   
		   <li sec:authorize="hasAuthority('LIVE_FLOW_SEARCH_SCREEN')"><a href="/flow/flowsearchengine"><span class="fa-li"></span>Flow Search Engine</a></li>
		   <li sec:authorize="hasAuthority('HISTORICAL_FLOW_OPTION_SCREEN')"><a href="/flow/historicalflow"><span class="fa-li"></span>Historical Flow</a></li>
		</ul>
    </div>
  </div>
   <div class="card">
  <!--   <div class="card-body">
      <h5 class="card-title card-title-color"><div class="blink">Schedule Meetings</div></h5>
      <ul class="fa-ul">
		  <li><span class="fa-li"></span>Host A Meeting</li>
		  <li><span class="fa-li"></span>Join A Meeting</li>
		</ul>
    </div>-->
  </div>
  </div>
</div>
          </div>
         

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
      <div class="NewsBack container" style="position: fixed; bottom: 0px; left: 0px; max-width: 100%;  border: 2px; border-color: black;">
      	<div class="simple-marquee-container">
				<div class="marquee-sibling-date">
					<p id="todayDate"></p>
				</div>
				<div class="marquee-sibling">
					NEWS
				</div>
				<div class="marquee">
					<ul id="Newslist" class="marquee-content-items">
					</ul>
				</div>
				<div class="marquee-sibling-viewAll" sec:authorize="hasAuthority('VIEW_ALL_NEWS')" >
					 <input type="button" value="VIEW ALL" id='viewall' style="display:none;"/>
				</div>
			</div>
		</div>
      <!-- Footer -->
      <footer class="sticky-footer bg-dark">
        <div class=" my-auto">
       
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/marquee.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/config/session_storage.js"></script>
  <script src="/js/bourse/index.js"></script> 
  <script src="/js/bourse/scrollBarNews.js"></script> 
  <script src="/js/common.js"></script>
  <script src="/js/notification/sockjs.js"></script>
  <script src="/js/notification/stomp.js"></script>
  <script src="/js/notification/config.js"></script>
  <script th:inline="javascript">
     const authorities1 = /*[[${session.SPRING_SECURITY_CONTEXT.authentication}]]*/ "";
     // console.log(authorities1)
	  const authorities = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.authorities}]]*/ "";
	  const hasPendingApprovalGrid= authorities.filter(item => {
	  	   return item.authority === "PENDING_APPROVAL_GRID"
	  })[0]!== undefined;
	 
  </script>
</body>
</html>