<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>libvol - Dashboard</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/bourse/home">
        <div class="sidebar-brand-icon">
         <!--  <img src="img/logo/logo2.png"> -->
        </div>
        <div class="sidebar-brand-text mx-3">libvol</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-database"></i>
          <span>Data Entry</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMonitoring"
          aria-expanded="true" aria-controls="collapseMonitoring">
          <i class="fas fa-desktop"></i>
          <span>Monitoring</span>
        </a>
        <div id="collapseMonitoring" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Monitoring</h6>
            <a class="collapse-item" href="">Fast Chart</a>
            <a class="collapse-item" href="">Any 2</a>
            <a class="collapse-item" href="">Situation Room</a>
            <a class="collapse-item" href="">Euribor Curves</a>
          </div>
        </div>
      </li>
	   <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnalytics"
          aria-expanded="true" aria-controls="collapseAnalytics">
          <i class="fas fa-chart-bar"></i>
          <span>Analytics</span>
        </a>
        <div id="collapseAnalytics" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Analytics</h6>
            <a class="collapse-item" href="">Return Function</a>
            <a class="collapse-item" href="">Implied Vs Realized (Hi/lo)</a>
            <a class="collapse-item" href="">Implied Vs Realized (Close)</a>
            <a class="collapse-item" href="">Gamma Rents</a>
          </div>
        </div>
      </li>
	    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSkews"
          aria-expanded="true" aria-controls="collapseSkews">
          <i class="fas fa-chart-area"></i>
          <span>Skews</span>
        </a>
        <div id="collapseSkews" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Skews</h6>
            <a class="collapse-item" href="">Global Skew View</a>
            <a class="collapse-item" href="">Skew Vs Implied</a>
            <a class="collapse-item" href="">Skew Vs Futures</a>
          </div>
        </div>
      </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVolumes"
          aria-expanded="true" aria-controls="collapseVolumes">
          <i class="fas fa-project-diagram"></i>
          <span>Volumes</span>
        </a>
        <div id="collapseVolumes" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Volumes</h6>
            <a class="collapse-item" href="">Race Chart</a>
            <a class="collapse-item" href="">Week After Week </a>
            <a class="collapse-item" href="">Moving Average</a>
          </div>
        </div>
      </li>
	   <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNormalizedSpace"
          aria-expanded="true" aria-controls="collapseNormalizedSpace">
          <i class="fas fa-chart-line"></i>
          <span>Normalized Space</span>
        </a>
        <div id="collapseNormalizedSpace" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Normalized Space</h6>
            <a class="collapse-item" href="">Create Normalized Vols</a>
            <a class="collapse-item" href="">Durations And Dv01 </a>
            <a class="collapse-item" href="">List of CTDs </a>
          </div>
        </div>
      </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIntermarkets"
          aria-expanded="true" aria-controls="collapseIntermarkets">
          <i class="fas fa-poll"></i>
          <span>Inter-markets</span>
        </a>
        <div id="collapseIntermarkets" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Inter-markets</h6>
            <a class="collapse-item" href="">Weightings</a>
            <a class="collapse-item" href="">Straddle Ratios </a>
            <a class="collapse-item" href="">Implied Vol Ratios </a>
          </div>
        </div>
      </li>
	       </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePaperwatch"
          aria-expanded="true" aria-controls="collapsePaperwatch">
          <i class="fab fa-buffer"></i>
          <span>Paper-watch</span>
        </a>
        <div id="collapsePaperwatch" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Paper-watch</h6>
            <a class="collapse-item" href="">Call/put Warning Indicator</a>
          </div>
        </div>
      </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTheMathBox"
          aria-expanded="true" aria-controls="collapseTheMathBox">
          <i class="fas fa-box"></i>
          <span>The Math Box</span>
        </a>
        <div id="collapseTheMathBox" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">The Math Box</h6>
            <a class="collapse-item" href="">One Serie</a>
            <a class="collapse-item" href="">Two Series</a>
          </div>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAtAGlance"
          aria-expanded="true" aria-controls="collapseAtAGlance">
          <i class="fas fa-eye"></i>
          <span>At A Glance</span>
        </a>
        <div id="collapseAtAGlance" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">At A Glance</h6>
            <a class="collapse-item" href="">Futures </a>
            <a class="collapse-item" href="">Implied Vols</a>
			<a class="collapse-item" href="">Ranges And Realized</a>
            <a class="collapse-item" href="">Yields And Curves</a>
			<a class="collapse-item" href="">Precious Metals</a>
            <a class="collapse-item" href="">Excess Liquidity</a>
          </div>
        </div>
      </li>
	     </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCheckAnOptionStrategy"
          aria-expanded="true" aria-controls="collapseCheckAnOptionStrategy">
          <i class="fas fa-check-square"></i>
          <span>Check An Option Strategy</span>
        </a>
        <div id="collapseCheckAnOptionStrategy" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Check An Option Strategy</h6>
            <a class="collapse-item" href="">Fly Your Futures</a>
            <a class="collapse-item" href="">Condors</a>
			<a class="collapse-item" href="">Vertical Spreads</a>
          </div>
        </div>
      </li>
	        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLiveOptionFlows"
          aria-expanded="true" aria-controls="collapseLiveOptionFlows">
          <i class="fas fa-satellite-dish"></i>
          <span>Live Option Flows</span>
        </a>
        <div id="collapseLiveOptionFlows" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Live Option Flows</h6>
            <a class="collapse-item" href="">Flow Search Engine</a>
            <a class="collapse-item" href="">Historical Flow</a>
          </div>
        </div>
      </li>
	          <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseScheduleMeetings"
          aria-expanded="true" aria-controls="collapseScheduleMeetings">
          <i class="fas fa-handshake"></i>
          <span>Schedule Meetings</span>
        </a>
        <div id="collapseScheduleMeetings" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Schedule Meetings</h6>
            <a class="collapse-item" href="">Host A Meeting</a>
            <a class="collapse-item" href="">Join A Meeting</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter">2</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
<!--                     <img class="rounded-circle" src="img/man.png" style="max-width: 60px" alt=""> -->
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                      having.</div>
                    <div class="small text-gray-500">Udin Cilok · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
<!--                     <img class="rounded-circle" src="img/girl.png" style="max-width: 60px" alt=""> -->
                    <div class="status-indicator bg-default"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                      say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Jaenab · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tasks fa-fw"></i>
                <span class="badge badge-success badge-counter">3</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Task
                </h6>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Design Button
                      <div class="small float-right"><b>50%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Make Beautiful Transitions
                      <div class="small float-right"><b>30%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Create Pie Chart
                      <div class="small float-right"><b>75%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">View All Taks</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <!-- <img class="img-profile rounded-circle" src="img/boy.png" style="max-width: 60px"> -->
                <i class="fas fa-user"></i>
                <span class="ml-2 d-none d-lg-inline text-white small">	Charbel Nacouzi</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
			<embed src="./../frame/frame1" style="border-collapse: collapse; margin-top: 0.546875px; margin-right: 0px !important; margin-bottom: 0px !important; margin-left: 0.0625px; padding: 0px !important; width: 900px !important; height: 1040px;" />
        </div>
        <!---Container Fluid-->
      </div>
      <div class="NewsBack" style="position: fixed; bottom: 0px; left: 0px; width: 100%;  border: 2px; border-color: black;">
      	<div class="simple-marquee-container">
				<div class="marquee-sibling">
					NEWS
				</div>
				<div class="marquee">
					<ul class="marquee-content-items">
						<li>News 1</li>
						<li>News 2</li>
						<li>News 3</li>
						<li>News 4</li>
						<li>News 5</li>
					</ul>
				</div>
			</div>
		</div>
      <!-- Footer -->
      <footer class="sticky-footer bg-dark">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
              <b><a href="" target="_blank"></a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/marquee.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/ruang-admin.min.js"></script>
  <script>
		

		</script>
<!--   <script src="/js/demo/chart-area-demo.js"></script>   -->
</body>

</html>