<!DOCTYPE html>
<html lang="en"style="overflow: hidden;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon"><link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>Libvol - Settings</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <link href="/css/apexchart.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.dark.css" rel="stylesheet">
  <link href="/css/notification.css" rel="stylesheet">
  
  <style>
  .form-control {
    height: calc(1em + .75rem + 7px);
    }
  
  
.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 10.33333%;
}
.jqx-kanban-item-footer {
    border-top: 0px solid transparent;
    margin: 0;
    padding: 0;
}
.jqx-kanban-item-avatar {
    display: none;
}
span.jqx-kanban-column-header-status.jqx-kanban-column-header-status-dark {
    display: none;
}
.jqx-kanban-item {
box-shadow: #323232 0 0px 0px;
}
  </style>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- TopBar -->
        <div id="fixedMenu">
         <!-- TopBar -->
     	<div th:include="${mainmenu}"></div>
        <!-- Topbar -->

        <!-- Container Fluid-->
             <div class="d-sm-flex align-items-center">
            <h1 class="ml-6 text-darkorange">News</h1>
            	 <nav style="margin-left: 3rem;
    						 height: 35px;
    						 margin-top: 0.5rem;">
				  
				  <div class="navigation nav nav-tabs" id="nav-tab" role="tablist">
				    <a class="navigation nav-item nav-link" id="nav-column-master-tab"  href="/bourse/newsmanagement" role="tab" aria-controls="nav-any2" aria-selected="false">News Management</a>
				    <!-- <a class="navigation nav-item nav-link" id="nav-yields-curves-tab"  href="#" aria-controls="nav-any2" aria-selected="false">Holiday Calendar</a>
				    <a class="navigation nav-item nav-link" id="nav-column-master-tab" data-toggle="tab"  href="#nav-any2" role="tab" aria-controls="nav-any2" aria-selected="false">Help Descriptions</a> -->
				    <a class="navigation nav-item nav-link active" id="nav-any2-tab" data-toggle="tab"  href="#nav-any2" role="tab" aria-controls="nav-any2" aria-selected="false">Robot News reorder</a>
				    </div>
				</nav>
           
          </div>
          
		<div id="overlay" class="col-12">
		     			<img src="/css/images/loader.gif" alt="Loading" width="46px" />
		   </div>
		     </div>
		       <div id="content">
        <div class="container-fluid" id="container-wrapper" style="display:none;">
   
          <div class="row mb-3">
			 <div class="bd-example bd-example-tabs col-12">
			<div class="tab-content" id="nav-tabContent">
	 		<div class="tab-pane fade active show" id="nav-column-master" role="tabpanel" aria-labelledby="nav-contact-tab" style="display:none;">
			  <div id="kanban1" style="margin-top: 1.5rem;"></div>
			   <input type="button" value="SAVE" id='save' style="margin-top:1rem; float:right;"/> 
			   <div class="form-group" id="notifcationContainerRobot" style="display:flex;     margin-top: 1rem;">
								       <div id="jqxNotificationRobots">
		        The Data has been updated</div>
							       </div>
			</div>
			
          </div>
         


          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
       <div class="NewsBack container" style="position: fixed; bottom: 0px; left: 0px; max-width: 100%;  border: 2px; border-color: black;">
      	<div class="simple-marquee-container">
				<div class="marquee-sibling-date">
					<p id="todayDate"></p>
				</div>
				<div class="marquee-sibling">
					NEWS
				</div>
				<div class="marquee">
					<ul id="Newslist" class="marquee-content-items">
					</ul>
				</div>
				<div class="marquee-sibling-viewAll">
					 <input type="button" value="VIEW ALL" id='viewall' style="display:none;"/>
				</div>
			</div>
		</div>
      <!-- Footer -->
     
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/marquee.js"></script>
  
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/jqwidgets/jqxsortable.js"></script> 
  <script src="/js/jqwidgets/jqxdata.js"></script> 
  <script src="/js/jqwidgets/jqxkanban.js"></script> 
  <script src="/js/jqwidgets/jqxsplitter.js"></script> 
   <script src="/js/jqwidgets/jqxnotification.js"></script>
   <script src="/js/bourse/robotNewsReorder.js"></script> 
   <script src="/js/bourse/scrollBarNews.js"></script> 
  <script src="/js/common.js"></script>
  <script src="/js/notification/sockjs.js"></script>
  <script src="/js/notification/stomp.js"></script>
  <script src="/js/notification/config.js"></script>
  <script th:inline="javascript">
	  const authorities = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.authorities}]]*/ "";
	  const hasPendingApprovalGrid= authorities.filter(item => {
	  	   return item.authority === "PENDING_APPROVAL_GRID"
	  })[0]!== undefined;
	 
  </script>
</body>

</html>