<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>libvol - Dashboard</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <link href="/css/apexchart.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.dark.css" rel="stylesheet">
  <style>
  .form-control {
    height: calc(1em + .75rem + 7px);
    }
    div#overlay {
    margin: 15% 40%;
}
   .jqx-widget-header:nth-child(16) {
  background-color: #6495ed;
  color:white;
} 
  .jqx-widget-header:nth-child(17) {
  background-color: #ffa500;
    color:white;
} 
.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 10.33333%;
}
  </style>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/bourse/home">
        <div class="sidebar-brand-icon">
         <!--  <img src="img/logo/logo2.png"> -->
        </div>
        <div class="sidebar-brand-text mx-3">libvol</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="/bourse/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Admin Section
      </div>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDataEntry"
          aria-expanded="true" aria-controls="collapseDataEntry">
          <i class="fas fa-pen"></i>
          <span>Data Entry</span>
        </a>
        <div id="collapseDataEntry" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Data Entry</h6>
            <a class="collapse-item" href="/bourse/sovereignyields" >Sovereign Yields</a>
            <a class="collapse-item" href="/bourse/skews" >Skews</a>
            <a class="collapse-item" href="/bourse/preciousmetals" >Precious Metals</a>
            <a class="collapse-item" href="/bourse/sovereignyields" >Fixed Income Future</a>
          </div>
        </div>
      </li>
        <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
          aria-expanded="true" aria-controls="collapseSettings">
          <i class="fas fa-cogs"></i>
          <span>Settings</span>
        </a>
        <div id="collapseSettings" class="collapse show" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Settings</h6>
            <a class="collapse-item active" href="/bourse/settings" >Column Master</a>
            <a class="collapse-item" href="/bourse/holidaycalendar" >Holiday Calendar</a>
            <a class="collapse-item" href="/bourse/settings" >Help Descriptions</a>
            <a class="collapse-item" href="/bourse/settings" >Robot Help</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMonitoring"
          aria-expanded="true" aria-controls="collapseMonitoring">
          <i class="fas fa-desktop"></i>
          <span>Monitor</span>
        </a>
        <div id="collapseMonitoring" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Monitor</h6>
            <a class="collapse-item" href="">Fast Chart</a>
            <a class="collapse-item" href="/bourse/any2">Any 2</a>
            <a class="collapse-item" href="/bourse/sovereignyieldsgraph">Sovereign yields</a>
            <a class="collapse-item" href="/bourse/sovereigncurvesgraph">Yield Curves</a>
            <a class="collapse-item" href="/bourse/sovereigncrossesgraph">Yield Crosses</a>
            <a class="collapse-item" href="/bourse/spreadmakergraph">Spread Maker</a> 
            </div>
        </div>
      </li>
	   <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnalytics"
          aria-expanded="true" aria-controls="collapseAnalytics">
          <i class="fas fa-chart-bar"></i>
          <span>Analytics</span>
        </a>
        <div id="collapseAnalytics" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Analytics</h6>
            <a class="collapse-item " href="/bourse/returnfunction">Return Function</a>
            <a class="collapse-item" href="/bourse/any2">Implied Vs Realized (Hi/lo)</a>
            <a class="collapse-item" href="">Implied Vs Realized (Close)</a>
            <a class="collapse-item" href="">Gamma Rents</a>
          </div>
        </div>
      </li>
	    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSkews"
          aria-expanded="true" aria-controls="collapseSkews">
          <i class="fas fa-chart-area"></i>
          <span>Skews</span>
        </a>
        <div id="collapseSkews" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Skews</h6>
            <a class="collapse-item" href="">Global Skew View</a>
            <a class="collapse-item" href="">Skew Vs Implied</a>
            <a class="collapse-item" href="">Skew Vs Futures</a>
          </div>
        </div>
      </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVolumes"
          aria-expanded="true" aria-controls="collapseVolumes">
          <i class="fas fa-project-diagram"></i>
          <span>Volumes</span>
        </a>
        <div id="collapseVolumes" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Volumes</h6>
            <a class="collapse-item" href="">Race Chart</a>
            <a class="collapse-item" href="">Week After Week </a>
            <a class="collapse-item" href="">Moving Average</a>
          </div>
        </div>
      </li>
	   <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNormalizedSpace"
          aria-expanded="true" aria-controls="collapseNormalizedSpace">
          <i class="fas fa-chart-line"></i>
          <span>Normalized Space</span>
        </a>
        <div id="collapseNormalizedSpace" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Normalized Space</h6>
            <a class="collapse-item" href="">Create Normalized Vols</a>
            <a class="collapse-item" href="">Durations And Dv01 </a>
            <a class="collapse-item" href="">List of CTDs </a>
          </div>
        </div>
      </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIntermarkets"
          aria-expanded="true" aria-controls="collapseIntermarkets">
          <i class="fas fa-poll"></i>
          <span>Inter-markets</span>
        </a>
        <div id="collapseIntermarkets" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Inter-markets</h6>
            <a class="collapse-item" href="">Weightings</a>
            <a class="collapse-item" href="">Straddle Ratios </a>
            <a class="collapse-item" href="">Implied Vol Ratios </a>
          </div>
        </div>
      </li>
	       </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePaperwatch"
          aria-expanded="true" aria-controls="collapsePaperwatch">
          <i class="fab fa-buffer"></i>
          <span>Paper-watch</span>
        </a>
        <div id="collapsePaperwatch" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Paper-watch</h6>
            <a class="collapse-item" href="">Call/put Warning Indicator</a>
          </div>
        </div>
      </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTheMathBox"
          aria-expanded="true" aria-controls="collapseTheMathBox">
          <i class="fas fa-box"></i>
          <span>The Math Box</span>
        </a>
        <div id="collapseTheMathBox" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">The Math Box</h6>
            <a class="collapse-item" href="">One Serie</a>
            <a class="collapse-item" href="">Two Series</a>
          </div>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAtAGlance"
          aria-expanded="true" aria-controls="collapseAtAGlance">
          <i class="fas fa-eye"></i>
          <span>At A Glance</span>
        </a>
        <div id="collapseAtAGlance" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">At A Glance</h6>
            <a class="collapse-item" href="">Futures </a>
            <a class="collapse-item" href="">Implied Vols</a>
			<a class="collapse-item" href="">Ranges And Realized</a>
            <a class="collapse-item" href="">Yields And Curves</a>
			<a class="collapse-item" href="">Precious Metals</a>
            <a class="collapse-item" href="">Excess Liquidity</a>
          </div>
        </div>
      </li>
	     </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCheckAnOptionStrategy"
          aria-expanded="true" aria-controls="collapseCheckAnOptionStrategy">
          <i class="fas fa-check-square"></i>
          <span>Check An Option Strategy</span>
        </a>
        <div id="collapseCheckAnOptionStrategy" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Check An Option Strategy</h6>
            <a class="collapse-item" href="">Fly Your Futures</a>
            <a class="collapse-item" href="">Condors</a>
			<a class="collapse-item" href="">Vertical Spreads</a>
          </div>
        </div>
      </li>
	        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLiveOptionFlows"
          aria-expanded="true" aria-controls="collapseLiveOptionFlows">
          <i class="fas fa-satellite-dish"></i>
          <span>Live Option Flows</span>
        </a>
        <div id="collapseLiveOptionFlows" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Live Option Flows</h6>
            <a class="collapse-item" href="">Flow Search Engine</a>
            <a class="collapse-item" href="">Historical Flow</a>
          </div>
        </div>
      </li>
	          <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseScheduleMeetings"
          aria-expanded="true" aria-controls="collapseScheduleMeetings">
          <i class="fas fa-handshake"></i>
          <span>Schedule Meetings</span>
        </a>
        <div id="collapseScheduleMeetings" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Schedule Meetings</h6>
            <a class="collapse-item" href="">Host A Meeting</a>
            <a class="collapse-item" href="">Join A Meeting</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-1 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter">2</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
<!--                     <img class="rounded-circle" src="img/man.png" style="max-width: 60px" alt=""> -->
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                      having.</div>
                    <div class="small text-gray-500">Udin Cilok · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
<!--                     <img class="rounded-circle" src="img/girl.png" style="max-width: 60px" alt=""> -->
                    <div class="status-indicator bg-default"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                      say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Jaenab · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tasks fa-fw"></i>
                <span class="badge badge-success badge-counter">3</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Task
                </h6>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Design Button
                      <div class="small float-right"><b>50%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Make Beautiful Transitions
                      <div class="small float-right"><b>30%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Create Pie Chart
                      <div class="small float-right"><b>75%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">View All Taks</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <!-- <img class="img-profile rounded-circle" src="img/boy.png" style="max-width: 60px"> -->
                <i class="fas fa-user"></i>
                <span class="ml-2 d-none d-lg-inline text-white small">	Charbel Nacouzi</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between ">
            <h1 class="h3 mb-0 text-gray-800">Settings</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/bourse/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Settings</li>
            </ol>
          </div>

          <div class="row mb-3">
			 <div class="bd-example bd-example-tabs col-12">
			 <nav>
				  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				    <a class="nav-item nav-link active" id="nav-column-master-tab" data-toggle="tab"  href="#nav-column-master" role="tab" aria-controls="nav-any2" aria-selected="false">Column Master</a>
				    <a class="nav-item nav-link" id="nav-yields-curves-tab"  href="/bourse/holidaycalendar" aria-controls="nav-any2" aria-selected="false">Holiday Calendar</a>
				    <a class="nav-item nav-link" id="nav-column-master-tab" data-toggle="tab"  href="#nav-any2" role="tab" aria-controls="nav-any2" aria-selected="false">Help Descriptions</a>
				  <a class="nav-item nav-link" id="nav-any2-tab" data-toggle="tab"  href="#nav-any2" role="tab" aria-controls="nav-any2" aria-selected="false">Robot Help</a>
				    </div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
				    <div class="tab-pane fade" id="nav-any2" role="tabpanel" aria-labelledby="nav-any2-tab">	<p class="mt-2" style=" margin-bottom: .5rem;">
				    ...
				</div>
				<div class="tab-pane fade active show" id="nav-column-master" role="tabpanel" aria-labelledby="nav-contact-tab" style="display:none;">
				 <div class="col-12 row mt-2">
				 	 <div class="btn-group mr-2 col-12 mb-2" role="group" aria-label="Second group">
						<label style="margin-right: 1.5rem;">Select Asset Class:</label>
							<div id='FamilyDropDown' style='border-radius: 0.2rem;'>
							</div>
						<label style="margin-right: 1.5rem;    margin-left: 1.5rem;">Select Group:</label>
							<div id='groupDropDown'  style='border-radius: 0.2rem;'>
							</div>
							<label style="margin-right: 1.5rem;    margin-left: 1.5rem;">Select Sub Goup:</label>
							<div id='subGroupDropDown'  style='border-radius: 0.2rem;'>
							</div>
			       </div> 
				 </div>
				   <div id="grid">
				     <div id="popupWindow">
            <div>Edit</div>
            <div style="overflow: hidden;">
           	 <nav>
				  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				     <a class="nav-item nav-link active" id="nav-graphsData-tab" data-toggle="tab"  href="#nav-graphs-data" role="tab" aria-controls="nav-graphs-data" aria-selected="false">Graphs and Data</a>
				    <a class="nav-item nav-link" id="nav-robots-tab" data-toggle="tab"  href="#nav-robots" role="tab" aria-controls="nav-other" aria-selected="false">Robots</a>
				    <a class="nav-item nav-link" id="nav-description-tab" data-toggle="tab"  href="#nav-other" role="tab" aria-controls="nav-any2" aria-selected="false">Descripton</a>
				    </div>
				</nav>
				
				<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade" id="nav-other" role="tabpanel" aria-labelledby="nav-any2-tab">	
				    <p class="mt-2" style=" margin-bottom: .5rem;">
				    ...
				</div>
				  <div class="tab-pane fade active show" id="nav-graphs-data" role="tabpanel" aria-labelledby="nav-any2-tab">
				    <p class="mt-2" style=" margin-bottom: .5rem;">
				    <div class="col-12 row  mt-4">
				            <div class="col-6">
							   <form>
							     <div class="form-group row" style="display: none;">
									<label for="columnTitle" class="col-sm-4 col-form-label">Column Title</label>
									 <div class="col-sm-8">
									<input type="text" class="form-control" id="DisplayName" disabled>
									<input type="text" class="form-control" id="configId" disabled>
									</div>
								  </div>
								  	<div class="form-group row">
									<label for="graphTitle" class="col-sm-4 col-form-label">Graph Title</label>
									<div class="col-sm-8">
									  <input type="text" class="form-control" id="graphTitle">
									 </div>
								  </div>
								  <div class="form-group">
								  <div id='jqxCheckBoxShowInNews' style='text-align: left!important;'>
                                   Show in news graph?</div>
									</div>
								  <div class="form-group row">
									<label for="columnTitle" class="col-sm-4 col-form-label">Chart Type</label>
									<div class="col-sm-8">
									    <div id='chartType' style='border-radius: 0.2rem;'></div> 
									</div>
								  </div>
								   <div class="form-group row">
									<label for="dataFormat" class="col-sm-4 col-form-label">Data Format</label>
									<div class="col-sm-8">
									<input type="text" class="form-control" id="dataFormat">
									</div>
								  </div>
								     <div class="form-group row">
									<label for="dataFormat" class="col-sm-4 col-form-label">Y Axis Format</label>
									<div class="col-sm-8">
									<input type="text" class="form-control" id="yAxisFormat">
									</div>
								  </div>
								  <div class="row">
								  <div class="form-group">
								  <div id='jqxCheckBoxNegative' style='padding-left: .75rem;text-align: left!important;'>
                                    Can data be negative?</div>
									</div>
								   <div class="form-group">
								   <div id='jqxCheckBoxShowIndb' style='padding-left: .75rem;text-align: left!important; color: red;'>
                                    SHOW in DATABASE?</div>
									 </div>
								  </div>
								    <div class="form-group row">
									<label for="columnTitle" class="col-sm-4 col-form-label">Exchange Name</label>
									<div class="col-sm-8">
									    <div id='exchangeName' style='border-radius: 0.2rem;'></div> 
									</div>
								  </div>
								   <div class="form-group mt-4">
								   <input id="update" type="button" class="btn btn-primary mr-1 mb-1" style="margin-right: 1rem!important; color:white;" value="Update" />
							       <input id="cancel" type="button" style="margin-right: 1rem!important;" class="btn btn-light-secondary mr-1 mb-1" value="Close" />
							       </div>
							    </form>
								</div>
								  <div class="col-6">
							   <form>
							      <div class="form-group row">
									<label for="columnTitle" class="col-sm-4 col-form-label">Graph scale</label>
									<div class="col-sm-6">
									    <div id='graphscale' style='border-radius: 0.2rem;'></div> 
									</div>
									<div class="col-sm-2">
									<input type="text" class="form-control" id="graphScaleText">
									</div>
								  </div>
							      <div class="form-group row">
									<label for="graphTitle" class="col-sm-4 col-form-label">Data Start Date</label>
									<div class="col-sm-8">
									  <div id='startDate'></div>
									</div>
								  </div>
								  <div class="form-group row">
									<label for="graphTitle" class="col-sm-4 col-form-label">Choose Increment</label>
									<div class="col-sm-8">
									<div class="row">
									<div class="col-sm-9"> <label for="graphTitle" class="">Increment Type (%, Tickes, Pips, $,Bp...)</label></div>
									<div class="col-sm-3"> <input type="text" class="form-control" id="IncrementType"></div>
									</div>
									<div class="row">
									<div class="col-sm-9"> <label for="graphTitle" class="">Increment Value</label></div>
									<div class="col-sm-3"> <input type="text" class="form-control" id="IncrementValue"></div>
									</div>
									</div>
								  </div>
								  <div class="form-group row">
									<label for="columnTitle" class="col-sm-4 col-form-label">Factor Calc Type</label>
									<div class="col-sm-8">
									    <div id='factorcalctype' style='border-radius: 0.2rem;'></div> 
									</div>
								  </div>
								  <div class="form-group row">
									<label for="graphTitle" class="col-sm-4 col-form-label">Tick Value</label>
									<div class="col-sm-8">
									<input type="text" class="form-control" id="tickvalue">
									</div>
								  </div>
								 <div class="form-group row">
									<label for="graphTitle" class="col-sm-4 col-form-label">Currency</label>
									<div class="col-sm-8">
									<input type="text" class="form-control" id="Currency">
									</div>
								  </div>
									   <div class="form-group" id="notifcationContainer" style=" margin-top: 3rem;">
								       <div id="jqxNotification">
		        The Data has been updated</div>
							       </div>
								</form>
								</div>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-robots" role="tabpanel" aria-labelledby="nav-any2-tab">	
				    <p class="mt-2" style=" margin-bottom: .5rem;">
				    <div class="col-12 row  mt-4">
				            <div class="col-12">
							   <form id="robotform">
							     <div class="form-group row">
							      <div class="col-2">
							 <!--        <div class="form-group" style='margin: 35% 0;'>
									    <label for="HighLowdropDown">High/Low Robot </label>
							        <div id='HighLowdropDown'>
                                       </div>
                                       </div> -->
								  <div id='jqxCheckBoxHighLow' style='margin: 35% 0; padding-left: .75rem;text-align: left!important;'>
                                   HIGH LOW ROBOT</div> 
                                   </div>
                                    <div class="col-4">
                                    <div class="form-group">
									    <label for="exampleFormControlTextarea1">Template</label>
									    <textarea class="form-control" id="TemplateText" rows="3"></textarea>
									   <div class="">
									  Select Variables: 
									   <ul onclick="addText(event)" class="list-inline">
										  <li class="list-inline-item">{ColumnTitle}</li>
										  <li class="list-inline-item">{Time}</li>
										  <li class="list-inline-item">{RuleResult}</li>
										  <li class="list-inline-item">{P0}</li>
										</ul>
										</div>
									  </div>
                                    </div>
                                     <div class="col-1">
                                     	        <div class="form-group" style='margin: 35% 0;'>
									  <label for="thresholddl">threshold</label>
                                      <div id='thresholddl'>
                                       </div>
                                       </div>
                                     </div>
                                       <div class="col-1">
                                     	        <div class="form-group" style='margin: 35% 0;'>
									    <label for="highlightdropdown">Highlight</label>
                                      <div id='highlightdropdown'>
                                       </div> 
                                       </div>
                                       </div>
                                      <div class="col-3">
                                       <div class="form-group row"  style='margin: 17% 0;'>
                                      <label for="columnTitle" class="col-sm-8 col-form-label">Mark as important if Time >= </label>
									   <div class="col-sm-4">
									  	<input type="text" class="form-control" id="lastData">
									   </div>
									   </div>
                                      </div>
								  </div>
								  <div class="form-group mt-4">
								   <input id="updateRobots" type="button" class="btn btn-primary mr-1 mb-1" style="margin-right: 1rem!important; color:white;" value="Update" />
							       <input id="cancelRobots" type="button" style="margin-right: 1rem!important;" class="btn btn-light-secondary mr-1 mb-1" value="Close" />
							       </div>
							        <div class="form-group" id="notifcationContainerRobot" style=" margin-top: 3rem;">
								       <div id="jqxNotificationRobots">
		        The Data has been updated</div>
							       </div>
							    </form>
								</div>
				</div>
				</div>
            </div>
		          </div>
				</div>
			    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
				</div>
			</div>
          </div>
         


		<div id="overlay">
		     <img src="/css/images/loader.gif" alt="Loading" style=" width: 50%;"/>
		   </div>
          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
      <div class="NewsBack container" style="position: fixed; bottom: 0px; left: 0px; max-width: 100%;  border: 2px; border-color: black;">
      	<div class="simple-marquee-container">
				<div class="marquee-sibling">
					NEWS
				</div>
				<div class="marquee">
					<ul id="Newslist" class="marquee-content-items">
					</ul>
				</div>
			</div>
		</div>
      <!-- Footer -->
      <footer class="sticky-footer bg-dark">
        <div class="my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script></script> - developed by
              <b><a href="" target="_blank"></a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/marquee.js"></script>
  <script src="/js/ruang-admin.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/jqwidgets/jqxscrollbar.js"></script> 
  <script src="/js/jqwidgets/jqxtree.js"></script>
  <script src="/js/jqwidgets/jqxcheckbox.js"></script>
  <script src="/js/jqwidgets/jqxmenu.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.selection.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.columnsresize.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.edit.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.pager.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.filter.js"></script> 
  <script src="/js/jqwidgets/jqxdropdownlist.js"></script> 
  <script src="/js/jqwidgets/jqxlistbox.js"></script> 
  <script src="/js/jqwidgets/jqxdata.js"></script> 
  <script src="/js/jqwidgets/jqxwindow.js"></script>
  <script src="/js/jqwidgets/jqxinput.js"></script>
  <script src="/js/jqwidgets/jqxdatetimeinput.js"></script>
  <script src="/js/jqwidgets/jqxcalendar.js"></script>
   <script src="/js/jqwidgets/jqxnotification.js"></script>
  <script>
  var groupItem;
  var subgroupsource;
  var familyItem;
  var groupsource;
  var gridsource;
  $(window).on('load', function(){
	  $('#overlay').fadeOut();
	  $('#nav-column-master').show();
  });
  function addText(event) {
	    var targ = event.target || event.srcElement;
	    document.getElementById("TemplateText").value += targ.textContent || targ.innerText;
	}
  $(document).ready(function () {
	  $("#startDate").jqxDateTimeInput({  theme:'dark', width: '100%', height: '25px',allowNullDate: true });
	    $("#jqxNotification").jqxNotification({ width: "100%",appendContainer: "#notifcationContainer",  opacity: 0.9,
            autoOpen: false, animationOpenDelay: 800, autoClose:true , autoCloseDelay: 3000,  template: "success"
        });
	    $("#jqxNotificationRobots").jqxNotification({ width: "100%",appendContainer: "#notifcationContainerRobot",  opacity: 0.9,
            autoOpen: false, animationOpenDelay: 800, autoClose:true , autoCloseDelay: 3000,  template: "success"
        });
	  factorcalctypeSource =["INPUT","CALCULATED"];
	 $("#factorcalctype").jqxDropDownList({ dropDownHeight: 70, source: factorcalctypeSource, theme: 'dark' , width: '100%', height: 30});
	 
	 chartTypeSource =["Line","Line Spline","Bars"];
	 $("#chartType").jqxDropDownList({dropDownHeight: 100,  source: chartTypeSource, theme: 'dark' , width: '100%', height: 30});
	// no data source
	 $("#exchangeName").jqxDropDownList({dropDownHeight: 100,  source: chartTypeSource, theme: 'dark' , width: '100%', height: 30});
	// no data source
	$("#graphscale").jqxDropDownList({dropDownHeight: 100,  source: chartTypeSource, theme: 'dark' , width: '100%', height: 30});
		 
	var familysource =
      {
          datatype: "json",
          datafields: [
              { name: 'id' },
              { name: 'description' }
          ],
          url: '/admin/getassetclass',
          async: true
      };
	   var dataAdapter = new $.jqx.dataAdapter(familysource);
	 	$("#FamilyDropDown").jqxDropDownList({ source: dataAdapter , displayMember: "description", valueMember: "id", theme: 'dark' , width: 210, height: 30});
	 	$("#FamilyDropDown").on('select', function (event) {
            if (event.args) {
               familyItem = event.args.item;
               groupsource.url='/admin/getgroupsbyfamily/'+familyItem.value;
               var dataAdapter = new $.jqx.dataAdapter(groupsource);
               $("#groupDropDown").jqxDropDownList({source:dataAdapter, disabled: false }); 
       		
            }
        });
	   groupsource =
	      {
	          datatype: "json",
	          datafields: [
	              { name: 'id' },
	              { name: 'description' }
	          ],
	          url: '',
	          async: true
	      };
		   var dataAdapter = new $.jqx.dataAdapter(groupsource);
		 
		$("#groupDropDown").jqxDropDownList({ source: dataAdapter,disabled: true,  displayMember: "description", valueMember: "id",theme: 'dark' , width: 260, height: 30});
		$("#groupDropDown").on('select', function (event) {
              if (event.args) {
                 groupItem = event.args.item;
                 subgroupsource.url='/admin/getsubgroupsbygroup/'+groupItem.value;
                 var dataAdapter = new $.jqx.dataAdapter(subgroupsource);
                 $("#subGroupDropDown").jqxDropDownList({source:dataAdapter, disabled: false }); 
         		
              }
          });
		 subgroupsource =
	      {
	          datatype: "json",
	          datafields: [
	              { name: 'idSubGroup' },
	              { name: 'description' }
	          ],
	          url: '',
	          async: true
	      };
		   var dataAdapter = new $.jqx.dataAdapter(subgroupsource);
		$("#subGroupDropDown").jqxDropDownList({ source: dataAdapter,disabled: true, displayMember: "description", valueMember: "idSubGroup", theme: 'dark' , width: 190, height: 30});
		$("#subGroupDropDown").on('select', function (event) {
			debugger;
            if (event.args) {
               subGroupDropDown = event.args.item;
               gridsource.url='/admin/getcolumnsconfigurationBygroupandsubgroup/'+groupItem.value+'/'+subGroupDropDown.value;
               var dataAdapter = new $.jqx.dataAdapter(gridsource);
               $('#grid').jqxGrid({source:dataAdapter});
       		
            }
        });
	    $("#jqxCheckBoxNegative").jqxCheckBox({ theme: 'dark' ,rtl: true, width: 180, height: 25});
	    $("#jqxCheckBoxShowIndb").jqxCheckBox({ theme: 'dark' ,rtl: true, width: 180, height: 25});  
	    $("#jqxCheckBoxShowInNews").jqxCheckBox({ theme: 'dark' ,rtl: true, width: 192, height: 25});  
	    $("#jqxCheckBoxHighLow").jqxCheckBox({ theme: 'dark', width: 180, height: 25});    
	    
	    $("#jqxCheckBoxHighLow").bind('change', function (event) {
            var checked = event.args.checked;
          if (checked)
          {
        	  $("#lastData").prop('disabled', false);
        	  $("#TemplateText").prop('disabled', false);
        	  $("#thresholddl").jqxDropDownList({disabled:false}); 
        	  $("#highlightdropdown").jqxDropDownList({disabled:false}); 
          }
	      else
	          {
	    	   $("#lastData").prop('disabled', true);
	    	   $("#TemplateText").prop('disabled', true);
	    	   $("#thresholddl").jqxDropDownList({disabled:true}); 
	    	   $("#highlightdropdown").jqxDropDownList({disabled:true}); 
	          }
        });
	    
	    $("#update").jqxButton({ theme: 'dark',height:30,width:74  });
        $("#cancel").jqxButton({ theme: 'dark',height:30,width:74 });
        
        $("#updateRobots").jqxButton({ theme: 'dark',height:30,width:74});
        $("#cancelRobots").jqxButton({ theme: 'dark',height:30,width:74});
        $('#cancelRobots').click(function () {
            $('#popupWindow').jqxWindow('close');
        });
        var thresholdsource = [ "2 weeks",
					        	"1 month",
					        	"3-month",
					        	"6-month",
					        	"1-year " ];
        
    // Create a jqxDropDownList
    $("#thresholddl").jqxDropDownList({theme: 'dark', source: thresholdsource,width: 80, height: 30,dropDownHeight: 150});
    $("#highlightdropdown").jqxDropDownList({theme: 'dark', source: thresholdsource, width: 80, height: 30,dropDownHeight: 150});
    
   /*  var highlowsource = ["High",
		"Low"];
    $("#HighLowdropDown").jqxDropDownList({theme: 'dark', source: highlowsource,width: 100, height: 30,dropDownHeight: 70});
    */  
    // prepare the data
      gridsource =
      {
          datatype: "json",
          datafields: [
        	  { name: 'id', type: 'long' },
        	  { name: 'canBeNegative', type: 'long' }, 
        	  { name: 'description', type: 'string' },
              { name: 'displayDescription', type: 'string' },
              { name: 'dataFormat', type: 'string' },
              { name: 'yaxisFormat', type: 'string' },
              { name: 'calculationType', type: 'string' },
              { name: 'startDate', type: 'string' },
              { name: 'HighOrLow', type: 'string' },
              { name: 'Jump', type: 'string' },
              { name: 'Trend', type: 'string' },
              { name: 'MovAvg100dRobot', type: 'string' },
              { name: 'Crossing100d200dRobot', type: 'string' },
              { name: 'SignChange', type: 'string' },
              { name: 'chartType', type: 'string' }
          ],
          async: true,
          url: ''
      };
     
      var dataAdapter = new $.jqx.dataAdapter(gridsource, {
          downloadComplete: function (data, status, xhr) { },
          loadComplete: function (data) { },
          loadError: function (xhr, status, error) { }
      });
        $("#popupWindow").jqxWindow({
            width: '70%',    height: '70%',  resizable: false,  theme: 'dark' , isModal: true, autoOpen: false, cancelButton: $("#cancel"), modalOpacity: 0.01           
        });
       $('#popupWindow').on('close', function (event) {
    	   $('#robotform').trigger("reset");
    	   $("#highlightdropdown").jqxDropDownList('clearSelection'); 
    	   $("#thresholddl").jqxDropDownList('clearSelection'); 
    	   $("#jqxCheckBoxHighLow").jqxCheckBox('val',false)
    	   $( "#nav-graphsData-tab" ).trigger('click');
       }); 
        $('#nav-robots-tab').click(function (event) {     
        	debugger;
        	   $.ajax({
       	        contentType: "application/json",
       	        url: "/admin/getlowhighrobotsbyconfigid/"+$("#DisplayName").val(),
       	        dataType: 'json',
       	        async:true,
       	        cache: false,
       	        timeout: 600000,
       	        success: function (data) {
       	         $("#graphTitle").val(data.displayDescription);
       	         $("#TemplateText").val(data.template);
                 $("#lastData").val(data.lastData);
                 $("#thresholddl").jqxDropDownList('val', data.threshholdTrigger);
                 $("#highlightdropdown").jqxDropDownList('val', data.threshHoldNotification);
                 $("#jqxCheckBoxHighLow").jqxCheckBox('val', data.isactive==1?true:false)
       },
       	        error: function (e) {
       	        	
       					  console.log("ERROR : ", e);

       	        }
       	    });
        	   
           var checked = $("#jqxCheckBoxHighLow").jqxCheckBox('val');
          if (checked)
          {
        	  $("#lastData").prop('disabled', false);
        	  $("#TemplateText").prop('disabled', false);
        	  $("#thresholddl").jqxDropDownList({disabled:false}); 
        	  $("#highlightdropdown").jqxDropDownList({disabled:false}); 
          }
	      else
	          {
	    	   $("#lastData").prop('disabled', true);
	    	   $("#TemplateText").prop('disabled', true);
	    	   $("#thresholddl").jqxDropDownList({disabled:true}); 
	    	   $("#highlightdropdown").jqxDropDownList({disabled:true}); 
	          }
        });
        // update the edited row when the user clicks the 'Save' button.
        $("#update").click(function () {
            if (editrow >= 0) {
            	 var rowID = $('#grid').jqxGrid('getrowid', editrow);
            	    var dataRecord = $("#grid").jqxGrid('getrowdata', rowID);
                 var row = { id : dataRecord.id,
                		    description:$("#DisplayName").val(),
                		    displayDescription: $("#graphTitle").val(),
                		    groupId:groupItem.value,
                		    subgroupId:subGroupDropDown.value,
                		    dataFormat:$("#dataFormat").val(),
                		    canBeNegative:$('#jqxCheckBoxNegative').jqxCheckBox('checked')?true:false,
                		    graphScale:$('#jqxCheckBoxShowIndb').jqxCheckBox('checked')?1:0,
                		    startDate:$("#startDate").jqxDateTimeInput('getDate')==null?null:$.jqx.dataFormat.formatdate($("#startDate").jqxDateTimeInput('getDate'),  'dd-MM-yyyy'),
                		    yAxisFormat:$("#yAxisFormat").val(),
                		    calculationType:$("#factorcalctype").val(),
                		    chartType:$("#chartType").val(),
                		    tickValue:$("#tickvalue").val(),
                		    currency:$("#Currency").val()
                		    };
             	debugger;
    	       	  $.ajax({
    	    	        type: "POST",
    	    	        contentType: "application/json",
    	    	        url: "/admin/updatecolumnconfigurationbyid",
    	    	        data: JSON.stringify(row),
    	    	        dataType: 'json',
    	    	        async:true,
    	    	        cache: false,
    	    	        timeout: 600000,
    	    	        success: function (data) {
    	    	        
                      $('#grid').jqxGrid('updaterow', rowID, data);
                      $("#jqxNotification").jqxNotification("open");
                   //   $("#popupWindow").jqxWindow('hide');
    	   },
    	    	        error: function (e) {
    	    	        	
    						  console.log("ERROR : ", e);
    	
    	    	        }
    	    	    });
            }
        });
        $("#updateRobots").click(function () {
        	 var checked = $("#jqxCheckBoxHighLow").jqxCheckBox('val');
            var row = {
            		"isactive":checked,
            		"columnDescription":$("#DisplayName").val(),
        		    "displayDescription": $("#graphTitle").val(),
        		    "rule":$("#highlightdropdown").jqxDropDownList('val'),
        		    "template":$("#TemplateText").val(),
        		    "lastData":$("#lastData").val(),
        		    "threshholdTrigger": $("#thresholddl").jqxDropDownList('val'),
        		    "threshHoldNotification": $("#highlightdropdown").jqxDropDownList('val'),
        		    };
         	debugger;
	       	  $.ajax({
	    	        type: "POST",
	    	        contentType: "application/json",
	    	        url: "/admin/updatelowhighrobotsbyconfigid",
	    	        data: JSON.stringify(row),
	    	        dataType: 'json',
	    	        async:true,
	    	        cache: false,
	    	        timeout: 600000,
	    	        success: function (data) {
	    	        
                $("#jqxNotificationRobots").jqxNotification("open");
             //   $("#popupWindow").jqxWindow('hide');
	   },
	    	        error: function (e) {
	    	        	
						  console.log("ERROR : ", e);
	
	    	        }
	    	    });
        });
      // initialize jqxGrid
      $("#grid").jqxGrid(
      {
          width: '100%',
          source: dataAdapter,                
          columnsresize: true,
          theme:'dark',
          pageable: true,
          columnsheight: 30,
          pagesize: 10,
          autoheight: true,
          columns: [
        	  { text: '', width: '10%' , datafield: 'Edit',filterable:false, columntype: 'button', cellsrenderer: function () {
                  return "Edit";
               }, buttonclick: function (row) {
            	  
                  // open the popup window when the user clicks a button.
                  editrow = row;
                  var offset = $("#grid").offset();
                  $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) - 90 } });
                  // get the clicked row's data and initialize the input fields.
                  var dataRecord = $("#grid").jqxGrid('getrowdata', editrow);
                  $("#configId").val(dataRecord.id);
                  $("#DisplayName").val(dataRecord.description);
                  $("#graphTitle").val(dataRecord.displayDescription);
                  $("#dataFormat").val(dataRecord.dataFormat);
                  $("#yAxisFormat").val(dataRecord.yaxisFormat);
                  if(dataRecord.startDate!=null)
                     $('#startDate').jqxDateTimeInput('setDate',dataRecord.startDate.split("-")[2]+","+dataRecord.startDate.split("-")[1]+","+dataRecord.startDate.split("-")[0]);
                  else
                	  $("#startDate").jqxDateTimeInput({ value: null });
                  $("#jqxCheckBoxNegative").jqxCheckBox('val',dataRecord.canBeNegative);
               
                  // $("#jqxCheckBoxShowIndb").val(dataRecord.jqxCheckBoxShowIndb);
                  $("#factorcalctype").jqxDropDownList('val', dataRecord.calculationType);
                  $("#chartType").jqxDropDownList('val', dataRecord.chartType);
                  $("#tickvalue").val(dataRecord.tickValue);
                  $("#Currency").val(dataRecord.currency);
                  // show the popup window.
                  $("#popupWindow").jqxWindow('open');
              }
             },
            { text: '', columngroup: 'TimeAndFormat', datafield: 'id', hidden: true  },
            { text: '', columngroup: 'TimeAndFormat', datafield: 'canBeNegative', hidden: true  },
            { text: '', columngroup: 'TimeAndFormat', datafield: 'chartType', hidden: true  },
            { text: '', columngroup: 'TimeAndFormat', datafield: 'startDate', hidden: true  },
            { text: 'Display Name', columngroup: 'TimeAndFormat', datafield: 'description', width: '9%',color:'#3F0' },
            { text: 'Data Format', columngroup: 'TimeAndFormat', datafield: 'dataFormat', width: '9%' },
            { text: 'Y Axis Format', columngroup: 'TimeAndFormat', datafield: 'yaxisFormat', width: '9%'},
            { text: 'Factor Calc Type', columngroup: 'TimeAndFormat', datafield: 'calculationType', width: '9%' },
            { text: 'HighOrLow', columngroup: 'NewsRobot', datafield: 'HighOrLow',columntype: 'checkbox', width: '9%' },
            { text: 'Jump', columngroup: 'NewsRobot', columntype: 'checkbox', datafield: 'Jump', width: '9%' },
            { text: 'Trend', columngroup: 'NewsRobot', columntype: 'checkbox', datafield: 'Trend', width: '9%' },
            { text: 'Mov Avg(100d)Robot', columngroup: 'NewsRobot', columntype: 'checkbox', datafield: 'MovAvg100dRobot', width: '9%' },
            { text: 'Crossing 100d-200d Robot', columngroup: 'NewsRobot', columntype: 'checkbox', datafield: 'Crossing100d200dRobot', width: '9%' },
            { text: 'SignChange', columngroup: 'NewsRobot', columntype: 'checkbox', datafield: 'SignChange', width: '9%' }
          ],
          columngroups: [
              { text: 'Title and Format', align: 'center', name: 'TimeAndFormat' },
              { text: 'News Robot', align: 'center', name: 'NewsRobot' }
          ]
      });
     
  });
	$(function (){

		   $.ajax({
	        contentType: "application/json",
	        url: "/admin/getnews",
	        dataType: 'json',
	        async:true,
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
				  var ul = document.getElementById("Newslist");
				 for (i=0; i<data.length;i++)
				  {var li = document.createElement("li");
				  li.appendChild(document.createTextNode(data[i].template.split("<img")[0]));
				   $('#Newslist').append('<li>' + data[i].template+ '</li>');
				  if(data[i].isBold=="true")
				  {
				  $("#Newslist li:nth-child("+(i+1)+")").addClass("red");
				 // li.setAttribute("class", "red");
				  }
				  }
				 createMarquee({});
},
	        error: function (e) {
	        	
					  console.log("ERROR : ", e);

	        }
	    });
		   
	});

		</script>
<!--   <script src="/js/demo/chart-area-demo.js"></script>   -->
</body>

</html>