<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>libvol - Dashboard</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.dark.css" rel="stylesheet">
</head>
<style>
.col-2 {
     max-width: 14.8%;
}
.factorBold{
    font-weight:bold;
    color: white!important;
}
.edit{
    margin: .5rem;
    color: white;
    background-color: #719DF0!important;
    border-color: var(--jqx-border);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: .1rem 33%;
 
}
.update{
    margin: .5rem;
    color: white;
    background-color: #009a4e!important;
    border-color: var(--jqx-border);
    border-radius: 4px;
    border: 1px solid transparent;
        padding: 1px 3px;
}
.cancel{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
    color: white;
    background-color:#506B8B!important;
    border-color: var(--jqx-border);
    border-radius: 4px;
    border: 1px solid transparent;
        padding: 1px 3px;
}
</style>
<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion toggled" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
         <!--  <img src="img/logo/logo2.png"> -->
        </div>
        <div class="sidebar-brand-text mx-3">libvol</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="/bourse/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Admin Section
      </div>
        <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDataEntry"
          aria-expanded="true" aria-controls="collapseDataEntry">
          <i class="fas fa-pen"></i>
          <span>Data Entry</span>
        </a>
        <div id="collapseDataEntry" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Data Entry</h6>
            <a class="collapse-item active" href="/bourse/sovereignyields" >Sovereign Yields</a>
            <a class="collapse-item" href="/bourse/skews" >Skews</a>
            <a class="collapse-item" href="/bourse/preciousmetals" >Precious Metals</a>
            <a class="collapse-item" href="/bourse/sovereignyields" >Fixed Income Future</a>
          </div>
            <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Settings</h6>
            <a class="collapse-item" href="/bourse/settings" >Column Master</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMonitoring"
          aria-expanded="true" aria-controls="collapseMonitoring">
          <i class="fas fa-desktop"></i>
          <span>Monitoring</span>
        </a>
        <div id="collapseMonitoring" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Monitoring</h6>
            <a class="collapse-item" href="">Fast Chart</a>
            <a class="collapse-item" href="/bourse/any2">Any 2</a>
            <a class="collapse-item" href="/bourse/sovereignyieldsgraph">Sovereign yields</a>
            <a class="collapse-item" href="">Situation Room</a>
            <a class="collapse-item" href="">Euribor Curves</a>
          </div>
        </div>
      </li>
	   <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnalytics"
          aria-expanded="true" aria-controls="collapseAnalytics">
          <i class="fas fa-chart-bar"></i>
          <span>Analytics</span>
        </a>
        <div id="collapseAnalytics" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Analytics</h6>
            <a class="collapse-item" href="/bourse/returnfunction">Return Function</a>
            <a class="collapse-item" href="">Implied Vs Realized (Hi/lo)</a>
            <a class="collapse-item" href="">Implied Vs Realized (Close)</a>
            <a class="collapse-item" href="">Gamma Rents</a>
          </div>
        </div>
      </li>
	    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSkews"
          aria-expanded="true" aria-controls="collapseSkews">
          <i class="fas fa-chart-area"></i>
          <span>Skews</span>
        </a>
        <div id="collapseSkews" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Skews</h6>
            <a class="collapse-item" href="">Global Skew View</a>
            <a class="collapse-item" href="">Skew Vs Implied</a>
            <a class="collapse-item" href="">Skew Vs Futures</a>
          </div>
        </div>
      </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVolumes"
          aria-expanded="true" aria-controls="collapseVolumes">
          <i class="fas fa-project-diagram"></i>
          <span>Volumes</span>
        </a>
        <div id="collapseVolumes" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Volumes</h6>
            <a class="collapse-item" href="">Race Chart</a>
            <a class="collapse-item" href="">Week After Week </a>
            <a class="collapse-item" href="">Moving Average</a>
          </div>
        </div>
      </li>
	   <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNormalizedSpace"
          aria-expanded="true" aria-controls="collapseNormalizedSpace">
          <i class="fas fa-chart-line"></i>
          <span>Normalized Space</span>
        </a>
        <div id="collapseNormalizedSpace" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Normalized Space</h6>
            <a class="collapse-item" href="">Create Normalized Vols</a>
            <a class="collapse-item" href="">Durations And Dv01 </a>
            <a class="collapse-item" href="">List of CTDs </a>
          </div>
        </div>
      </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIntermarkets"
          aria-expanded="true" aria-controls="collapseIntermarkets">
          <i class="fas fa-poll"></i>
          <span>Inter-markets</span>
        </a>
        <div id="collapseIntermarkets" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Inter-markets</h6>
            <a class="collapse-item" href="">Weightings</a>
            <a class="collapse-item" href="">Straddle Ratios </a>
            <a class="collapse-item" href="">Implied Vol Ratios </a>
          </div>
        </div>
      </li>
	       </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePaperwatch"
          aria-expanded="true" aria-controls="collapsePaperwatch">
          <i class="fab fa-buffer"></i>
          <span>Paper-watch</span>
        </a>
        <div id="collapsePaperwatch" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Paper-watch</h6>
            <a class="collapse-item" href="">Call/put Warning Indicator</a>
          </div>
        </div>
      </li>
	     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTheMathBox"
          aria-expanded="true" aria-controls="collapseTheMathBox">
          <i class="fas fa-box"></i>
          <span>The Math Box</span>
        </a>
        <div id="collapseTheMathBox" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">The Math Box</h6>
            <a class="collapse-item" href="">One Serie</a>
            <a class="collapse-item" href="">Two Series</a>
          </div>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAtAGlance"
          aria-expanded="true" aria-controls="collapseAtAGlance">
          <i class="fas fa-eye"></i>
          <span>At A Glance</span>
        </a>
        <div id="collapseAtAGlance" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">At A Glance</h6>
            <a class="collapse-item" href="">Futures </a>
            <a class="collapse-item" href="">Implied Vols</a>
			<a class="collapse-item" href="">Ranges And Realized</a>
            <a class="collapse-item" href="">Yields And Curves</a>
			<a class="collapse-item" href="">Precious Metals</a>
            <a class="collapse-item" href="">Excess Liquidity</a>
          </div>
        </div>
      </li>
	     </li>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCheckAnOptionStrategy"
          aria-expanded="true" aria-controls="collapseCheckAnOptionStrategy">
          <i class="fas fa-check-square"></i>
          <span>Check An Option Strategy</span>
        </a>
        <div id="collapseCheckAnOptionStrategy" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Check An Option Strategy</h6>
            <a class="collapse-item" href="">Fly Your Futures</a>
            <a class="collapse-item" href="">Condors</a>
			<a class="collapse-item" href="">Vertical Spreads</a>
          </div>
        </div>
      </li>
	        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLiveOptionFlows"
          aria-expanded="true" aria-controls="collapseLiveOptionFlows">
          <i class="fas fa-satellite-dish"></i>
          <span>Live Option Flows</span>
        </a>
        <div id="collapseLiveOptionFlows" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Live Option Flows</h6>
            <a class="collapse-item" href="">Flow Search Engine</a>
            <a class="collapse-item" href="">Historical Flow</a>
          </div>
        </div>
      </li>
	          <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseScheduleMeetings"
          aria-expanded="true" aria-controls="collapseScheduleMeetings">
          <i class="fas fa-handshake"></i>
          <span>Schedule Meetings</span>
        </a>
        <div id="collapseScheduleMeetings" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="submenu py-2 collapse-inner rounded">
            <h6 class="collapse-header">Schedule Meetings</h6>
            <a class="collapse-item" href="">Host A Meeting</a>
            <a class="collapse-item" href="">Join A Meeting</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-1 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter">2</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
<!--                     <img class="rounded-circle" src="img/man.png" style="max-width: 60px" alt=""> -->
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                      having.</div>
                    <div class="small text-gray-500">Udin Cilok · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
<!--                     <img class="rounded-circle" src="img/girl.png" style="max-width: 60px" alt=""> -->
                    <div class="status-indicator bg-default"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                      say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Jaenab · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tasks fa-fw"></i>
                <span class="badge badge-success badge-counter">3</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Task
                </h6>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Design Button
                      <div class="small float-right"><b>50%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Make Beautiful Transitions
                      <div class="small float-right"><b>30%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Create Pie Chart
                      <div class="small float-right"><b>75%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">View All Taks</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <!-- <img class="img-profile rounded-circle" src="img/boy.png" style="max-width: 60px"> -->
                <i class="fas fa-user"></i>
                <span class="ml-2 d-none d-lg-inline text-white small">	Charbel Nakouzi</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-1">
            <h1 class="h3 mb-0 text-gray-800">Column Master</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/bourse/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Column Master</li>
            </ol>
          </div>
		<div class="col-lg-12">
              <!-- Form Basic -->
        <div id="grid"></div>
      </div>
      <div class="NewsBack" style="z-index: 100; position: fixed; bottom: 0px; left: 0px; width: 100%;  border: 2px; border-color: black;">
      	<div class="simple-marquee-container">
				<div class="marquee-sibling">
					NEWS
				</div>
				<div class="marquee">
					<ul class="marquee-content-items">
						<li>News 1</li>
						<li>News 2</li>
						<li>News 3</li>
						<li>News 4</li>
						<li>News 5</li>
					</ul>
				</div>
			</div>
		</div>
      <!-- Footer -->
      <footer class="sticky-footer bg-dark">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script></script> - developed by
              <b><a href="" target="_blank"></a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/marquee.js"></script>
  <script src="/js/ruang-admin.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/jqwidgets/jqxscrollbar.js"></script> 
  <script src="/js/jqwidgets/jqxtree.js"></script>
  <script src="/js/jqwidgets/jqxcheckbox.js"></script>
  <script src="/js/jqwidgets/jqxmenu.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.selection.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.columnsresize.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.edit.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.pager.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.filter.js"></script> 
    <script src="/js/jqwidgets/jqxtabs.js"></script>
  <script src="/js/jqwidgets/jqxdropdownlist.js"></script> 
  <script src="/js/jqwidgets/jqxlistbox.js"></script> 
  <script src="/js/jqwidgets/jqxdata.js"></script> 
  <script src="/js/jqwidgets/jqxwindow.js"></script>
  <script src="/js/jqwidgets/jqxinput.js"></script>
  <script src="/js/jqwidgets/jqxdatetimeinput.js"></script>
  <script src="/js/jqwidgets/jqxcalendar.js"></script>
  <script>
  $(document).ready(function () {
      // prepare the data
      var data = new Array();

      var firstNames = ["Nancy", "Andrew", "Janet", "Margaret", "Steven", "Michael", "Robert", "Laura", "Anne"];
      var lastNames = ["Davolio", "Fuller", "Leverling", "Peacock", "Buchanan", "Suyama", "King", "Callahan", "Dodsworth"];
      var titles = ["Sales Representative", "Vice President, Sales", "Sales Representative", "Sales Representative", "Sales Manager", "Sales Representative", "Sales Representative", "Inside Sales Coordinator", "Sales Representative"];
      var titleofcourtesy = ["Ms.", "Dr.", "Ms.", "Mrs.", "Mr.", "Mr.", "Mr.", "Ms.", "Ms."];
      var birthdate = ["08-Dec-48", "19-Feb-52", "30-Aug-63", "19-Sep-37", "04-Mar-55", "02-Jul-63", "29-May-60", "09-Jan-58", "27-Jan-66"];
      var hiredate = ["01-May-92", "14-Aug-92", "01-Apr-92", "03-May-93", "17-Oct-93", "17-Oct-93", "02-Jan-94", "05-Mar-94", "15-Nov-94"];
      var address = ["507 - 20th Ave. E. Apt. 2A", "908 W. Capital Way", "722 Moss Bay Blvd.", "4110 Old Redmond Rd.", "14 Garrett Hill", "Coventry House", "Miner Rd.", "Edgeham Hollow", "Winchester Way", "4726 - 11th Ave. N.E.", "7 Houndstooth Rd."];
      var city = ["Seattle", "Tacoma", "Kirkland", "Redmond", "London", "London", "London", "Seattle", "London"];
      var postalcode = ["98122", "98401", "98033", "98052", "SW1 8JR", "EC2 7JR", "RG1 9SP", "98105", "WG2 7LT"];
      var country = ["USA", "USA", "USA", "USA", "UK", "UK", "UK", "USA", "UK"];
      var homephone = ["(206) 555-9857", "(206) 555-9482", "(206) 555-3412", "(206) 555-8122", "(71) 555-4848", "(71) 555-7773", "(71) 555-5598", "(206) 555-1189", "(71) 555-4444"];
      var notes = ["Education includes a BA in psychology from Colorado State University in 1970.  She also completed 'The Art of the Cold Call.'  Nancy is a member of Toastmasters International.",
          "Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.",
          "Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.",
          "Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.",
          "Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses 'Successful Telemarketing' and 'International Sales Management.'  He is fluent in French.",
          "Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses 'Multi-Cultural Selling' and 'Time Management for the Sales Professional.'  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.",
          "Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled 'Selling in Europe,' he was transferred to the London office in March 1993.",
          "Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.",
          "Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German."];

      var k = 0;
      for (var i = 0; i < firstNames.length; i++) {
          var row = {};
          row["firstname"] = firstNames[k];
          row["lastname"] = lastNames[k];
          row["title"] = titles[k];
          row["titleofcourtesy"] = titleofcourtesy[k];
          row["birthdate"] = birthdate[k];
          row["hiredate"] = hiredate[k];
          row["address"] = address[k];
          row["city"] = city[k];
          row["postalcode"] = postalcode[k];
          row["country"] = country[k];
          row["homephone"] = homephone[k];
          row["notes"] = notes[k];
          data[i] = row;
          k++;
      }

      var source =
      {
          localdata: data,
          datatype: "array"
      };

      var initrowdetails = function (index, parentElement, gridElement, datarecord) {
          var tabsdiv = null;
          var information = null;
          var notes = null;
          tabsdiv = $($(parentElement).children()[0]);
          if (tabsdiv != null) {
              information = tabsdiv.find('.information');
              notes = tabsdiv.find('.notes');
              var title = tabsdiv.find('.title');
              title.text(datarecord.firstname);

              var container = $('<div style="margin: 5px;"></div>')
              container.appendTo($(information));
              var leftcolumn = $('<div style="float: left; width: 50%;"></div>');
              var rightcolumn = $('<div style="float: left; width: 50%;"></div>');
             container.append(leftcolumn);
              container.append(rightcolumn);

              var firstname = "<div class='form-group row'> <label for='inputEmail3' class='col-sm-3 col-form-label'>Email</label>  <div class='col-sm-9'> <input type='text' class='form-control' id='inputEmail3' placeholder='Email'  value='" + datarecord.firstname + "'> </div> </div>";
              var lastname = "<div class='form-group row'> <label for='inputEmail3' class='col-sm-3 col-form-label'>lastname</label>  <div class='col-sm-9'> <input type='text' class='form-control' id='inputEmail3' placeholder='Email'  value='" + datarecord.lastname + "'> </div> </div>";
              var title = "<div class='form-group row'> <label for='inputEmail3' class='col-sm-3 col-form-label'>title</label>  <div class='col-sm-9'> <input type='text' class='form-control' id='inputEmail3' placeholder='Email'  value='" + datarecord.title + "'> </div> </div>";
              var address = "<div class='form-group row'> <label for='inputEmail3' class='col-sm-3 col-form-label'>address</label>  <div class='col-sm-9'> <input type='text' class='form-control' id='inputEmail3' placeholder='Email'  value='" + datarecord.address + "'> </div> </div>";
              var firstname1 = "<div class='form-group row'> <label for='inputEmail3' class='col-sm-3 col-form-label'>Email</label>  <div class='col-sm-9'> <input type='text' class='form-control' id='inputEmail3' placeholder='Email'  value='" + datarecord.firstname + "'> </div> </div>";
              var lastname1 = "<div class='form-group row'> <label for='inputEmail3' class='col-sm-3 col-form-label'>lastname</label>  <div class='col-sm-9'> <input type='text' class='form-control' id='inputEmail3' placeholder='Email'  value='" + datarecord.lastname + "'> </div> </div>";
              var title1 = "<div class='form-group row'> <label for='inputEmail3' class='col-sm-3 col-form-label'>title</label>  <div class='col-sm-9'> <input type='text' class='form-control' id='inputEmail3' placeholder='Email'  value='" + datarecord.title + "'> </div> </div>";
              
              var buttons="<input  data-toggle='collapse' data-target='#collapseFilter' aria-expanded='true' aria-controls='collapseFilter' class='btn btn-primary mr-1 mb-1' style='margin-right: 1rem!important; color:white;' type='button' id='filter' value='Search' /><input id='Clearfilter' type='button' style='margin-right: 1rem!important;' class='btn btn-light-secondary mr-1 mb-1' value='Clear' />"
                  
              $(leftcolumn).append(firstname);
              $(leftcolumn).append(lastname);
              $(leftcolumn).append(title);
              $(leftcolumn).append(address);
              
              $(leftcolumn).append(firstname1);
              $(leftcolumn).append(lastname1);
              $(leftcolumn).append(title1);
              $(leftcolumn).append(buttons);
              
              var postalcode = "<div style='margin: 10px;'><b>Postal Code:</b> " + datarecord.postalcode + "</div>";
              var city = "<div style='margin: 10px;'><b>City:</b> " + datarecord.city + "</div>";
              var phone = "<div style='margin: 10px;'><b>Phone:</b> " + datarecord.homephone + "</div>";
              var hiredate = "<div style='margin: 10px;'><b>Hire Date:</b> " + datarecord.hiredate + "</div>";
               $(rightcolumn).append(postalcode);
              $(rightcolumn).append(city);
              $(rightcolumn).append(phone);
              $(rightcolumn).append(hiredate);
              var notescontainer = $('<div style="white-space: normal; margin: 5px;"><span>' + datarecord.notes + '</span></div>');
              $(notes).append(notescontainer);
              $(tabsdiv).jqxTabs({ theme:'dark', width: '95%', height: 500});
          }
      }
      var dataAdapter = new $.jqx.dataAdapter(source);

      $("#grid").jqxGrid(
      {
          width: '100%',
          height: 600,
          source: dataAdapter,
          rowdetails: true,
          theme:'dark',
          rowdetailstemplate: { rowdetails: "<div style='margin: 10px;'><ul style='margin-left: 30px;'><li class='title'></li><li>Notes</li></ul><div class='information'></div><div class='notes'></div></div>", rowdetailsheight: 550 },
          ready: function () {
              $("#grid").jqxGrid('showrowdetails', 0);
          },
          initrowdetails: initrowdetails,
          columns: [
                { text: 'First Name', datafield: 'firstname', width: 200 },
                { text: 'Last Name', datafield: 'lastname', width: 200 },
                { text: 'Title', datafield: 'title', width: 180 },
                { text: 'City', datafield: 'city', width: 100 },
                { text: 'Country', datafield: 'country'}
            ]
      });
  });
		</script>
<!--   <script src="/js/demo/chart-area-demo.js"></script>   -->
</body>

</html>