<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>Liberty Options - Dashboard</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.dark.css" rel="stylesheet">
   <link href="/css/input.css" rel="stylesheet">
  <style>
div#content {
    position: absolute;
    top: 70px;
    color: #8A99B5;
    background-image: linear-gradient(#4c6aa6 -1%, #000306 21%);
    border: #464D5C;
    width: 100%;
    overflow-x: hidden;
    min-height: 650px;
}
a.sign-up-style {
    color: darkorange;
    font-weight: bold;
    font-size: 0.6875rem;
}

</style>
</head>
<body id="page-top">
  <div id="wrapper">
  
    <div id="content-wrapper" class="d-flex flex-column">
    <div id="fixedMenu">
        <!-- TopBar -->
   <nav class="navbar navbar-expand navbar-light bg-navbar topbar static-top">
	<img id="imglogo" src="../../img/logo.png" align="absmiddle" style="height:70px;margin-left: 3%;">
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
		
		<div class="navbar-nav mr-auto">
		   <div style=" background: url(../../img/WebResource.png) top left repeat-x;     display: flex; border-radius: 0.2rem; padding: 0.2rem;">
			<a href="/default" class="nav-item nav-link active"><img alt="" src="../../img/ico-home.png" class="MainMenuIcon">Home</a>
		 </div>
		</div>
	   <div style="margin-right: 2.5rem;"> 
	    	 <button id="clientLogin" class="jqx-rc-all jqx-rc-all-dark jqx-button jqx-button-dark jqx-widget jqx-widget-dark buttonRipple jqx-fill-state-normal jqx-fill-state-normal-dark jqx-primary jqx-primary-dark">
		        SIGN IN
		           <i class="fa-solid fa-right-to-bracket"></i>
		        </button>
	    	 <a id="" class="sign-up-style" href="#">Not a member? Register</a>
	    </div>
	</div>
</nav>
        <!-- Topbar -->
 </div>
   <div id="content">
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4" style="display: none !important;">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>

          <div class="mt-3 row g-3">
            <div class="col-3"></div>
            <div class="col-6 card">
			<h1 class="form-label fw-bold pt-4" >Create Your Account</h1>
            
				  <form>
				  
					  <div class="row g-3">
					   <div class="form-outline textfield-outlined col">
						   <div id='titleDropDown'></div>
						  <div id="ErrorTitle" class="alert alert-danger" style="display:none"></div>
					  </div>
					  <div class="form-outline textfield-outlined col">
					    <input type="text" id="firstname" class="form-control"  placeholder=" "/>
					    <label class="form-label" for="firstname">First Name</label>
					    <div id="ErrorFirstName" class="alert alert-danger" style="display:none"></div>
					  </div>
					  <div class="form-outline textfield-outlined col">
					     <input type="text" id="surname" class="form-control"  placeholder=" "/>
					     <label class="form-label" for="surname">Last Name</label>
					     <div id="ErrorSurname" class="alert alert-danger" style="display:none"></div>
					  </div>
					</div>
					  <div class="row g-3">
					   <div class="form-outline textfield-outlined col">
					    <input type="text" id="phone" class="form-control"  placeholder=" "/>
					    <label class="form-label" for="phone">Phone</label>
					     <div id="ErrorPhone" class="alert alert-danger" style="display:none"></div>
					  </div>
					  <div class="form-outline textfield-outlined col">
					    <input type="text" id="mobile" class="form-control"  placeholder=" "/>
					    <label class="form-label" for="mobile">Mobile</label>
					     <div id="ErrorMobile" class="alert alert-danger" style="display:none"></div>
					  </div>
					  <div class="form-outline textfield-outlined col">
					     <input type="text" id="company" class="form-control"  placeholder=" "/>
					     <label class="form-label" for="company">Company</label> 
					     <div id="ErrorCompany" class="alert alert-danger" style="display:none"></div>
					  </div>
					</div>
					 <div class="row g-1">
					   <div class="form-outline textfield-outlined col">
					    <input type="text" id="address" class="form-control"  placeholder=" "/>
					    <label class="form-label" for="address">Address</label>
					     <div id="ErrorAddress" class="alert alert-danger" style="display:none"></div>
					   </div>
					 </div>
					  <div class="row g-1">
					  <div class="form-outline textfield-outlined col">
					    <input type="text" id="address2" class="form-control"  placeholder=" "/>
					     <label class="form-label" for="address2">Address Line 2 - Optional</label>
					  </div>
					</div>
					 <div class="row g-3">
					  <div class="form-outline textfield-outlined col">
					    <input type="text" id="postCode" class="form-control"  placeholder=" "/>
					     <label class="form-label" for="postCode">Post Code</label>
					     <div id="ErrorPostCode" class="alert alert-danger" style="display:none"></div>
					  </div>
					  <div class="form-outline mb-4 textfield-outlined col">
					    <input type="text" id="country" class="form-control"  placeholder=" "/>
					     <label class="form-label" for="country">Country</label>
					      <div id="ErrorCountry" class="alert alert-danger" style="display:none"></div>
					  </div>
					</div>
					  <!-- Email input -->
					   <div class="row g-1">
					   <div class="form-outline textfield-outlined col">
					    <input type="email" id="email" class="form-control"  placeholder=" "/>
					    <label class="form-label" for="email">Email</label>
					    <div id="ErrorEmail" class="alert alert-danger" style="display:none"></div>
					   </div>
					 </div>
					  <div class="row g-1">
					  <div class="form-outline textfield-outlined col">
					    <input type="email" id="matchEmail" class="form-control"  placeholder=" "/>
					    <label class="form-label" for="matchEmail">Re-type Email</label>
					    <div id="globalErrorMail" class="alert alert-danger" style="display:none"></div>
					  </div>
					</div>
					   <div class="row g-2">
					  <div class="form-outline textfield-outlined col-8">
					    <input type="text" id="username" class="form-control"  placeholder=" "/>
					    <label class="form-label" for="username">Username</label>
					     <div id="ErrorUsername" class="alert alert-danger" style="display:none"></div>
					  </div>
					  <div class="form-outline textfield-outlined col">
					   <button type="button" class="btn btn-primary btn-block btn-style" id="sameAsEmail">Same as email</button>
					  </div>
					</div>
					  <!-- Password input -->
					  <div class="row g-1">
					  <div class="form-outline textfield-outlined col">
					    <input type="password" id="password" class="form-control"  placeholder=" " />
					     <label class="form-label" for="password">Password</label>
					     <div id="ErrorPassword" class="alert alert-danger" style="display:none"></div>
					  </div>
					 </div>
					  <div class="row g-1">
					  <div class="form-outline textfield-outlined col">
					    <input type="password" id="matchPassword" class="form-control"  placeholder=" " />
					     <label class="form-label" for="matchPassword">Re-type Password</label>
					     <div id="globalError" class="alert alert-danger" style="display:none"></div>
					  </div>
					 </div>
					  <div class="row g-1">
					  <div class="form-outline textfield-outlined col">
					    <input type="text" id="passwordHint" class="form-control"  placeholder=" " />
					     <label class="form-label" for="passwordHint">Password Hint</label>
					     <div id="ErrorPasswordHint" class="alert alert-danger" style="display:none"></div>
					  </div>
					 </div>
					  <!-- Submit button -->
					  <div class="row g-1 mt-3">
					  
					  <div class="pt-2 col">
					   <a href="/login">Sign in instead</a>
					  </div>
					  <div class="col-2"></div>
					  <div class="col mr-0">
					  		<button type="button" class="btn btn-primary btn-block btn-style mb-4" id="register">Apply for registration</button>
					  </div>
					  </div>
					   <div class="row g-1">
					      <div id="globalMessage" class="alert alert-success" style="display:none"></div>
					   </div>
					</form>  
			</div>
          </div>
         

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
     
      <!-- Footer -->
      <footer class="sticky-footer bg-dark">
        <div class=" my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
              <b><a href="" target="_blank"></a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/jqwidgets/jqxscrollbar.js"></script> 
  <script src="/js/jqwidgets/jqxlistbox.js"></script> 
  <script src="/js/jqwidgets/jqxdropdownlist.js"></script> 
  <script src="/js/config/session_storage.js"></script>
  <script src="/js/bourse/signup.js"></script> 
   <script src="/js/notification/sockjs.js"></script>
  <script src="/js/notification/stomp.js"></script>
  <script src="/js/notification/config.js"></script>
</html>