<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>Libvol - Dashboard</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/ruang-admin.min.css" rel="stylesheet">
  <link href="/css/marquee.css" rel="stylesheet">
  <link href="/css/apexchart.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/jqx.base.css" type="text/css" />
  <link href="/css/jqx.dark.css" rel="stylesheet">
  <link href="/css/notification.css" rel="stylesheet">
  <style>

	.jqx-widget-content-dark {
    background-color: #1c2134;
    }
	.jqx-group-button-normal.jqx-fill-state-pressed {
	    border-radius: 4px;
	}
	.jqx-notification-info, .jqx-info {
	    color: #ffffff !important;
	    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%) !important;
	    background-color: #1a233a !important;
	    background-color: rgb(102 187 106 / 27%) !important;
	    border-left-color: #66bb6a !important;
	    border-right-color: #66bb6a !important;
	    border-top-color: #66bb6a !important;
	    border-bottom-color: #66bb6a !important;
	    text-align: center;
	    margin-bottom: 0!important;
	}
	.jqx-notification {
	     padding: 0px;
	}
	.jqx-notification-close-button {
	     top: 0;
	}
	.jqx-notification-close-button-ltr {
	     right: 0;
	}
  </style>
</head>

<body id="page-top">
  <div id="wrapper">
 
    <div id="content-wrapper" class="d-flex flex-column">
   
       
    <div id="fixedMenu">
 		<!-- TopBar -->
     	<div th:include="${mainmenu}"></div>
        <!-- Topbar -->
             <div class="d-sm-flex align-items-center">
            <h1 class="ml-6 text-darkorange">Admin</h1>
            	 <nav style="margin-left: 3rem;
    						 height: 35px;
    						 margin-top: 0.5rem;">
				  
				  <div class="navigation nav nav-tabs" id="nav-tab" role="tablist">
				   	<span id="notification1" class="notification"></span>
				    <a sec:authorize="hasAuthority('USERS_SCREEN')" class="navigation nav-item nav-link active" id="nav-column-master-tab" href="/bourse/users" role="tab" aria-controls="nav-any2" aria-selected="false">Users</a>
				    <a sec:authorize="hasAuthority('ROLE_SCREEN')" class="navigation nav-item nav-link" id="nav-column-master-tab" href="/bourse/roles" role="tab" aria-controls="nav-any2" aria-selected="false">Roles</a>
				  </div>
				</nav>
            </div>
             <div id="overlay" class="col-12">
		     			<img src="/css/images/loader.gif" alt="Loading" width="46px" />
		   </div>
          </div>
           <div id="content">
        <!-- Container Fluid-->
     <div class="container-fluid" id="container-wrapper" style="display:none;">
 	
          <div class="justify-content-between ">
	 		  <div class="row g-2 mb-4 mt-2 ">
	 		  	<div class="col">
	 		  	<span id="notification2" class="notification"></span>
					<div id='userTabs'>
			            <button sec:authorize="hasAuthority('PENDING_APPROVAL_GRID')" style="padding:4px 16px;line-height: 2rem; border-bottom-right-radius: 0;border-top-right-radius: 0;" id="PENDING_APPROVAL" >Pending Approval</button>
			            <button sec:authorize="hasAuthority('DECLINED_USER_GRID')" style="padding:4px 16px;line-height: 2rem; border-radius:0" id="DECLINED">Declined</button>
			            <button sec:authorize="hasAuthority('ACTIVE_USER_GRID')" style="padding:4px 16px;line-height: 2rem; border-bottom-left-radius: 0;border-top-left-radius: 0;" id="ACTIVE">Active</button>
			            <button sec:authorize="hasAuthority('DISABLED_USER_GRID')" style="padding:4px 16px;line-height: 2rem; border-bottom-left-radius: 0;border-top-left-radius: 0;" id="DISABLED">Disabled</button>
			        </div>
				</div>
	 		  	<div class="col-8">
		 		  <div class="" id="notifcationContainer" style="max-height:40px">
					<div id="jqxNotification">
						<div id="notificationContent">
	        			</div>
			         </div>
				  </div>
			  </div>
	 		  </div>
			  <div id="grid">
			  </div>
      </div>
      	<div id="alert-modal-robot" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">
		       Robots are now being executed, try again in 30 seconds.
		      </div>
		    </div>
		  </div>
	 </div>
		<div id="alertMembership-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		
		      <div class="modal-header bg-warning">
		        <h4 class="modal-title white" id="myLargeModalLabel">Warning</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        Please Select a Membership Duration.
		      </div>
		    </div>
		  </div>
	 </div>
      <div class="NewsBack container" style="position: fixed; bottom: 0px; left: 0px; max-width: 100%;  border: 2px; border-color: black;">
      	<div class="simple-marquee-container">
				<div class="marquee-sibling-date">
					<p id="todayDate"></p>
				</div>
				<div class="marquee-sibling">
					NEWS
				</div>
				<div class="marquee">
					<ul id="Newslist" class="marquee-content-items">
					</ul>
				</div>
				<div class="marquee-sibling-viewAll">
					 <input type="button" value="VIEW ALL" id='viewall' style="display:none;"/>
				</div>
			</div>
		</div>
      <!-- Footer -->
      <!-- Footer -->
    </div>
  </div>

 
  </div>
  </div>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/js/marquee.js"></script>
  
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/jqwidgets/jqxcore.js"></script> 
  <script src="/js/jqwidgets/jqxbuttons.js"></script> 
  <script src="/js/jqwidgets/jqxscrollbar.js"></script> 
  <script src="/js/jqwidgets/jqxtree.js"></script>
  <script src="/js/jqwidgets/jqxcheckbox.js"></script>
  <script src="/js/jqwidgets/jqxmenu.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.selection.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.columnsresize.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.edit.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.pager.js"></script> 
  <script src="/js/jqwidgets/jqxgrid.filter.js"></script> 
  <script src="/js/jqwidgets/jqxdropdownlist.js"></script> 
  <script src="/js/jqwidgets/jqxbuttongroup.js"></script> 
  <script src="/js/jqwidgets/jqxlistbox.js"></script> 
  <script src="/js/jqwidgets/jqxdata.js"></script> 
  <script src="/js/jqwidgets/jqxwindow.js"></script>
  <script src="/js/jqwidgets/jqxinput.js"></script>
  <script src="/js/jqwidgets/jqxdatetimeinput.js"></script>
  <script src="/js/jqwidgets/jqxcalendar.js"></script>
  <script src="/js/jqwidgets/jqxnotification.js"></script>
  <script src="/js/bourse/userPage.js"></script> 
  <script src="/js/bourse/scrollBarNews.js"></script> 
  <script src="/js/common.js"></script>
  <script src="/js/notification/sockjs.js"></script>
  <script src="/js/notification/stomp.js"></script>
  <script src="/js/notification/config.js"></script>
  <script th:inline="javascript">
    const authorities = /*[[${session.SPRING_SECURITY_CONTEXT.authentication.authorities}]]*/ "";
    const hasPendingApprovalGrid= authorities.filter(item => {
    	   return item.authority === "PENDING_APPROVAL_GRID"
    })[0]!== undefined;
   
  </script>
 
</body>

</html>